{% extends 'layout.html' %}

{% block pageTitle %}
We’re considering your application
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Contact us
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            We cannot continue with your Healthy Start application online
          </h2>
          <h3 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            Reference number: <span class="nhsuk-caption-xl nhsuk-caption--bottom nhsuk-u-font-weight-bold" style="color: white;">0D87629108</span>
          </h3>
        </div>
      </div>

      <p>Our records show you may already get help to buy food and milk.</p>

      <p>Contact us and let us know if:</p>
      <ul>
        <li>you need to add a new pregnancy to your claim – make sure you tell us your expected due date </li>
        <li>you’ve had a new baby – tell us within 12 weeks so your payments are not interrupted</li>
        <li>you need to add a new child to your claim – make sure you tell us their full name and date of birth</li>
        <li>you need to remove a child or a pregnancy from your claim</li>
        <li>your card has been lost or stolen</li>
        <li>you are not sure if we’re already making Healthy Start payments for your children or your pregnancy </li>
      </ul>

      
      <h2 class="nhsuk-heading-m">How to contact us</h2>

      <p>You can contact us by:</p>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">

        <ul class="nhsuk-list">
          <li><strong>Email:</strong><a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk"> healthy.start@nhsbsa.nhs.uk</a></li> 
          <li>We can deal with all queries by email.</li>
          <li>We aim to respond within 2 working days.</li>
        </ul>
      
        <ul class="nhsuk-list">
          <li><strong>Telephone:</strong></li>
          <li>To report your card as lost or stolen, call 0300 330 2090 <br> Phone lines are open 24 hours a day, 7 days a week.</li>
        </ul>


        <ul class="nhsuk-list">
          <li>For all other queries, email is the easiest way to contact us. If you cannot email us, 
            you can call 0300 330 7010 <br> Phone lines are open 8am to 6pm, Monday to Friday (excluding public holidays).</li>
        </ul>
      

        <p>
          <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">
            Find out more about call charges (opens in a new tab).</a>
        </p>

      </div>

      <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="https://online1.snapsurveys.com/interview/feced57a-91da-474b-82a2-c3307f4e12d8" target="_blank">What did you think of this service?</a> (takes 2 minutes)
        </p>
    </div>
  </div>

{% endblock %}