{% extends 'layout.html' %}

{% block pageTitle %}
Application unsuccessful
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application unsuccessful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            You’re not entitled to get help to buy food and milk (Healthy Start).
          </h2>
        </div>
      </div>
      
      <p>To qualify for the Healthy Start scheme, you must be more than 10 weeks pregnant or have at least one child under 4 years old.</p>

      <p>If you’re less than 10 weeks pregnant and have no other children, you’ll need to apply again when you’ve completed your tenth week of pregnancy.</p>

      <p>If you’re more than 10 weeks pregnant or have any children under 4 years old, check that you’ve entered your details correctly.</p>

      <h2 class="nhsuk-heading-m">Any problems</h2>

      <p>If there’s a change in your circumstances, or you think there’s been a mistake, you can contact us by:</p>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">

        <ul class="nhsuk-list">
          <li>Telephone: 0300 330 7010</li>
          <li>This phoneline is available Monday to Friday, 8am to 6pm (except public holidays).</li>
        </ul>
        
        <p>
          <a class="nhsuk-link" href="hhttps://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out more about call charges (opens in new tab)</a>.
        </p>

        <ul class="nhsuk-list">
          <li>Email: <a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a></li>
          <li>We aim to respond to your email within 2 working days.</li>
        </ul>

      </div>
      
      <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="#" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 2 minutes).</p>



    </div>
  </div>

{% endblock %}