{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h1><span role="text"><span class="nhsuk-caption-xl nhsuk-caption--top">Welcome back <span
              class="nhsuk-u-visually-hidden">-</span></span></span> Riley Jones</h1>
    <!-- <p>Claim status: <strong class="nhsuk-tag nhsuk-tag--blue">Active</strong></p> -->
    </div>

<div class="nhsuk-grid-column-full clear-float">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Name</h2>
                <p id="userName">Riley Jones</p>

                <!--<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">National Insurance number</h2>
                <p id="studentEmail">CD 65 43 21 B</p>-->


                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Email address</h2>
                <p id="userDOB">rileyjones1999@gmail.com</p>
<!-- 
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Have children under 4</h2>
                <p id="userPregnancy">Yes</p> -->
            </div>
            <div class="nhsuk-grid-column-one-third">
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Date of birth</h2>
                <p id="userDOB">2 February 1999</p>


                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Mobile number</h2>
                <p id="userMobile">07510318338</p>

                 
            </div>
            <div class="nhsuk-grid-column-one-third">
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Address</h2>
                <p id="userAddress">
                    15 Palm Road, 
                    London, 
                    NR33 4GP
                </p>

                <!-- <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Currently pregnant</h2>
                <p id="userPregnancy">Yes</p> -->
<!-- 
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Due date</h2>
                <p id="userPregnancy">31 October 2025</p>  -->

            </div>
        </div>
</div>
</div> 

<!-- <details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Your personal detail is incorrect or outdated 
    </span>
  </summary>
  <div class="nhsuk-details__text">
    We need the details in your NHS record to be up to date. Contact us.
  </div>
</details> -->
<br><br>




<h3 class="nhsuk-heading-m">About your eligibility</h3> 
<p style="text-align: right; margin: 0;">Total payment you receive: £34</p> <br>
<div class="nhsuk-tabs" data-module="nhsuk-tabs">
  <h2 class="nhsuk-tabs__title">
    Contents
  </h2>
  <ul class="nhsuk-tabs__list">
    <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
      <a class="nhsuk-tabs__tab" href="#pregnancy">
        Pregnancy
      </a>
    </li>
    <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item">
      <a class="nhsuk-tabs__tab" href="#children">
        Children
      </a>
    </li>
  </ul>

   <div class="nhsuk-tabs__panel" id="pregnancy">
    <table class="nhsuk-table-responsive" role="table">
      <thead class="nhsuk-table__head" role="rowgroup">
        <tr role="row">
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Eligibility</th>
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Due date</th>
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Entitlement</th>
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Status</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Eligibility </span>Pregnancy</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Due date </span>2 February 2023</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£4.25 each week</td> 
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag">Active</strong></td>
        </tr>
      </tbody>
    </table>
  </div>  


  <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="children">
    <table class="nhsuk-table-responsive" role="table">
      <thead class="nhsuk-table__head" role="rowgroup">
        <tr role="row">
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Eligibility</th>
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Name</th>
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Date of birth</th>
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Entitlement</th>
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Start date</th>
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">End date</th>
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Status</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Eligibility </span>Child under 1</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Matthew Smith</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>2 February 2023</td> 
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£8.50 each week</td> 
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Start date </span>6 July 2025</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">End date </span>4 August 2025</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag">Active</strong></td>
        </tr>
      </tbody>
      <tbody class="nhsuk-table__body">
         <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Eligibility </span>Child under 1</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Ben Smith</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>17 May 2023</td> 
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£4.25 each week</td> 
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Start date </span>6 July 2025</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">End date </span>4 August 2025</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag nhsuk-tag--grey">Inactive</strong></td>
        </tr>
        
        
      </tbody>
      <tbody class="nhsuk-table__body">
         <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Eligibility </span>Child under 4</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Emily Smith</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>17 May 2023</td> 
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£4.25 each week</td> 
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Start date </span>6 July 2025</strong></td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">End date </span>4 August 2025</strong></td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag nhsuk-tag--grey">Inactive</strong></td>
        </tr> 
      </tbody>
    
    
</table>
</div>














</div>
{% endblock %}