{% extends 'layout.html' %}

{% block pageTitle %}
Application unsuccessful
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application unsuccessful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            We cannot complete your Healthy Start application online
          </h2>
        </div>
      </div>

      <p>If you get Universal Credit, follow these steps and 
        <a class="nhsuk-link" href="#" target="_blank">apply again online.</a></p>
      

      
      <h2 class="nhsuk-heading-m">1. Check your details</h2>
      <p>If you’re more than 10 weeks pregnant or have children under the age of 4, 
        <a class="nhsuk-link" href="#" target="_blank">go to your Universal Credit account</a> 
        to check how your details are listed on your Universal Credit claim.
      </p>



      <h2 class="nhsuk-heading-m">2. Make sure your details match</h2>
      <p>When you apply for Healthy Start, the details you give us must match exactly with the details on your Universal Credit claim. This includes your:
      <ul>
        <li>name</li>
        <li>date of birth</li>
        <li>address, including postcode</li>
        <li>children's names and dates of birth</li>
      </ul>
      </p>



      <h2 class="nhsuk-heading-m">3. If you’re pregnant, check your due date</h2>
      <p>We use the estimated due date that you give us to work out if you're more than 10 weeks pregnant.</p>
      <p>If you're less than 10 weeks pregnant and have no other children under the age of 4, you'll need to apply again after you've completed your tenth week of pregnancy.</p>



      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I do not get Universal Credit but I think I’m eligible for Healthy Start
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>You may be eligible for Healthy Start if you’re more than 10 weeks pregnant and you:</p>
          <ul>
            <li>are under 18</li>
            <li>get Employment and Support Allowance (ESA)</li>
          </ul>
          <p>You may also be eligible if you’re more than 10 weeks pregnant or have at least one child under 4, and you get:</p>
          <ul>
            <li>Child Tax Credit</li>
            <li>Jobseeker’s Allowance (JSA)</li>
            <li>Income Support</li>
            <li>Pension Credit</li>
          </ul>
          <p>To apply, contact us by:</p>

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Email: <a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a></p>
            <p>Telephone: 0300 330 7010
            <br>
            Phone lines are open Monday to Friday, 8am to 6pm (except public holidays).</p>
            <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out more about call charges (opens in a new tab).</a></p>
          </div>


        </div>
      </details>



      </div>
  </div>

{% endblock %}
