{% extends 'layout.html' %}

{% block pageTitle %}
Application successful
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-panel nhsuk-u-margin-bottom-5" style="background: #005EB8; margin-top: 0;">

            <h1 class="nhsuk-panel__title" style="color: white;">Application successful</h1><span class="nhsuk-caption-xl nhsuk-caption--bottom" style="text-align: center; color: white;">You’re entitled to <strong>{% if data['lessThanTenWeeksPregnant'] == true %}£3.10{% else %}£6.20{% endif %}</strong> a week.<br>
            Your first payment will be <strong>{% if data['lessThanTenWeeksPregnant'] == true %}£12.40{% else %}£24.80{% endif %}</strong>.</span>

            <div class="nhsuk-panel__body nhsuk-u-margin-top-5" style="color: white;">
              Reference number:<br><strong>HDJ2123F</strong>
            </div>
                                
        </div>

          <h2 class="nhsuk-heading-m">What happens next</h2>

          <p>{% if (data['emailaddress']) %}We’ve sent you an email with more information.{% elif (data['telephonenumber']) %}We’ve sent you a text message with more information.{% else %}We’ve sent you a letter with more information.{% endif %}</p>      

          <p>You should receive your card by post within 5 to 10 working days. It will come with your first payment on it and instructions on how to activate and use it.</p>

          <p>Money will be added to your card every 4 weeks. You must <a href="https://www.healthystart.nhs.uk/get-help-to-buy-food-and-milk/using-your-card" target="_blank">spend all the money within 16 weeks</a> to make sure you get this full amount.</p>

          <h2 class="nhsuk-heading-m">Any problems</h2>

          <p>If you do not get your card, there’s a change in your circumstances or you think a mistake has been made, you can contact us by:</p>

          <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">

            <ul class="nhsuk-list">
              <li>Telephone: 0300 330 7010</li>
              <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
            </ul>
            
            <p>
              <a class="nhsuk-link" href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges</a>
            </p>

            <ul class="nhsuk-list">
              <li>Email: <a class="nhsuk-link" href="mailto:nhsbsa.applyforhealthystart@nhsbsa.nhs.uk">nhsbsa.applyforhealthystart@nhsbsa.nhs.uk</a></li>
              <li>We aim to respond within 2 working days</li>
            </ul>

      </div>

          <h2 class="nhsuk-heading-m">Give feedback</h2>
          <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30 seconds).</p>


    </div>

</div>

{% endblock %}