{% extends 'layout.html' %}

{% block pageTitle %}
Are you pregnant?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1>Terms and conditions</h1>

        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">Declaration</h3>

  <!-- 

            <p>You confirm that this information is correct as of
              <script>
                var today = new Date();
                var dd = today.getDate();

                var month = new Array();
                month[0] = "January";
                month[1] = "February";
                month[2] = "March";
                month[3] = "April";
                month[4] = "May";
                month[5] = "June";
                month[6] = "July";
                month[7] = "August";
                month[8] = "September";
                month[9] = "October";
                month[10] = "November";
                month[11] = "December";

                var mm = month[today.getMonth()]; //January is 0!


                var yyyy = today.getFullYear();

                if (dd < 10) {
                  dd = '0' + dd
                }

                if (mm < 10) {
                  mm = '0' + mm
                }

                today = dd + ' ' + mm + ' ' + yyyy;
                document.write(today);
              </script>.</p>

-->

            <p>You confirm that:</p>
            <ul>
              <li>the information you’ve given is correct as of today. You must tell us if your circumstances or personal details change.</li>
              <li>you understand that you must only buy permitted items with the money you’re given.</li>
              <li>you understand that we’re acting on behalf of the Department of Health and Social Care.</li>
              <li>you give us permission to submit this application on your behalf.</li>
              <li>you know we’ll use your information and share it with other organisations where necessary.</li>
              <li>you understand your data will not be transferred outside the European Economic Area and will be deleted within 24 months after your eligibility ends.</li>
              <li>you know this is a pilot scheme and consent to your data being used to evaluate it.</li>
            </ul>
            <p>You understand and agree that the Department of Health and Social Care can:</p>
            <ul>
              <li>check with other organisations associated with the service that the information you’ve given is correct.</li>
              <li>stop your payments and ask you to repay the money if you apply illegally.</li>
            </ul>
            <p>You can find more information at <a href="www.nhsbsa.nhs.uk/privacy" target="_blank">www.nhsbsa.nhs.uk/privacy</a>.</p>
            <p>By continuing with your application, you’re happy to accept the terms and conditions.</p>
          </div>

          <form action="/v9/check-your-answers" method="post">

            <button class="nhsuk-button" type="submit">
                Accept and send
            </button>

        </form>

    </div>
</div>

{% endblock %}