{% extends 'layout.html' %}

{% block pageTitle %}
We’re considering your application
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-panel nhsuk-u-margin-bottom-5"
           style="background: #005EB8; margin-top: 0;">
        <h1 class="nhsuk-panel__title" style="color: white;">We cannot find you in our records</h1>
      </div>
      <p>You may have entered something wrong.</p>
      <h2 class="nhsuk-heading-m">What happens next?</h2>
      <p>If you think a mistake has been made:</p>
      <ul>
        <li>call 0300 330 7010</li>
        <li>select option 3</li>
      </ul>
      <h2 class="nhsuk-heading-m">Give feedback</h2>
      <p><a href="#">What did you think of this service?</a> (takes 30 seconds).</p>
    </div>
  </div>

{% endblock %}