{% extends 'layout.html' %}

{% block pageTitle %}
Application successful
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
              <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                Application successful
              </h1>
              <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
                You’re entitled to <strong>£3.10</strong> a week.<br>
                Your first payment will be <strong>£12.40</strong>.
              </h2>
              <h3 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
                Reference number: <span class="nhsuk-caption-xl nhsuk-caption--bottom nhsuk-u-font-weight-bold" style="color: white;">HDJ2123F</span>
              </h3>
            </div>
          </div>

          <h2 class="nhsuk-heading-m">What happens next</h2>
          
          <p>We’ll pay £12.40 into your bank account within 7 days.</p>
          <p>You’ll then get a payment every 4 weeks after that.</p>

          <h2 class="nhsuk-heading-m">Any problems</h2>

          <p>If you do not get your money, there’s a change in your circumstances or you think a mistake has been made:</p>
          <ul>
            <li>email <a href="mailto:email@example.com">email@example.com</a></li>
          </ul>
          <p>We aim to respond within 2 working days</p>

          <h2 class="nhsuk-heading-m">Give feedback</h2>
          <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074">What did you think of this service?</a> (takes 30 seconds).</p>

    </div>

</div>

{% endblock %}