{% extends 'layout.html' %}

{% block pageTitle %}
What is your address?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">
            What is your address?
        </h1>

        <p>You should enter the address listed on youyr most recent benefit award notice.</p>

        <form action="v24/address" method="post">

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="addressline1">
                    Address line 1
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="addressline1" name="addressline1" type="text" autocomplete="address-line1">
            </div>

            <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="addressline2">
                    Address line 2 (optional)
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="addressline2" name="addressline2" type="text" autocomplete="address-line2">
            </div>

            <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="towncity">
                    Town or city
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="towncity" name="towncity" type="text" autocomplete="address-level2">
            </div>

            <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="postcode">
                    Postcode
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code">
            </div>

            <p><a href="postcode">Search by postcode</a></p>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}