{% extends 'layout.html' %}

{% block pageTitle %}
What is your address?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">
            Select your address
        </h1>

        <p>You should select the address listed on your most recent benefit award notice.</p>


        <p>Postcode</p>
        <p>NR33 4GP <a href="">Change</a></p>

        <form action="v24/address-2-update-without-cv-2" method="post">

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="select-1">
                  
                </label>
                <select class="nhsuk-select" id="select-1" name="select-1">
                  <option value="" selected>Select your address</option>
                  <option value="Flat 1A, 12 Palm Road, London, NR33 4GP">Flat 1A, 12 Palm Road, London, NR33 4GP</option>
                  <option value="Flat 1B, 12 Palm Road, London, NR33 4GP">Flat 1B, 12 Palm Road, London, NR33 4GP</option>
                  <option value="13 Palm Road, London, NR33 4GP">13 Palm Road, London, NR33 4GP</option>
                  <option value="14 Palm Road, London, NR33 4GP">14 Palm Road, London, NR33 4GP</option>
                  <option value="15 Palm Road, London, NR33 4GP">15 Palm Road, London, NR33 4GP</option>
               </select>
              </div>

            <p><a href="address">My address is not listed</a></p>


        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Why we ask for your address
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <!--<p><b>If you're under 18 and not claiming any benefits</b></p> -->
            <p>We use your address to match your
              details with the benefit agency and
              check you’re eligible for Healthy
              Start.</p>
            <!--<p><b>If you do not have a permanent address</b></p> -->
            <p>If you’re eligible, we’ll send your
              Healthy Start card to this address.</p>
            <p>If you’re under 18 and do not have a
              current benefit award notice, you
              cannot apply online. You’ll need to
              contact us by:</p>
            <ul>
              <li>email: <a href="">healthy.start@nhsbsa.nhs.uk</a></li>
              <li>telephone: 0300 330 7010 - this call will be charged at the local rate</li>
            </ul>
            <p><a href="">Find out more about call charges (opens in new tab).</a></p>
          </div>
        </details>


            <!--<button class="nhsuk-button" type="submit">
                Continue
            </button>-->

            <p><a href="/v24/apply/check-your-answers-no-nino" class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Continue
            </a></p>

        </form>

    </div>
</div>

{% endblock %}