{% extends 'layout.html' %}

{% block pageTitle %}
More information needed
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
      <div class="nhsuk-card__content">
        <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
          Application in progress
        </h1>
        <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
          We need more information from you
        </h2>
        <h3 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
          Reference number: <span class="nhsuk-caption-xl nhsuk-caption--bottom nhsuk-u-font-weight-bold"
            style="color: white;">{% if (data['firstname'] == 'Malia') and (data['lastname'] == 'Elba') %}REF1234A{%
            else %}ABC1234D{% endif %}</span>
        </h3>
      </div>
    </div>

    {% if (data['firstname'] == 'Malia') and (data['lastname'] == 'Elba') %}
    <p>We have been unable to confirm your children's eligibility on your Universal Credit claim.</p>
    {% else %}
    <p></p>
    {% endif %}

    <h2 class="nhsuk-heading-m">What you need to do next</h2>
    <p>To continue with your application, you need to send us more evidence. We need to get this evidence by ((application date + 16 weeks)).</p>

    <h2 class="nhsuk-heading-m">Proof of identity and eligibility</h2>
    <p>You need to send copies of:</p>
    <ul>
      <li>one document that proves your identity - for example, birth or marriage certificate, current passport, current driving licence or immigration visa</li>
      <li>your current benefit award notice - include copies of every page</li>
      <li>birth certificates for every child named on your application</li>
    </ul>

    {% if (data['firstname'] == 'Malia') and (data['lastname'] == 'Elba') %}
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>proof of your children's eligibility (birth certificate)</li>
    </ul>
    {% else %}
    <h2 class="nhsuk-heading-m">Proof of address</h2>
    <p>We also need to see copies of 3 documents that prove your address.</p>
    <p>You need to send a copy of one document from the list:</p>
    <ul>
      <li>current driving licence</li>
      <li>current benefit award notice</li>
    </ul>
    <p>You need to send copies of 2 documents from this list:</p>
    <ul>
      <li>one or more utility bills dated within the last 3 months - for example, electricity bill, gas bill, water bill, sewerage bill, home telephone bill or mobile phone bill</li>
      <li>a council tax bill dated within the last 12 months</li>
    </ul>

    <h2 class="nhsuk-heading-m">How to send your evidence</h2>
    <h2 class="nhsuk-heading-m">Email us</h2>
    <p>The quickest and easiest way to send your evidence is by email to healthy.start@nhsbsa.nhs.uk</p>
    <p>Make sure you include your reference number (ABC1234D).</p>

    <h2 class="nhsuk-heading-m">Post your evidence</h2>
    <p>If you are not able to email your evidence, you can post copies of your documents to:</p>
    <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
      <span class="nhsuk-u-visually-hidden">Information:</span>
      <p>NHS Healthy Start Scheme (ABC1234D),<br>NHS Business Services Authority,<br>Bridge House,<br>152 Pilgrim
        Street,<br>Newcastle upon Tyne,<br>NE1 6SN</p>
    </div>
    <p>If you're posting your evidence, make sure you use the correct postage.</p>
    <p>You should send copies of your evidence. Do not send original documents.</p>

    <h2 class="nhsuk-heading-m">What happens next</h2>
    <p>It can take up to 5 days for us to process your application. We'll let you know if your application is successful.</p>
    <p>If your application is successful, we'll backdate your payment to the date you applied and send your NHS Healthy STart card by post. Your card can take 5 to 10 days to arrive.</p>
    <p>If we do not get your documents by ((application date +16 weeks)), we will close your application and you'll need to reaaply.</p>
    {% endif %}
    

    <h2 class="nhsuk-heading-m">Give feedback</h2>
    <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this
        service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30 seconds).</p>
  </div>
</div>

{% endblock %}