{% extends 'layout.html' %}

{% block pageTitle %}
Do you have a current Healthy Start claim?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

    <form action="v24/what-change" method="post">

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
            <h1 class="nhsuk-fieldset__heading">
              What change do you need to make to your claim?
            </h1>
          </legend> 
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="pregnant" name="whatchange" type="radio" value="add-pregnancy">
              <label class="nhsuk-label nhsuk-radios__label" for="whatchange">
                Add a new pregnancy
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="addnew" name="whatchange" type="radio" value="add-baby-child">
              <label class="nhsuk-label nhsuk-radios__label" for="whatchange">
                Add a new baby or child
              </label>
            </div>


            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="addnew" name="whatchange" type="radio" value="card-issue">
              <label class="nhsuk-label nhsuk-radios__label" for="whatchange">
                My card has been lost, damaged or stolen
              </label>
            </div>



            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="personaldetail" name="whatchange" type="radio" value="else">
              <label class="nhsuk-label nhsuk-radios__label" for="whatchange">
                I need to do something else
              </label>
            </div>
            <!--
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="childrensdetails" name="whatchange" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="whatchange">
                Update your children’s details
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="somethingelse" name="whatchange" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="whatchange">
                I need to do something else
              </label>
            </div>
            -->

          </div>
        </fieldset>
      

      </div>
      <!--
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I need to do something else
          </span>
        </summary>
        <div class="nhsuk-details__text"> 
          <p>
            If you need to update your claim in a different way or 
            let us know about a child or baby loss, you can contact us by: </p>

            <p>Email: <a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a>
              </p>
            
            <p>Phone:</p> 
            <p>Phone lines are open Monday to Friday, 8am to 6pm.</p>
          
            <p><a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">
                Find out more about call charges (opens in new tab).</a></p>



            <h2 class="nhsuk-heading-m">Support organisations</h2>
            <p>If you’ve lost your child or baby, the following organisations give support and advice:</p>
            <ul>
              <li><a class="nhsuk-link" href="https://www.nhs.uk/mental-health/social-care-and-your-rights/how-to-access-mental-health-services/" target="_blank">
                NHS How to access mental health services</a></li>
              <li><a class="nhsuk-link" href="https://www.sands.org.uk/" target="_blank">
                Sands</a></li>
              <li><a class="nhsuk-link" href="https://www.tommys.org/" target="_blank">
                Tommy's</a></li> 
              <li><a class="nhsuk-link" href="https://www.arc-uk.org/" target="_blank">
                Antenatal Results and Choices (ARC)</a></li>
              <li><a class="nhsuk-link" href="https://www.sayinggoodbye.org/" target="_blank">
                Saying Goodbye</a></li>
              <li><a class="nhsuk-link" href="https://www.miscarriageassociation.org.uk/" target="_blank">
                The Miscarriage Association</a></li>
              <li><a class="nhsuk-link" href="https://www.petalscharity.org/" target="_blank">
                Petals</a></li>
              <li><a class="nhsuk-link" href="https://www.daddyswithangels.org/" target="_blank">
                Daddys with Angels</a></li>
            </ul>




  

        </div>
        </details>
        -->        
      <button class="nhsuk-button" type="submit">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}