{% extends 'layout.html' %}

{% block pageTitle %}
Application not successful
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application not successful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            You’re not
              entitled to get help to buy food and milk (Healthy Start)
          </h2>
        </div>
      </div>

      <p>Based on your answers, you are not eligible to get money off milk, food and vitamins.</p>
      <h2 class="nhsuk-heading-m">Any problems</h2>
      <p>If you think a mistake has been made, you can contact us by:</p>
      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">

        <ul class="nhsuk-list">
          <li>Telephone: 0300 330 7010</li>
          <li>This phoneline is available Monday to Friday, 8am to 6pm (except public holidays).</li>
        </ul>
        
        <p>
          <a class="nhsuk-link" href="hhttps://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges</a>
        </p>

        <ul class="nhsuk-list">
          <li>Email: <a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a></li>
          <li>We aim to respond to your email within 2 working days.</li>
        </ul>

      </div>
      <h2 class="nhsuk-heading-m">Give feedback</h2>
      <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this
              service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30
          seconds).</p>
    </div>
  </div>

{% endblock %}