{% extends 'layout.html' %}

{% block pageTitle %}
We’re considering your application
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-panel nhsuk-u-margin-bottom-5"
           style="background: #005EB8; margin-top: 0;">
        <h1 class="nhsuk-panel__title" style="color: white;">We cannot find you in our records</h1>
      </div>
      <p>You may have entered something wrong.</p>
      <h2 class="nhsuk-heading-m">Any problems</h2>
      <p>If you think a mistake has been made:</p>
      <ul>
        <li>email <a href="mailto:nhsbsa.applyforhealthystart@nhsbsa.nhs.uk" target="_blank">nhsbsa.applyforhealthystart@nhsbsa.nhs.uk</a></li>
      </ul>
      <p>We aim to respond within 2 working days</p>
      <h2 class="nhsuk-heading-m">Give feedback</h2>
      <p><a href="../feedback">What did you think of this service?</a> (takes 30 seconds).</p>
    </div>
  </div>

{% endblock %}