// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

.u-ratio {
    position: relative;
    overflow: hidden;
}
.u-ratio > * {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.u-ratio::before {
    content: "";
    display: block;
    padding-top: 100%;
    overflow: hidden;
}
.u-ratio--16x9::before {
    padding-top: 56.25%;
}

// Images

.nhsuk-image__img__350 {
    width: 100%;
    @media (min-width: 48.0625em) {
        width: 350px;
    }
}

.nhsuk-image__img__150 {
    width: 100%;
    @media (min-width: 48.0625em) {
        width: 150px;
    }
}
