{% extends 'layout.html' %}

{% block pageTitle %}
Page not found
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            Page not found
        </h1>

        <p>
            If you typed the web address, check it is correct.
        </p>

        <p>
            If you pasted the web address, check you copied the entire address.
        </p>

        <p>
            Email us at <a href="mailto:nhsbsa.applyforhealthystart@nhsbsa.nhs.uk">nhsbsa.applyforhealthystart@nhsbsa.nhs.uk</a> if you need to speak to somebody about your application. We aim to respond within 2 working days.
        </p>

    </div>
</div>

{% endblock %}