<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout.html' %} <!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Get help to buy food and milk{% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}
      <h2>Get help to buy food and milk<span class="nhsuk-caption-l nhsuk-caption--bottom">APPLY - User Journey (v6)</span></h2>
        <div class="u-ratio u-ratio--16x9">
            <iframe width="960" height="540" src="https://miro.com/app/embed/o9J_l6Y_jrQ=/?autoplay=yep" frameborder="0" scrolling="no" allowfullscreen></iframe>
        </div>
        <p class="nhsuk-u-margin-top-6">Use the plus and minus to zoom.</p>
        <p>You can make the map full screen by using the arrows, use <kbd>Esc</kbd> (the escape key) to exit the full screen view.</p>
    </div>
  </div>
  {% endblock %}
</body>
</html>
