{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1><span role="text">Before you start</span></h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p>NHS Healthy Start uses government data sources to check your eligibility.
        </p>
        <h2 class="nhsuk-heading-s">We'll ask for your:</h2>

        <ul>
            <li>personal details (including your National Insurance number)</li>
            <li>estimated due date (if you’re pregnant)</li>
            <li>children’s names and dates of birth (if you have any children under 4 years old)</li>
        </ul>

        <div class="nhsuk-warning-callout nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-6">
            <h3 class="nhsuk-warning-callout__label">
                <span role="text">
                    <span class="nhsuk-u-visually-hidden">Important: </span>
                    Universal Credit claimants
                </span>
            </h3>
            <p>The details you use to apply for Healthy Start must match the details on your Universal Credit claim.</p>
            <p>Go to your <a href="https://www.gov.uk/sign-in-universal-credit" target="_blank">Universal Credit
                    account (opens in a new tab)</a> to check:
            </p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>your address details, including your postcode</li>
                    <li>all of your children are named on your Universal Credit claim</li>
                </ul>   
        </div>

        <p><a href="apply/where-do-you-live"
                class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Continue</a></p>

    </div>

</div>
{% endblock %}