{% extends 'layout.html' %}

{% block pageTitle %}
Terms and Conditions – Get help to buy food and milk (Healthy Start) - NHSBSA
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1>Terms and conditions</h1>

        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">Declaration</h3>

  <!-- 

            <p>You confirm that this information is correct as of
              <script>
                var today = new Date();
                var dd = today.getDate();

                var month = new Array();
                month[0] = "January";
                month[1] = "February";
                month[2] = "March";
                month[3] = "April";
                month[4] = "May";
                month[5] = "June";
                month[6] = "July";
                month[7] = "August";
                month[8] = "September";
                month[9] = "October";
                month[10] = "November";
                month[11] = "December";

                var mm = month[today.getMonth()]; //January is 0!


                var yyyy = today.getFullYear();

                if (dd < 10) {
                  dd = '0' + dd
                }

                if (mm < 10) {
                  mm = '0' + mm
                }

                today = dd + ' ' + mm + ' ' + yyyy;
                document.write(today);
              </script>.</p>

-->

            <p>By submitting this change to my claim, I confirm I have read and understood the following terms and conditions.</p>
            <ul>
              <li>I declare my benefit claim is correct, complete and up to date as far as I know and believe.</li>
              <li>I declare I am responsible for any children I am adding to my claim or the person entitled to the qualifying benefit is responsible for any children being added to the claim.</li>
              <li>I understand I may be prosecuted if I provide details that are incomplete or incorrect.</li>
              <li>I have read and understood the <a href="https://www.healthystart.nhs.uk/scheme-rules/" target="_blank">rules of the NHS Healthy Start Scheme (opens in a new tab)</a> and agree to use my payments in line with these rules.</li>
              <li>I understand that the NHSBSA may share the information I’ve provided for verification, investigation or measurement exercises with organisations including the NHSBSA Loss and Fraud Prevention Team (LFP), Department of Health and Social Care (DHSC), allpay, Department for Work and Pensions (DWP), HM Revenue and Customs (HMRC) and the NHS Counter Fraud Authority (NHSCFA).</li>
              <li>I declare the information I’ve given on this form is complete and accurate.</li>
              <li>I understand if I give false or misleading information, my Healthy Start payments may be stopped and I may be liable to criminal prosecution or civil proceedings.</li>
              
               
            </ul>
            <p>The <a href="https://www.nhsbsa.nhs.uk/our-policies/privacy" target="_blank">NHSBSA privacy notice (opens in a new tab)</a> sets out how we process and protect your personal data and your rights in respect of your own information. For more information, you can also email <a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a></p>
          
            
            
            <!--
            <h2 class="nhsuk-heading-s">About your card</h2>
            <ul>
              <li>You’re provided with access to money on the card, but the money remains beneficially owned by the Department of Health and Social Care.</li>
              <li>Any money on the card belongs solely to the Department of Health and Social Care (DHSC). This money may be reclaimed at any point by the DHSC.</li>
              <li>The card you will receive is a prepaid card that is issued by allpay Limited pursuant to license by Mastercard International Incorporated. Allpay Limited is a company regulated by the Financial Conduct Authority (FRN 900539) for the issuance of electronic money.</li>
              <li>The company number is 0293319. Mastercard is a registered trademark of Mastercard International Incorporated.</li>
            </ul>
            <p>Allpay Limited head office registered address:</p>
            <p>Fortis et Fides<br>Whitestone Business Park<br>Whitestone Hereford, Herefordshire<br>HR1 3SE.</p>
            <h2 class="nhsuk-heading-s">If your card is lost or stolen</h2>
            <p>If your card is lost or stolen, you need to report this as soon as possible by emailing <a href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a>.</p>
            <p>Your card will then be immediately blocked, protecting you from unauthorised usage. Transactions made before you report the card as lost or stolen will be charged to your account.</p>
            -->

          </div>

          <!--
          <p class="nhsuk-u-margin-bottom-6">By submitting your application, you’re agreeing to accept the terms and conditions.</p>
          -->

          <!--<form>

            <div class="nhsuk-form-group">
          
              <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                  <h1 class="nhsuk-fieldset__heading">
                    
                  </h1>
                </legend>
          
                <div class="nhsuk-hint" id="contact-hint">
                  
                </div>
                <p>By entering your full name and checking the box, you’re agreeing to our terms and conditions.</p>
          
                <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">

                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="address-postcode">
                      Full name
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
                  </div>
          
                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="contact-1" name="contact" type="checkbox" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                      I confirm I have read the terms and conditions
                    </label>
                  </div>
          
                </div>
              </fieldset>
          
            </div>
          
          </form>-->

 


            <!--<p><a href="/v25/apply/kickouts/request-completed-child-ben" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
              Accept and send</a></p>
              
              May 2024 testing scenario--> 
            
            
              <p><a href="/v25/apply/kickouts/duplicate-child" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
                Accept and send</a></p>

          <!--<form action="v25/check-your-answers" method="post">

            <button class="nhsuk-button" type="submit">
              Accept and send
            </button>

          </form>-->

    </div>
</div>

{% endblock %}