<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout.html' %} {% block pageTitle %} Children under four you have told us about {% endblock %} {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({ "href": "javascript:history.go(-1)", "text": "Go back" }) }}
      <h1 class="nhsuk-fieldset__legend--xl">New children you’re adding to your claim</h1>
      <div class="nhsuk-hint" id="contact-hint">
        Check the details of the new children you’re adding to your claim.<br>
        You do not need to tell us about any children you already get Healthy Start payments for.
        </div>
      {% if (data['firstname'] == 'Malia') and (data['lastname'] == 'Elba') %}
      
      {% endif %}
      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0">New children's details</h2>
      <dl class="nhsuk-summary-list">
          


        {% for item in data['childList'] %}
        <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__value">{{ item.ChildsFirstName }} {{ item.ChildsMiddleName }} {{ item.ChildsLastName }}</dt>
                      <dd class="nhsuk-summary-list__value">Born on {{ item.ChildsDOB }}</dd>
                      <dd class="nhsuk-summary-list__actions">
                        {% if data['childList'] | length  == 0 %}
                        <a href="#">Change<span class="nhsuk-u-visually-hidden"> child</span></a>
                        {% else %}
                        <a href="childs-first-name-update">Change<span class="nhsuk-u-visually-hidden"> child</span></a> or <a href="remove-child">Remove<span class="nhsuk-u-visually-hidden"> child</span></a>
                        {% endif %}
                      </dd>
        </div>
        {% endfor %}



      </dl>



      <form method="post" action="v25/children-under-four-answers-update"> 
        
      <div class="nhsuk-form-group">
      
        <fieldset class="nhsuk-fieldset">

        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h2 class="nhsuk-fieldset__heading">
              Do you want to add another new child to your Healthy Start claim?
            </h2>
        </legend>
        <div class="nhsuk-hint" id="contact-hint">
          If you have twins, triplets or other multiples with the same date of birth, make sure you’ve added all your children to your claim before you continue.
        </div>

            <div class="nhsuk-radios nhsuk-radios--inline">
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="yes" name="addanother" type="radio" value="yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="yes">
                        Yes
                    </label>
                </div>
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="no" name="addanother" type="radio" value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="no">
                        No
                    </label>
                </div>
            </div>

 
        </fieldset>

      </div>
 

        
        <button class="nhsuk-button"
              type="submit">Continue
        </button>
      </form>

    </div>
  </div>
  
  {% endblock %}
</body>
</html>
