{% extends 'layout.html' %}

{% block pageTitle %}
Do you have a current Healthy Start claim?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

    <form action="v25/get-your-security-code" method="post">

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
            <h1 class="nhsuk-fieldset__heading">
              Get your security code
            </h1>
          </legend> 
      
          
        <p>We’ve found your Healthy Start claim. 
          We need to send you a security code to keep your details secure.</p>
        <p>Your code will stop working after 30 minutes.</p>  

          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="byemail" name="getyoursecuritycode" type="radio" value="email">
              <label class="nhsuk-label nhsuk-radios__label" for="getyoursecuritycode">
                By email to <strong>c******6@gmail.com</strong>
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="bytextmessage" name="getyoursecuritycode" type="radio" value="textmessage">
              <label class="nhsuk-label nhsuk-radios__label" for="getyoursecuritycode">
                By text message to <strong>********338</strong>
              </label>
            </div>
 

          </div>
        </fieldset>
      

      </div>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            I do not have access to this email address or phone number
          </span>
        </summary>
        <div class="nhsuk-details__text">
           
          <p>
            If you cannot access the email address or phone number for this account, 
            <a class="nhsuk-link" href="https://www.healthystart.nhs.uk/contact-us/"> 
              contact Healthy Start</a> to get help signing in.
          </p>  
            

        </div>
        </details>

      <button class="nhsuk-button" type="submit">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}