{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1><span role="text">Get help to buy food and milk (Healthy Start) <span class="nhsuk-caption-xl nhsuk-caption--bottom"></h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p class="nhsuk-body-l nhsuk-u-margin-bottom-5">
            Use this service to apply for Healthy Start card with money on it to buy food and milk.
        </p>

        <h2 class="nhsuk-heading-l">Who can use this service</h2>

        <p class="nhsuk-body-m nhsuk-u-margin-bottom-5">
            You can use this service if you or a partner you live with:
        </p>

        <ul>
            <li>are more than 10 weeks pregnant</li>
            <li>have a child under 4 years old</li>
            <li>claim Universal Credit</li>
            <li>earn less than £408 a month</li>
        </ul>

        <p class="nhsuk-body-m nhsuk-u-margin-bottom-5">
            The card will be topped up every 4 weeks with payments of:
        </p>

        <ul>
            <li>£4.25 each week of your pregnancy from 10 week</li>
            <li>£8.50 each week for children from birth to 1 year old</li>
            <li>£4.25 each week for children between 1 and 4 years old</li>
        </ul>

        <h2 class="nhsuk-heading-l">Before you start</h2>

        <p class="nhsuk-body-m nhsuk-u-margin-bottom-5">
            To apply you will need to provide personal details to check you are eligible for Healthy Start.
        </p>
        <p class="nhsuk-body-m nhsuk-u-margin-bottom-5">
            You will need to tell us your:
        </p>

        <ul>
            <li>name</li>
            <li>address</li>
            <li>date of birth</li>
            <li>email address</li>
            <li>National Insurance number</li>
            <li>NHS number (if you know it)</li>
            <li>pregnancy due date (if you are pregnant)</li>
            <li>name and date of birth for children under 4 years old</li>
        </ul>

        <p class="nhsuk-body-m nhsuk-u-margin-bottom-5">
            If you live with a partner you will need to provide their name, date of birth and national insurance number.
        </p>

        <h3 class="nhsuk-heading-m">Universal Credit claimants</h3>
        <p class="nhsuk-body-m nhsuk-u-margin-bottom-5">
            The details you use to apply for Healthy Start must be the same as the details on your Universal Credit claim.
        </p>

        <p class="nhsuk-body-m nhsuk-u-margin-bottom-5">Go to your <a href="#">Universal Credit account (opens in a new tab)</a> to check. </p>


        <a href="/v1-error-and-fraud/apply/where-do-you-live" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Start now</a>
 
    </div>
</div>
{% endblock %}