{% extends 'layout.html' %}

{% block pageTitle %}
Contact us
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: left; color: white;">
            Contact us
          </h1>
          <h2 class="nhsuk-caption-l nhsuk-u-font-weight-normal" style="text-align: left; color: white;">
            We cannot continue with your application online
          </h2>
        </div>
      </div>

      <!--<div class="nhsuk-panel-unsuccessful">
        <h1 class="nhsuk-panel__title">
            Contact us
          </h1>
          <div class="nhsuk-panel__body">
            We cannot continue with your application online
          </div>
        </div>-->

      <p>Our records show you may already get Healthy Start payments.</p>
      <p>You can only have one active Healthy Start claim at one time.</p>
      
      <h2 class="nhsuk-heading-m">If you need to update your details</h2>

      <p>If you already get Healthy Start payments, you do not need to make a new application.</p>
      <p>You should update your existing claim and let us know about a new:</p>
      <ul>
        <li>pregnancy</li>
        <li>child under 4 - you may have recently given birth 
          or have a new child living with you who you’re responsible for</li>
      </ul>



      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span> 
        <p>You can <a class="nhsuk-link" href="https://www.healthystart.nhs.uk/update-your-details/">
          add a new pregnancy or child to your claim</a> online.</p>
      </div>
        <p>If you cannot use the online service or you need us to stop making payments for a pregnancy or child, you can 
          <a class="nhsuk-link" href="https://www.healthystart.nhs.uk/contact-us/">contact us</a>.</p>
      
<br>

      <h2 class="nhsuk-heading-m">Replacing a lost, damaged or stolen card</h2>
      <p>Call 0118 338 5810 if you need a new Healthy Start card.</p>
      <p>You’ll need your date of birth and your client ID which you can find on any notifications we’ve sent you.</p>
      <p>This is an automated phone line that’s 24 hours a day, 7 days a week.</p>
      <p><a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out more about call charges (opens in a new tab)</a>. </p>


      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If you’re Deaf or have a hearing loss
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Our automated phone line is not accessible if you’re Deaf or have a hearing loss or tinnitus. </p>
          <p>You can call us on 0300 330 7010 and use the:</p>
          <ul>
            <li><a class="nhsuk-link" href="https://www.relayuk.bt.com/how-to-use-relay-uk/use-relay-uk-with-app.html" target="_blank">Relay app (opens in a new tab)</a></li>
            <li><a class="nhsuk-link" href="https://www.relayuk.bt.com/how-to-use-relay-uk/use-relay-uk-with-textphone.html" target="_blank">Relay textphone service (opens in a new tab)</a></li>
          </ul>
          <p>This phone line is open Monday to Friday, 8am to 6pm (except public holidays).</p>
        </div>
      </details>



      <h2 class="nhsuk-heading-m">If you think there’s been a mistake</h2>
      <p>You should contact us as soon as possible if you have never applied for Healthy Start, or you are not sure if you already get Healthy Start payments.</p>
      <p>You can contact us by:</p>
      <ul>    
        <li>using our <a href="https://faq.nhsbsa.nhs.uk/contact-us/">online form</a></li>
        <li>calling 0300 330 7010</li>
      </ul>
      <p>Phone lines are open Monday to Friday, 8am to 6pm (except public holidays).</p>
      <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out more about call charges (opens in a new tab)</a>.</p>

      

      <h2 class="nhsuk-heading-m">Give feedback</h2>
      <p><a class="nhsuk-link" href="https://online1.snapsurveys.com/interview/feced57a-91da-474b-82a2-c3307f4e12d8">
        What did you think of this service?</a> (takes 2 minutes).</p>



  </div>

{% endblock %}