{% extends 'layout.html' %}

{% block pageTitle %}
Application could not be completed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
    }) }}

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            You cannot apply online yet
          </h1>
        </div>
      </div>

      <h2 class="nhsuk-heading-m">If you get Working Tax Credit and get the 4 week 'run-on' payment</h2>

      <p>You can apply to Healthy Start by either:</p>
      <ul>
        <li>emailing healthy.start@nhsbsa.nhs.uk</li>
        <li>calling 0300 330 7010</li>
      </ul>
      <p>Phone lines are open 8am to 6pm Monday to Friday (except public holidays). <a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges (opens in a new tab)</a>.</p>

      <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30 seconds).</p>
    </div>
  </div>

{% endblock %}
