{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true">
                    <path
                        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                </svg>
                Go back</a>
        </div>

    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


        <h1 class="nhsuk-heading-l">Check your mobile phone</h1>

        <p>Enter the 6 digit security code we have sent to 07422 933311.</p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Not received your security code?
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p><a href="#">Request a new security code</a> or <a href="#">send to your email address instead</a>.
                </p>
            </div>
        </details>

        <!-- <p class="nhsuk-body">Sign in or <a href="#">create an account</a> to get started.</p> -->

        <form action="/future/v1/security-code" method="post">

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="input-with-hint-text">
                    Security code
                </label>
                <span class="nhsuk-hint" id="otp-hint-text">
                    The code is 6 numbers
                </span>
                <input type="number" maxlength="6" class="nhsuk-input nhsuk-input--width-10" id="input-with-hint-text"
                    name="securitycode" aria-describedby="security-code-input">
            </div>

            <div class="nhsuk-checkboxes nhsuk-u-margin-bottom-4">
                <div class="nhsuk-checkboxes__item">
                    <input style="padding-right: 16px;" class="nhsuk-checkboxes__input" id="rmd" name="rmd"
                        type="checkbox">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="rmd">
                        Remember this device and stop sending security codes
                    </label>
                </div>
            </div>

            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                        What does remember this device mean?
                    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <p>We can remember the device you are using now, so you will not need to enter a security code when
                        you log in with this device in the future.</p>
                    <p>To keep your NHS login secure, you should only do this on your own personal or trusted devices.
                    </p>
                    <p>We may ask if you still want us to remember this device in the future.</p>
                </div>
            </details>

            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                        Do not have access to your mobile phone?
                    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <p>If you don't have access to your phone, you can <a
                            href="#">change your
                            phone number securely</a>.</p>
                </div>
            </details>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>

</div>
{% endblock %}