{% extends 'layout.html' %}

{% block pageTitle %}
Do {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} have an NHS login?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">
            Do {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} have an NHS login?
        </h1>

        <form action="/future/v1/do-you-have-NHS-login" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

                    <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="yes" name="nhslogin" type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="no" name="nhslogin" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>



            </div>

<div class="nhsuk-inset-text nhsuk-u-margin-top-5">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <h3>What is an NHS login?</h3>
  <p>From September 2018, NHS login is a new way to log in to health websites and apps.</p>
  <p>Then {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} can access online health services wherever {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} see 'NHS login'.</p>
</div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}