{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true">
                    <path
                        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                </svg>
                Go back</a>
        </div>

    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


        <h1 class="nhsuk-heading-l">Enter your password</h1>

        <p>Enter your password to log in.</p>

        <!-- <p class="nhsuk-body">Sign in or <a href="#">create an account</a> to get started.</p> -->

        <form action="/future/v1/password" method="post">

        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="password">Password</label>
            <input class="nhsuk-input nhsuk-input--width-20" name="password" id="password" type="password">
        </div>

        <p><a href="#">Forgotten password?</a></p>

        <button class="nhsuk-button" type="submit">
            Continue
        </button>

        </form>

    </div>

</div>
{% endblock %}