{% extends 'layout.html' %}

{% block pageTitle %}
Sorry, the service is unavailable
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            Sorry, the service is unavailable
        </h1>

        <p>
            You will be able to use the service later.
        </p>

        <p>
            If you need to speak to somebody about your application, you can contact us by:
        </p>

        <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">

            <ul class="nhsuk-list">
              <li>Telephone: 0300 330 7010</li>
              <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
            </ul>
            
            <p>
              <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges</a>
            </p>

            <ul class="nhsuk-list">
              <li>Email: <a class="nhsuk-link" href="mailto:nhsbsa.applyforhealthystart@nhsbsa.nhs.uk">nhsbsa.applyforhealthystart@nhsbsa.nhs.uk</a></li>
              <li>We aim to respond within 2 working days</li>
            </ul>

        </div>

    </div>
</div>

{% endblock %}