{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1><span role="text">Before you start</span></h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p>We use NHS and government data sources to find and update your claim.</p>
        
        
        <div class="nhsuk-warning-callout nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-6">
            <h3 class="nhsuk-warning-callout__label">
                <span role="text">
                    <span class="nhsuk-u-visually-hidden">Important: </span>
                    Confirming your identity
                </span>
            </h3>
            <p>We use your National Insurance number to confirm your identity</p>
            <p>If you do not know this, we’ll ask for other personal details, including your:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>name</li>
                <li>date of birth</li>
                <li>postcode</li>
            </ul>   
        </div>

        <p>When we’ve confirmed your identity, we’ll ask for:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>your estimated due date if you’re adding a new pregnancy</li>
                <li>the names and dates of birth of any children under 4 you’d like to add to your claim</li> 
            </ul>  



            <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <h3>Universal Credit claimants</h3>
                <p>To add a new child, the name and date of birth you give us must exactly match 
                    their details on your Universal Credit claim.</p>
                <p><a href="https://www.gov.uk/sign-in-universal-credit" target="_blank">Go to your Universal Credit
                account</a> to check how their details are listed before you update your claim.
            </div>

            
            </p>
                
        

        

        <p><a href="apply/what-change"
                class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Continue</a></p>

    </div>

</div>
{% endblock %}