{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1><span role="text">Before you start</span></h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p>We use NHS and government data sources to find and update your Healthy Start claim.</p> 


        <h2 class="nhsuk-heading-l">Update your pregnancy or children’s details</h2>
        <p>If you’re already getting Healthy Start payments, you can use this service to tell us:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>your expected due date if you’re pregnant</li>
            <li>you’ve given birth</li> 
            <li>you’ve become the main carer for a child under 4</li>

        </ul>  
        <p>You cannot view or change any other details linked to your Healthy Start claim.</p>


        <h2 class="nhsuk-heading-l">If you get Universal Credit</h2>
        <p>If you’re adding a new child under 4 to your Healthy Start claim, 
            you need to <a href="https://www.gov.uk/universal-credit/changes-of-circumstances" target="_blank">tell Universal Credit about your new child (opens in a new tab)</a> before we can start making payments.</p>


            <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>Make sure the children’s details you give us exactly match how they appear on your <a href="https://www.gov.uk/sign-in-universal-credit" target="_blank">Universal Credit claim (opens in a new tab)</a>.</p>
              </div>



        <div class="nhsuk-warning-callout nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-6">
            <h3 class="nhsuk-warning-callout__label">
                <span role="text">
                    <span class="nhsuk-u-visually-hidden">Important: </span>
                    What you’ll need
                </span>
            </h3>
            <p>We need to check your identity to keep your claim secure. You’ll need to enter:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>your National Insurance number</li>
                <li>a security code - we’ll send this to the mobile phone number you gave us when you applied for Healthy Start</li> 
            </ul>     
        </div>




        <p>GOV.UK can help you <a href="https://www.gov.uk/lost-national-insurance-number" target="_blank">find your National Insurance number (opens in a new tab)</a> if you do not remember it.</p>
        <p>If you cannot find your National Insurance number or you do not have a mobile number linked to your Healthy Start account, you’ll need to <a href="https://www.healthystart.nhs.uk/contact-us/" target="_blank">contact us</a> to update your claim.</p>






        <p><a href="apply/what-change"
                class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Start now</a></p>

    </div>

</div>
{% endblock %}