{% extends 'layout.html' %}

{% block pageTitle %}
Upload evidence
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="file-upload">
                    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">Prove your eligibility</h1>
                </label>
                <p>You need to upload a copy of your benefits award notice to prove your eligibility.</p>
                <input class="nhsuk-file-upload" id="file-upload" name="file-upload" type="file">
            </div>

            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                    Need help uploading documents?
                    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <p>Follow the link on guidance for uploading your documents: https://bb-beta.herokuapp.com/apply-for-a-blue-badge/check-eligibility/decision</p>                      
                </div>
            </details>

            <a href="return-applicant-eligibility-upload" class="nhsuk-button">
                Continue
            </a>

    </div>
</div>

{% endblock %}