{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}



{% block content %}



<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full clear-float">

<h2 class>Application details</h2>




        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Name</h2>
                <p id="userName">Riley Jones</p>

                <!--<h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">National Insurance number</h2>
                <p id="studentEmail">CD 65 43 21 B</p>-->


                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Email address</h2>
                <p id="userDOB">rileyjones1999@gmail.com</p>
<!-- 
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Have children under 4</h2>
                <p id="userPregnancy">Yes</p> -->
            </div>
            <div class="nhsuk-grid-column-one-third">
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Date of birth</h2>
                <p id="userDOB">2 February 1999</p>


                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Mobile number</h2>
                <p id="userMobile">07510318338</p>

                 
            </div>
            <div class="nhsuk-grid-column-one-third">
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Address</h2>
                <p id="userAddress">
                    15 Palm Road, 
                    London, 
                    NR33 4GP
                </p>

            </div>
        </div>
</div>
</div> 


<!-- <dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      Riley Jones
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="nhsuk-summary-list__value">
      2 February 1999
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Address
    </dt>
    <dd class="nhsuk-summary-list__value">
      15 Palm Road,<br> London,<br> NR33 4GP
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Email address
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>rileyjones1999@gmail.com</p>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Mobile number
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>07510318338</p>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Application submitted
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>11 November 2025</p>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Application expiry date
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>3 February 2026</p>
    </dd>
  </div>
</dl> -->






<br>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      View your eligibility details
    </span>
  </summary>
  <div class="nhsuk-details__text">

       
<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Qualifying benefit
    </dt>
    <dd class="nhsuk-summary-list__value">
      Universal Credit
    </dd>
  </div>
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Application submitted
    </dt>
    <dd class="nhsuk-summary-list__value">
      11 April 2025
    </dd>
  </div>
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Application expiry date
    </dt>
    <dd class="nhsuk-summary-list__value">
      11 July 2025
    </dd>
  </div>
  <!-- <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Estimated pregnancy due date
    </dt>
    <dd class="nhsuk-summary-list__value">
      21 December 2025
    </dd>
  </div> -->
</dl>

    
  </div>
</details>




        <br>
        <br>




<h2>Pregnancy details</h2>
    
<table class="nhsuk-table-responsive" role="table">
          <thead class="nhsuk-table__head" role="rowgroup">
        <tr role="row">
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Eligibility</th>
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Estimated due date</th>
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Entitlement</th>
          <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Status</th>
        </tr>
      </thead>

      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row" role="row">
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Eligibility </span>Pregnancy</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Estimated due date </span>2 December 2025</td>
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£4.25 each week</td> 
          <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag">Active</strong></td>
        </tr>
      </tbody>
    </table> 



        <br>
        <br>


<h2>Children's details</h2>
      


      <table class="nhsuk-table-responsive" role="table">
        <thead class="nhsuk-table__head" role="rowgroup">
          <tr role="row">
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Name</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Date of birth</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Entitlement</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Status</th>
          </tr>
        </thead>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Sarah Smith</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>31 October 2024</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£8.50 each week</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag">Active</strong></td>
          </tr>
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Robert Smith</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>14 January 2022</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£4.25 each week</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag nhsuk-tag--grey">Inactive</strong></td>
          </tr>
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>John Smith</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>14 January 2022</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£4.25 each week</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag nhsuk-tag--grey">Inactive</strong></td>
          </tr>
        </tbody>
      </table>








      </div>

    </div>

</div>



</div>








</div>
{% endblock %}