{% extends 'layout-account.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}
{% block header %}

<header class="nhsuk-header" role="banner" data-module="nhsuk-header">
  <div class="nhsuk-header__container nhsuk-width-container">
    <div class="nhsuk-header__service">
      <a class="nhsuk-header__service-logo" href="/account/v1/account-dashboard">
        <svg class="nhsuk-header__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80" height="40" width="100" focusable="false" role="img" aria-label="NHS digital service manual homepage">
          <title>Get help to buy food and milk (Healthy Start) </title>
          <path fill="currentcolor" d="M200 0v80H0V0h200Zm-27.5 5.5c-14.5 0-29 5-29 22 0 10.2 7.7 13.5 14.7 16.3l.7.3c5.4 2 10.1 3.9 10.1 8.4 0 6.5-8.5 7.5-14 7.5s-12.5-1.5-16-3.5L135 70c5.5 2 13.5 3.5 20 3.5 15.5 0 32-4.5 32-22.5 0-19.5-25.5-16.5-25.5-25.5 0-5.5 5.5-6.5 12.5-6.5a35 35 0 0 1 14.5 3l4-13.5c-4.5-2-12-3-20-3Zm-131 2h-22l-14 65H22l9-45h.5l13.5 45h21.5l14-65H64l-9 45h-.5l-13-45Zm63 0h-18l-13 65h17l6-28H117l-5.5 28H129l13.5-65H125L119.5 32h-20l5-24.5Z" />
        </svg>
        <span class="nhsuk-header__service-name">Get help to buy food and milk (Healthy Start) </span>
      </a>
    </div>


</header>




{% endblock %}

{% block content %}



<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h1><span role="text"><span class="nhsuk-caption-xl nhsuk-caption--top">Welcome back <span
              class="nhsuk-u-visually-hidden">-</span></span></span> Riley Jones</h1>
    <!-- <p>Application status: <strong class="nhsuk-tag nhsuk-tag--blue">Active</strong></p> -->
    </div>
    <br>

<div class="nhsuk-grid-column-full clear-float">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third"> 
        </div>


</div>





<!-- 

<p style="text-align: right; margin: 0;">Total payment you receive: £34</p> <br> -->


<h3 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-margin-bottom-3">Application details</h3>
      
<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      Riley Jones
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="nhsuk-summary-list__value">
      2 February 1999
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Address
    </dt>
    <dd class="nhsuk-summary-list__value">
      15 Palm Road,<br> London,<br> NR33 4GP
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Email address
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>rileyjones1999@gmail.com</p>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Mobile number
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>07510318338</p>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Application submitted
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>11 November 2025</p>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Application expiry date
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>3 February 2026</p>
    </dd>
  </div>
</dl>

<br><br>


<h3 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-margin-bottom-3">Eligibility details</h3>
      
<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Qualifying benefit
    </dt>
    <dd class="nhsuk-summary-list__value">
      Universal Credit
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Estimated pregnancy due date
    </dt>
    <dd class="nhsuk-summary-list__value">
      21 December 2025
    </dd>
  </div>
</dl>







        <br>
        <br>


<h3 class="nhsuk-card__heading nhsuk-heading-m nhsuk-u-margin-bottom-3">Children's details</h3>
      


      <table class="nhsuk-table-responsive" role="table">
        <thead class="nhsuk-table__head" role="rowgroup">
          <tr role="row">
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Name</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Date of birth</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Entitlement</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Status</th>
          </tr>
        </thead>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Sarah Smith</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>14 January 2025</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£8.50 each week</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag">Active</strong></td>
          </tr>
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Robert Smith</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>14 January 2024</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£4.25 each week</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag nhsuk-tag--grey">Inactive</strong></td>
          </tr>
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>John Smith</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>14 January 2023</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£4.25 each week</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag nhsuk-tag--grey">Inactive</strong></td>
          </tr>
        </tbody>
      </table>


    <p><a href="/v26-ecj/apply/what-update-nhs-login" class="nhsuk-button">Add a new pregnancy or child</a></p>
    







      </div>

    </div>

</div>











</div>
{% endblock %}