{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}
{% block header %}

<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo"><a class="nhsuk-header__link nhsuk-header__link--service " href="/"
        aria-label="NHS homepage">

        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
          <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
          <path class="nhsuk-logo__text" fill="#fff"
            d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
          </path>
        </svg>

        <span class="nhsuk-header__service-name">
          Get help to buy food and milk (Healthy Start) account
        </span>
      </a>
    </div>

    <div class="nhsuk-header__content" id="content-header">
      <div class="nhsuk-header__menu">
        <div class="nhsuk-header__menu">
          <a href="sign-in" class="nhsuk-header__menu-toggle" id="log-out">Sign out</a>
        </div>
      </div>
    </div>

  </div>

</header>

<!-- <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="manage-claim-search">1</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="manage-claim-search-ANITA-BILAL">2</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
          href="manage-claim-search-results-ANITA-BILAL">Anita Bilal</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href=""></a></p>
  </div>
</nav> -->

{% endblock %}

{% block content %}



<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h1><span role="text"><span class="nhsuk-caption-xl nhsuk-caption--top">Welcome back <span
              class="nhsuk-u-visually-hidden">-</span></span></span> Riley Jones</h1>
    <!-- <p>Application status: <strong class="nhsuk-tag nhsuk-tag--blue">Active</strong></p> -->
    </div>
    <br>

<div class="nhsuk-grid-column-full clear-float">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third"> 
        </div>


</div>





<!-- 

<p style="text-align: right; margin: 0;">Total payment you receive: £34</p> <br> -->


    <div class="nhsuk-tabs" data-module="nhsuk-tabs">
      <h2 class="nhsuk-tabs__title">Contents</h2>

      <ul class="nhsuk-tabs__list">
        <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
          <a class="nhsuk-tabs__tab" href="#tab-one">Application</a>
        </li>
        <li class="nhsuk-tabs__list-item">
          <a class="nhsuk-tabs__tab" href="#tab-two">Eligibility</a>
        </li>

      </ul>

      <div class="nhsuk-tabs__panel" id="tab-one">

        <h2 class="nhsuk-card__heading nhsuk-heading-l nhsuk-u-margin-bottom-3">Application details</h2>
        <dl class="nhsuk-summary-list">


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Name
            </dt>
            <dd class="nhsuk-summary-list__value">
              Riley Jones
            </dd>
          </div>



          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="nhsuk-summary-list__value">
              2 February 1999
            </dd>
          </div>
          
          

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Address
            </dt>
            <dd class="nhsuk-summary-list__value">
              15 Palm Road,<br> London,<br> NR33 4GP
            </dd>
          </div>
          

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Email address
            </dt>
            <dd class="nhsuk-summary-list__value">
              rileyjones1999@gmail.com
            </dd>
          </div>
          
          

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Mobile number
            </dt>
            <dd class="nhsuk-summary-list__value">
              07510318338
            </dd>
          </div>
          
          
          
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Application submitted
            </dt>
            <dd class="nhsuk-summary-list__value">
              11 November 2025
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Application expiry date
            </dt>
            <dd class="nhsuk-summary-list__value">
              3 February 2026
            </dd>
          </div>


        </dl>

      </div>

      <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="tab-two"> 

        <h2 class="nhsuk-card__heading nhsuk-heading-l nhsuk-u-margin-bottom-3">Eligibility details</h2>
      <table class="nhsuk-table">
      <!-- <caption class="nhsuk-table__caption">Eligibility details</caption>  -->
      <thead class="nhsuk-table__head">
        <tr> 
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <th scope="row" class="nhsuk-table__header">Qualifying benefit</th>
          <td class="nhsuk-table__cell">Universal Credit</td> 
        </tr>
        <tr class="nhsuk-table__row">
          <th scope="row" class="nhsuk-table__header">Estimated pregnancy due date</th>
          <td class="nhsuk-table__cell">21 December 2025</td> 
        </tr>
      </tbody>
    </table>






        <br>
        <br>

      <table class="nhsuk-table-responsive" role="table">
        <caption class="nhsuk-table__caption">Children's details</caption>
        <thead class="nhsuk-table__head" role="rowgroup">
          <tr role="row">
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Name</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Date of birth</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Entitlement</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Status</th>
          </tr>
        </thead>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Sarah Smith</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>14 January 2025</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£8.50 each week</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag">Active</strong></td>
          </tr>
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Robert Smith</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>14 January 2024</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£4.25 each week</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag nhsuk-tag--grey">Inactive</strong></td>
          </tr>
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>John Smith</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>14 January 2023</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£4.25 each week</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag nhsuk-tag--grey">Inactive</strong></td>
          </tr>
        </tbody>
      </table>


    <p><a href="/v26-ecj/apply/what-update-nhs-login" class="nhsuk-button">Add a new pregnancy or child</a></p>
    







      </div>

    </div>

</div>











</div>
{% endblock %}