{% extends 'layout.html' %}

{% block pageTitle %}
Your session has timed out - Get help to buy food and milk (Healthy Start) - NHSBSA
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!--{{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}-->
  
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
            <h1 class="nhsuk-fieldset__heading">
              Your session has timed out
            </h1>
          </legend> 
      
          
        <p>You stopped using the service for 30 minutes so your session has timed out. This is to keep your information secure.</p>
        
        <p>If you’d like to start a new Healthy Start application, select <strong>Start again</strong></a>.</p>
 
 


    <p><a href="#" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Start again</a></p>



    <h2 class="nhsuk-heading-m">Give feedback</h2>
    <p><a class="nhsuk-link" href="https://online1.snapsurveys.com/interview/8d5b21b1-9312-43c4-86f8-61d749cb1800" target="_blank">
      What did you think of this service?</a> (takes 2 minutes)</p>



  </div>
</div>

{% endblock %}