{% extends 'layout.html' %}

{% block pageTitle %}
Contact us
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Contact us
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            You need to email or call us to update your Healthy Start claim
          </h2>
        </div>
      </div>

      <p>You need to contact us to update your Healthy Start claim, including if you need to:</p> 
      <ul>
        <li>update your personal details – for example your name or address</li>
        <li>update your children’s details</li>
        <li>tell us about any other changes in your circumstances</li> 
        <li>ask a question about your Healthy Start claim</li>
      </ul>
      
      <p>You can contact us by:</p>
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Email: <a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a></p>
        
        <p>Telephone: 0300 330 7010</p>
        <p>Phone lines are open Monday to Friday, 8am to 6pm (except public holidays).</p>
        
        <p>
          <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">
            Find out more about call charges (opens in new tab).</a>
        </p>
      </div>
      
      
  





      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If your card has been lost, damaged or stolen
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Call 0300 330 2090 to report your card as lost, damaged or stolen</p>
          <p>You’ll need your date of birth and your client ID which you can find on any notifications we’ve sent you.</p>
          <p>This is an automated phone line that’s available 24 hours a day, 7 days a week.</p>


          <h4>If you’re Deaf or have a hearing loss</h4>
          
          <p>Our automated phone line is not accessible if you’re Deaf or have a hearing loss or tinnitus.</p>
          <p>You can contact us by calling 0300 330 7010 and using the:</p>
          
          <ul>
            <li><a class="nhsuk-link" href="https://www.relayuk.bt.com/relay-uk-services/relay-uk-app.html" target="_blank">Relay app (opens in a new tab)</a></li>
            <li><a class="nhsuk-link" href="https://www.relayuk.bt.com/how-to-use-relay-uk/use-relay-uk-with-textphone.html" target="_blank">Relay textphone service (opens in a new tab)</a></li>
          </ul>


          <p>This phone line is open Monday to Friday, 8am to 6pm (excluding public holidays).</p>
          
          
        </div>
        </details>

          
          <h4>What we’ll ask you for</h4>
          <p>We’ll ask for your:</p>
          <ul>
            <li>name</li>
            <li>address</li> 
            <li>date of birth</li>
          </ul>

          <p>If you’re calling to ask a question about your Healthy Start card, you’ll need to confirm one of the following:</p>
          <ul>
            <li>the place where you last used your card</li>
            <li>the date you last used your card</li> 
            <li>how much you spent the last time you used your card</li>
          </ul>



          <h2 class="nhsuk-heading-m">Give feedback</h2>
          <p><a class="nhsuk-link" href="#" target="_blank">
            What did you think of this service?</a> (takes 2 minutes).</p>
  
 
      

      <!--
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If you’re Deaf or have a hearing loss
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Our automated phone line is not accessible 
            if you’re Deaf or have a hearing loss or tinnitus.</strong></p>
          <p>
            You can call us on 0300 330 7010
          </p>
          <p>
            This phone line is open Monday to Friday, 8am to 6pm (excluding public holidays), 
            and is compatible with assistive listening devices like personal hearing loops.
          </p>
        </div>
        </details>
      -->
      </div>
  </div>

{% endblock %}
