{% extends 'layout.html' %}

{% block pageTitle %}
Application could not be completed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Contact us
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            You need to call us to report your card as lost, damaged or stolen.
          </h2>
        </div>
      </div>

      <p>Call 0300 330 2090 to report your card as lost, damaged or stolen.</p>

      <p>This is an automated phone line that’s 24 hours a day, 7 days a week.</p>

      <p>You can also use this number to:</p>
      <ul>
        <li>activate your card</li>
        <li>get your PIN</li>
        <li>hear your balance</li>
      </ul>
      <p>
        <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">
          Find out more about call charges (opens in new tab).</a>
      </p>
  

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If you’re Deaf or have a hearing loss
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Our automated phone line is not accessible 
            if you’re Deaf or have a hearing loss or tinnitus.</strong></p>
          <p>
            You can call us on 0300 330 7010
          </p>
          <p>
            This phone line is open Monday to Friday, 8am to 6pm (excluding public holidays), 
            and is compatible with assistive listening devices like personal hearing loops.
          </p>
        </div>
        </details>
    
      </div>
  </div>

{% endblock %}
