{% extends 'layout.html' %}

{% block pageTitle %}
Contact us to update your Healthy Start claim - Get help to buy food and milk (Healthy Start) - NHSBSA
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Claim not valid
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            Check your details are correct and up to date
          </h2>
        </div>
      </div>


      <p>We cannot find your Healthy Start claim.</p>
      
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>You need to contact DWP to confirm your details are correct and up to date. 
          Once you've done this, you can apply again for Healthy Start with your correct details.</p>
      </div>
      
      
      
      <p>If we still cannot find your Healthy Start claim online after you’ve updated your details, you should <a class="nhsuk-link" href="https://www.healthystart.nhs.uk/contact-us/" target="_blank">contact us</a>.</p>  
      <p>If you’re applying for Healthy Start for the first time, you’ll need to go back and <a class="nhsuk-link" href="https://applyforhealthystart.nhsbsa.nhs.uk/apply-for-healthy-start/" target="_blank">start a new application</a>.</p>
 
      

        <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a class="nhsuk-link" href="#" target="_blank">
          What did you think of this service?</a> (takes 2 minutes).</p>

 

      </div>
  </div>

{% endblock %}
