{% extends 'layout.html' %}

{% block pageTitle %}
Update unsuccessful
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Update unsuccessful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            There’s a child with these details listed on your claim
          </h2>
        </div>
      </div>


      <p>There’s already a child on your Healthy Start claim born on 8 February 2022.</p>
      <p>We cannot make more than one Healthy Start payment for the same child.</p>

      <h2 class="nhsuk-heading-m">If you think there’s been a mistake</h2>
      <p>Check that you have not already added this child to your Healthy Start claim.</p>
      <p>You should <a class="nhsuk-link" href="https://www.healthystart.nhs.uk/contact-us/" target="_blank">contact us</a> if you’re adding a twin, triplet or a child from another multiple birth, or if you've never applied for Healthy Start for this child.</p>
      <p>Make sure you let us know:</p>
      <ul>
        <li>the name and date of birth of the child you need to add</li>
        <li>the names and dates of birth of any other children on your claim – including ones you’ve recently added</li>
        <li>if the child is a twin, triplet or from another multiple birth</li>
        <li>your name, address and date of birth</li>
      </ul>





        <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a class="nhsuk-link" href="#" target="_blank">
          What did you think of this service?</a> (takes 2 minutes).</p>

      </div>
  </div>

{% endblock %}
