{% extends 'layout.html' %}

{% block pageTitle %}
Application could not be completed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application unsuccessful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            We cannot complete your Healthy Start application online
          </h2>
        </div>
      </div>

      <p>We cannot complete your Healthy Start application online. This may be because you:</p>
      <ul>
        <li>need to apply by email or phone</li>
        <li>are not eligible for Healthy Start</li>
      </ul>

      
      <h2 class="nhsuk-heading-m">Check you can apply online</h2>

      <p>You can apply online if you’re 16 or over and get Universal Credit.</p>  
      <p>If you’re more than 10 weeks pregnant and have no other children under 4, check:</p>

      <ul>
        <li>the details on your Healthy Start application match the details on your Universal Credit claim</li>
        <li>you’ve entered your estimated due date correctly</li>
      </ul>

      <p>If you’re less than 10 weeks pregnant, you can apply again after your tenth week of pregnancy.</p>



      <h2 class="nhsuk-heading-m">Apply by email or phone</h2>


      <p>You need to apply by email or phone if you do not get Universal Credit. You may still be eligible for Healthy Start if you’re more than 10 weeks pregnant and you:</p>


      <ul>
        <li>are under 16</li>
        <li>are aged 16 to 18 and do not get Universal Credit</li>
        <li>get Employment and Support Allowance (ESA)</li>
      </ul>



      <p>You should also apply by email or phone if you get:</p>


      <ul>
        <li>Child Tax Credit</li>
        <li>Jobseeker’s Allowance (JSA)</li>
        <li>Income Support</li>
        <li>Pension Credit</li>
      </ul>

      <p>To apply by email or phone or if you think there’s been a mistake, you can contact us by:</p>





      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">

        <ul class="nhsuk-list">
          <li>Telephone: 0300 330 7010</li>
          <li>This phone line is available Monday to Friday, 8am to 6pm (except public holidays).</li>
        </ul>
        
        <p>
          <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges (opens in new tab).</a>
        </p>

        <ul class="nhsuk-list">
          <li>Email: <a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a></li>
          <li>We aim to respond to your email within 2 working days.</li>
        </ul>

      </div>

      <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="https://online1.snapsurveys.com/interview/feced57a-91da-474b-82a2-c3307f4e12d8" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 2 minutes).</p>
    </div>
  </div>

{% endblock %}
