{% extends 'layout.html' %}

{% block pageTitle %}
We cannot find your claim - Get help to buy food and milk (Healthy Start) - NHSBSA
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            We cannot find your claim
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            We need your National Insurance number
          </h2>
        </div>
      </div>

      
      <h4>We need your National Insurance number so we can find your claim.</h4>
      <p>You can find your National Insurance number on your:</p> 
      <ul>
        <li>National Insurance card or letter</li>
        <li>Universal Credit statement</li>
        <li>benefit award notice</li>
        <li>payslip</li> 
        <li>P60</li>
      </ul>
      <p>GOV.UK have more advice on how you can <a class="nhsuk-link" href="https://www.gov.uk/lost-national-insurance-number" target="_blank">find a lost National Insurance number (opens in a new tab)</a></p>
      
      <p>If you find your National Insurance number, you can <a class="nhsuk-link" href="/v25/apply/what-change">go back and update your Healthy Start claim online.</a></p>






      <h4>If you cannot find your National Insurance number</h4>


      <p>If you cannot find your National Insurance number, you need to contact us.</p>
      <p>We’ll ask for some personal details so we can find and update your claim. You’ll need to tell us your:</p>

      <ul>
        <li>name</li>
        <li>date of birth</li>
        <li>address, including your postcode</li> 
        <li>estimated due date if you’re adding a new pregnancy</li>
        <li>child’s name and date of birth if you’re adding a new child</li>
      </ul>

      <p>Make sure the details you give us for yourself and any children under 4 exactly match the details on your 
        <a class="nhsuk-link" href="https://www.gov.uk/sign-in-universal-credit" target="_blank">Universal Credit account (opens in a new tab)</a>.</p>



      <p>You can contact us by:</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Email: <a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a></p>
        <p>We aim to respond within 2 working days</p>

        <p>Telephone: 0300 330 7010</p>
        <p>Phone lines are open 8am to 6pm, Monay to Friday (except public holidays).</p>
        
        <p>
          <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">
            Find out more about call charges (opens in a new tab).</a>
        </p>
      </div>
      
      



          <h2 class="nhsuk-heading-m">Give feedback</h2>
          <p><a class="nhsuk-link" href="#" target="_blank">
            What did you think of this service?</a> (takes 2 minutes).</p>
  

      

      </div>
  </div>

{% endblock %}
