{% extends 'layout.html' %}

{% block pageTitle %}
Application could not be completed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Contact us
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            You need to call or email us to update your Healthy Start claim
          </h2>
        </div>
      </div>


      <p>You need to contact us so we can add your child to your Healthy Start claim and update your payments.</p>
     
      <h2 class="nhsuk-heading-m">Check your Universal Credit account</h2>
      <p>You need to make sure your children are listed on your Universal Credit claim before you can add them to your Healthy Start claim. 
        The details you give us for your children must match exactly with their details on your Universal Credit claim.</p>

      <p><a class="nhsuk-link" href="https://www.gov.uk/sign-in-universal-credit">
        Go to your Universal Credit</a> account to check this</p>  



        
      <h2 class="nhsuk-heading-m">Contact us</h2>

      <p>When you’ve checked each child you want to add to your Healthy Start claim is listed 
        on your Universal Credit account, you can contact us by:</p>
        
     <p>Email: <a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a></p>
          
      <p>In your email, tell us you need to add a new child to your claim and include your:</p>
  
      <ul>
        <li>name</li>
        <li>address</li>
        <li>date of birth</li> 
        <li>child's name and date of birth – make sure these exactly match how they appear on your Universal Credit claim</li>
      </ul>

      <p>Telephone: 0300 330 7010</p>
      <p>Phone lines are open Monday to Friday, 8am to 6pm (expect public holidays).</p>
      <p>
        <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">
          Find out more about call charges (opens in new tab).</a>
      </p>

      <h2 class="nhsuk-heading-m">What happens next</h2>

      <p>We’ll send you a confirmation of the changes to your claim and information about your new payment.</p>



      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If your card has been lost, damaged or stolen
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Call 0300 330 2090 to report your card as lost, damaged or stolen</p>
          <p>
            This is an automated phone line that’s available 24 hours a day, 7 days a week.
          </p>
          <p>
            You can also use this number to:
          </p>

          <ul>
            <li>activate your card</li>
            <li>get your PIN</li>
            <li>hear your balance</li> 
          </ul>

          <h4>If you’re Deaf or have a hearing loss</h4>
          
          <p>Our automated phone line is not accessible if you’re Deaf or have a hearing loss or tinnitus.</p> 
          <p>You can call us on 0300 330 7010 </p> 
          <p>This phone line is open Monday to Friday, 8am to 6pm (excluding public holidays), 
          and is compatible with assistive listening devices like personal hearing loops.</p>



        </div>
        </details>



  
      <!--
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If you’re Deaf or have a hearing loss
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Our automated phone line is not accessible 
            if you’re Deaf or have a hearing loss or tinnitus.</strong></p>
          <p>
            You can call us on 0300 330 7010
          </p>
          <p>
            This phone line is open Monday to Friday, 8am to 6pm (excluding public holidays), 
            and is compatible with assistive listening devices like personal hearing loops.
          </p>
        </div>
        </details>
      -->
      </div>
  </div>

{% endblock %}
