{% extends 'layout.html' %}

{% block pageTitle %}
Do you live in England, Wales or Northern Ireland?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">You cannot apply for Healthy Start</h1>
        <p class="nhsuk-body-l">This is because you do not live in England, Wales or Northern Ireland.</p>

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <h2 class="nhsuk-heading-m">If you live in Scotland</h2>
            <p>You may be eligible for help to buy healthy food and milk from <a href="">Best Start Foods (opens in a new tab).</a></p>
        </div>

    </div>
</div>

{% endblock %}