{% extends 'layout.html' %}

{% block pageTitle %}
Update unsuccessful
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Update unsuccessful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            You already receive payments for a pregnancy
          </h2>
        </div>
      </div>


      <p>We can only make payments for one pregnancy at a time.</p>
      <p>We cannot add a new pregnancy to your claim if you currently receive pregnancy payments from Healthy Start.</p>

      <h2 class="nhsuk-heading-m">If you think there’s been a mistake</h2>
      <p>We send you regular payment notifications which explain how we’ve worked out your Healthy Start payments. 
        You should check your most recent email or text message to see if your payment includes money for a pregnancy.</p>
      
      <p>If we do not mention a pregnancy payment in your most recent notification, you should <a class="nhsuk-link" href="https://www.healthystart.nhs.uk/contact-us/" target="_blank">contact us</a>.</p>
      
      
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If this claim is for a different pregnancy
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>If you’re still receiving payments for a pregnancy where you’ve lost your baby or had a stillbirth, <a class="nhsuk-link" href="https://www.healthystart.nhs.uk/contact-us" target="_blank">let us know by email or phone</a>. Do not worry if you did not tell us about your baby loss straight away.</p>
          <p>If you’ve lost a baby and you’re pregnant again, this will not stop you getting Healthy Start payments for your new pregnancy.</p>

          <h4>Support if you’ve lost your baby</h4>
          
          <p>The following organisations can offer help and support:</p> 
              
          <ul>
            <li><a class="nhsuk-link" href="https://www.nhs.uk/mental-health/social-care-and-your-rights/how-to-access-mental-health-services/" target="_blank">NHS How to access mental health services</a></li>
            <li><a class="nhsuk-link" href="https://www.miscarriageassociation.org.uk/" target="_blank">The Miscarriage Association</li>
            <li><a class="nhsuk-link" href="https://www.tommys.org/" target="_blank">Tommy’s</a></li> 
            <li><a class="nhsuk-link" href="https://www.sands.org.uk/" target="_blank">Sands</a></li>
          </ul>
          <p>If your pregnancy ended before 24 weeks, you can <a class="nhsuk-link" href="https://www.gov.uk/request-baby-loss-certificate" target="_blank">request a free baby loss certificate</a>. 
            You do not have to do this. It’s optional.</p>
          <p>If your pregnancy ended from 24 weeks onwards, you need to <a class="nhsuk-link" href="https://www.gov.uk/register-stillbirth" target="_blank">register a stillbirth.</a></p>

        </div>
        </details>


        <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a class="nhsuk-link" href="#" target="_blank">
          What did you think of this service?</a> (takes 2 minutes).</p>

      </div>
  </div>

{% endblock %}
