{% extends 'layout.html' %}

{% block pageTitle %}
Application could not be completed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Update successful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            We’ve added {{ data['childsfirstname'] }}<!--your child--> to your Healthy Start claim
          </h2> 
        </div>
      </div>

      <p>We’ve updated your Healthy Start claim with the following details:</p>
      <p><strong>Child 1</strong></p>
      <ul>
        <li>Name: {{ data['childsfirstname'] }} {{ data['childslastname'] }}</li>
        <li>Date of birth: {{ data['childsdateofbirthday'] }} {{ data['childsdateofbirthmonth'] }} {{ data['childsdateofbirthyear'] }}</li> 
      </ul>



      <h2 class="nhsuk-heading-m">Your new payment</h2>
      <p>Your payment amount will change.</p>
      <p>You’ll get:</p>
      <ul>
        <li>your existing payment for any children under 4</li>
        <li>an extra £8.50 each week for {{ data['childsfirstname'] }}</li>
      </ul>
      <p>These will be made as a single payment onto your card every 4 weeks.</p>




      <h2 class="nhsuk-heading-m">What happens next?</h2>
      <p>We’ll send you a confirmation of your updated details and new payment amount.</p>


      <h2 class="nhsuk-heading-m">Give feedback</h2>
      <p><a class="nhsuk-link" href="#" target="_blank">
        What did you think of this service?</a> (takes 2 minutes).</p>


      <p><a href="https://www.healthystart.nhs.uk/" class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Finish
      </a></p>



        </div>
        </details>





      </div>
  </div>

{% endblock %}
