{% extends 'layout.html' %}

{% block pageTitle %}
Claim not found - Get help to buy food and milk (Healthy Start) - NHSBSA
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Claim not found
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            Check your details match your benefit award notice
          </h2>
        </div>
      </div>


      <p>We cannot find your Healthy Start claim as we cannot match your details with the information you’ve given DWP or HMRC.</p>
      <p>Follow these steps to make sure you’re entering your details correctly.</p>
      <ol>
        <li>Check how your details are listed on <a class="nhsuk-link" href="https://www.gov.uk/sign-in-universal-credit" target="_blank">your Universal Credit account (opens in a new tab)</a> or Child Tax Credit letter.</li>
        <li>Go back and <a class="nhsuk-link" href="/v25/update-your-details-website">update your details</a> again - make sure you enter your personal information exactly as it appears on your Universal Credit or Child Tax Credit statement.</li>
      </ol> 

      <p>If we still cannot update your Healthy Start claim online after you’ve checked your details match, you should <a class="nhsuk-link" href="https://www.healthystart.nhs.uk/contact-us/" target="_blank">contact us</a>.</p>
      <p>If you’re applying for Healthy Start for the first time, you’ll need to go back and <a class="nhsuk-link" href="https://applyforhealthystart.nhsbsa.nhs.uk/apply-for-healthy-start/before-you-start">start a new application</a>.</p>
      


      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If your card has been lost, damaged or stolen
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Call 0118 338 5810 to report your card as lost, damaged or stolen.</p>
          <p>You’ll need to give us your date of birth and your client ID which you can find on any notifications we’ve sent you.</p>
          <p>This is an automated phone line that’s available 24 hours a day, 7 days a week.</p>
          <p><a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">
            Find out more about call charges (opens in a new tab).</a>
          </p>

          <h4>If you’re Deaf or have a hearing loss</h4>
          
          <p>Our automated phone line is not accessible if you’re Deaf or have a hearing loss or tinnitus.</p>
          <p>You can contact us by calling 0300 330 7010 and using the:</p>
          
          <ul>
            <li><a class="nhsuk-link" href="https://www.relayuk.bt.com/relay-uk-services/relay-uk-app.html" target="_blank">Relay app (opens in a new tab)</a></li>
            <li><a class="nhsuk-link" href="https://www.relayuk.bt.com/how-to-use-relay-uk/use-relay-uk-with-textphone.html" target="_blank">Relay textphone service (opens in a new tab)</a></li>
          </ul>


          <p>This phone line is open Monday to Friday, 8am to 6pm (excluding public holidays).</p>
          
          
        </div>
        </details>


        <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a class="nhsuk-link" href="#" target="_blank">
          What did you think of this service?</a> (takes 2 minutes).</p>

      </div>
  </div>

{% endblock %}
