{% extends 'layout.html' %}

{% block pageTitle %}
Application could not be completed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
    }) }}

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            We cannot continue with your application
          </h1>
        </div>
      </div>

      <p>This may be because you:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>entered details that do not match any Universal credit or Child tax credit data</li>
        <li>are not eligible based on the benefits you get and your family income</li>
        <li>receive child tax credit but do not have any children under 4</li>
      </ul>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            How to check your benefit details
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>You can check your benefit details by either:</p>  
          <ul>
            <li><a href="https://www.gov.uk/sign-in-universal-credit" target="_blank">signing into your Universal Credit account <span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a></li>
            <li><a href="https://www.gov.uk/manage-your-tax-credits" target="_blank">managing your tax credits<span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a></li>
          </ul>
        </div>
      </details>


        {% if data['benefits'] == "UC" %}

          <h2 class="nhsuk-heading-m">If your details are correct</h2>
          <p>If your details are correct and you think you should be eligible for Healthy Start, contact us by either:</p>
          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Contact us</h2>
            <ul>
              <li>email healthy.start@nhsbsa.nhs.uk</li>
              <li>call 0300 330 7010 - charges may apply</li>
            </ul>
      
            <p>Phone lines are open 8am to 6pm Monday to Friday (except public holidays).</p>
      
            <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges (opens in a new tab)</a>.</p>
          </div>
       
        {% elseif 'CTC' in data['benefits'] %}

          <h2 class="nhsuk-heading-m">If your details are correct</h2>
          <p>If your details are correct and you think you should be eligible for Healthy Start, contact us.</p>

          {% if 'JSA' in data['benefits'] or 'ESA' in data['benefits'] or 'WTC' in data['benefits'] or 'IS' in data['benefits'] or 'PC' in data['benefits'] %}

            <h2 class="nhsuk-heading-m">You may still be eligible</h2>
            <p>Based on the benefits you are receiving you may still be eligible for Healthy Start. You can apply through email or telephone.</p>
      
          {% else %}
          {% endif %}

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Contact us</h2>
            <ul>
              <li>email healthy.start@nhsbsa.nhs.uk</li>
              <li>call 0300 330 7010 - charges may apply</li>
            </ul>
      
            <p>Phone lines are open 8am to 6pm Monday to Friday (except public holidays).</p>
      
            <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges (opens in a new tab)</a>.</p>
          </div>

        {% else %}
        {% endif %}

      <!-- UC review content  -->
      <!-- <p>If you continue to get your benefit after a review, you can reapply to Healthy Start using this service. -->

      <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30 seconds).</p>
    </div>
  </div>

{% endblock %}
