{% extends 'layout.html' %}

{% block pageTitle %}
You are not eligible for help to get money off milk, food and vitamins
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">
            You are not entitled to get help to buy healthy food and milk
        </h1>

        <p>
            Based on your answers, you are not eligible to get help. 
        </p>


    </div>
</div>

{% endblock %}