{% extends 'layout-nhs-login.html' %}

{% block pageTitle %}
Enter your password
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Back to: Enter your email address"
    }) }}

        <h2><span role="text">Enter your password</span></h2>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p>Enter your password to log in.</p>

        
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="input-width-20">
            Password
          </label>
          <input type="password" class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" >
          </div>

        <p><a href="security-code">Reset your password</a>, if you cannot remember it.</p>





        <p><a href="security-code" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Continue</a></p>


</div>
{% endblock %}