 {% extends 'layout.html' %}

{% block pageTitle %}
Enter your new child’s name - Get help to buy food and milk (Healthy Start) - NHSBSA
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <!--{{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
    }) }}-->

        

        <h1 class="nhsuk-fieldset__legend--xl">Enter your new child’s name</h1>

        <p>Enter your child’s name exactly as it appears on your <a class="nhsuk-link" href="https://www.gov.uk/sign-in-universal-credit" target="_blank">
            Universal Credit claim (opens in a new tab)</a>.</p>
           
        <p>If you need to add more than one child, you’ll be able to tell us about them later.</p>

        <form action="v26-ecj/childs-first-name" method="post">

        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

                <div class="nhsuk-form-group">

                  <label class="nhsuk-label" for="childsfirstname">First name</label>
                  <input class="nhsuk-input nhsuk-input--width-20" id="childsfirstname" name="childsfirstname" type="text">

                </div>

                <div class="nhsuk-form-group">

                    <label class="nhsuk-label" for="childsmiddlename">Middle names</label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="childsmiddlename" name="childsmiddlename" type="text">
  
                  </div>

                <div class="nhsuk-form-group">

                  <label class="nhsuk-label" for="childslastname">Last name</label>
                  <input class="nhsuk-input nhsuk-input--width-20" id="childslastname" name="childslastname" type="text">          
                  
                </div>

            </fieldset>

            </div>

            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                    Why we ask for your child's name
                    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <p>We need your child’s name so we can add their details to your Healthy Start claim and make sure you’re being paid correctly.</p>
                </div>
            </details>

                

            <button class="nhsuk-button" type="submit">Continue</button>

        </form>

    </div>
</div>

{% endblock %}