{% extends 'layout.html' %}

{% block pageTitle %}
What is your due date?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

    <form action="v26-ecj/due-date" method="post">

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="hint" role="group">

          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
            <h1 class="nhsuk-fieldset__heading">
              What is your due date?
            </h1>
          </legend>

          <span class="nhsuk-hint" id="hint">
            For example, 21 8 2025
          </span>

          <div class="nhsuk-date-input">
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="duedateday">
                  Day
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="duedateday"
                  name="duedateday" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="duedatemonth">
                  Month
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="duedatemonth"
                  name="duedatemonth" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="duedateyear">
                  Year
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="duedateyear"
                  name="duedateyear" type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </fieldset>

      </div>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If you're unsure of your due date
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>You can use <a href="">the NHS pregnancy and due date calculator</a> if you're unsure of your due date or still waiting for a <a href="">dating scan</a>.</p>
        </div>
      </details>

      <button class="nhsuk-button" type="submit">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}