{% extends 'layout.html' %}

{% block pageTitle %}
Update successful
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!--<div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Update successful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            We’ve added your pregnancy to your Healthy Start claim
          </h2>
        </div>
      </div>-->



      <div class="nhsuk-card" style="background: #007f3b; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: left; color: white;">
            Update successful
          </h1>
          <h2 class="nhsuk-caption-l nhsuk-u-font-weight-normal" style="text-align: left; color: white;">
            We’ve added your pregnancy to your Healthy Start claim
          </h2>
        </div>
      </div>


      <p>We’ve updated your Healthy Start claim with the following details:</p>
      <ul>
        <li>New pregnancy</li>
        <li>Estimated due date: 8 October 2025</li>
      </ul>



      <h2 class="nhsuk-heading-m">Your new payment</h2>
      <p>Every 4 weeks, you’ll get a payment onto your card made up of:</p>
      <ul>
        <li>your existing payment for any children under 4</li>
        <li>an extra £18.60 during your pregnancy</li>
      </ul>


        <h2 class="nhsuk-heading-m">What happens next</h2>
        <p>We’ll send you a confirmation of your updated details and new payment amount.</p>
        <p>This will come to the email address or mobile phone number we send your regular payment notifications to. It should arrive within one hour.</p>
  
          <h2 class="nhsuk-heading-m">Join the Best Start in Life email programme</h2>

          <p>Sign up for personalised regular emails for trusted NHS advice, videos and tips on your pregnancy, birth and parenthood. You’ll receive regular emails tailored to your stage of pregnancy or your child’s age.</p>

          <p><a class="nhsuk-link" href="https://www.nhs.uk/best-start-in-life/signup/" target="_blank">Sign up (opens in a new tab)</a>.
            </p>

        <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a class="nhsuk-link" href="#" target="_blank">
          What did you think of this service?</a> (takes 2 minutes).</p>


          <!--<p><a href="/v25/how-to-apply" class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Finish
          </a></p>-->
    

    </div>
  </div>

{% endblock %}
