{% extends 'layout.html' %}

{% block pageTitle %}
What is your mobile phone number?
{% endblock %}

{% block content %}
<style>
.nhsuk-checkboxes__input + .nhsuk-checkboxes__label::after {
    left: 8px;
    top: 9px;
}
</style>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <form action="/current/mobile-phone-number" method="post">

            <div class="nhsuk-form-group">
                <h1 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--xl nhsuk-u-margin-bottom-3" for="mobilephonenumber">
                    What is your mobile phone number? (optional)
                    </label>
                </h1>
                <input class="nhsuk-input nhsuk-input--width-20" id="mobilephonenumber" name="mobilephonenumber" type="text" autocomplete="tel">
            </div>

            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                    Why we ask for your mobile phone number
                    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <p>We use this to send notifications about your application and payments.</p>
                </div>
            </details>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}