{% extends 'layout.html' %}

{% block pageTitle %}
We’ve updated your communication preferences - Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel">
          <h1 class="nhsuk-panel__title">
            We’ve updated your communication preferences
          </h1>
      </div>

      <p>You’ll no longer get extra communications from Healthy Start.</p>

      <!--<p>You’ll now get communications that relate to the topics you’ve selected.</p>

      <p>You’ve chosen to receive communications about:</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>extras you can get through Healthy Start</li>
        <li>information about healthy food and milk from charities</li>
      </ul>-->

      <h2 class="nhsuk-heading-m">What happens next</h2>

      <p>You can also <a href="#">make other changes to your Healthy Start claim</a>.</p>

      <h2 class="nhsuk-heading-m">Give feedback</h2>
      <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 2 minutes).</p>

    </div>

</div>

{% endblock %}
