<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout-hub-slim.html' %} <!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %}Terms and conditions - Get help to buy food and milk - NHS{% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
   {% block content %}

   <script>
    var ref = document.referrer;
    if (ref.match("step-by-step-index")){
      document.write('<div class="nhsuk-grid-row"><div class="nhsuk-grid-column-full"><div class="nhsuk-card nhsuk-card--clickable"><div class="nhsuk-card__content"><h3><span class="nhsuk-caption-m nhsuk-caption--top">Part of</span><a class="nhsuk-card__link" href="step-by-step-index">Get help to buy food and milk: step by step</a></h3></div></div></div></div>');
    }
  </script>
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->
      <h1>Get help to buy food and milk <span class="nhsuk-caption-xl nhsuk-caption--bottom"><span class="nhsuk-u-visually-hidden">-</span> (Healthy Start)</span></h1>
      <nav aria-label="Pages in this guide"
           class="nhsuk-contents-list"
           role="navigation">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="overview">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="eligibility">Eligibility</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="what-youll-get">What you’ll get</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="what-you-can-buy">What you can buy</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="using-your-card">Using your card</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="how-to-apply">How to apply</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="contact-us">Contact us</a>
          </li>
          <li aria-current="page"
              class="nhsuk-contents-list__item"><span class="nhsuk-contents-list__current">Terms and conditions</span></li>
        </ol>
      </nav><!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <h2>Terms and conditions</h2>
      <p>You agree that:</p>
      <ul>
          <li>all the data you’ve provided is correct</li>
          <li>you’ll tell us if your circumstances or personal details change</li>
          <li>we can check with other organisations that the data you’ve provided is correct</li>
      </ul>
      
      <p>You’ve read and understand:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
          <li>what you’re allowed to buy with your Healthy Start benefit</li>
          <li>your obligations under the Healthy Start scheme</li>
          <li>the rules of the Healthy Start scheme</li>
      </ul>
      
      <p>You agree that you meet at least one of the following conditions:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
          <li>If you’re applying and are pregnant, you’re also either:
            <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-2">
                <li>receiving a qualifying benefit</li>
                <li>under 18</li>
            </ul>
          </li>
      </ul>
      <ul class="nhsuk-list nhsuk-list--bullet">
          <li>If you’re applying and are responsible for children under the age of 4, you receive a qualifying benefit.</li>
      </ul>
      <ul class="nhsuk-list nhsuk-list--bullet">
          <li>If you’re applying for someone else, a member of the household is either:
            <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-2">
                <li>receiving a qualifying benefit</li>
                <li>under 18 and pregnant</li>
            </ul>
          </li>
      </ul>
      
      <p>We use your information in multiple ways. You can read more about <a target="_blank" href="https://www.nhsbsa.nhs.uk/our-policies/privacy/healthy-start-privacy-notice">how we use your information in our privacy policy<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a>.</p>          

      <nav aria-label="Pagination"
           class="nhsuk-pagination"
           role="navigation">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev"
                href="contact-us"><span class="nhsuk-pagination__title">Previous</span> <span class="nhsuk-u-visually-hidden">:</span> <span class="nhsuk-pagination__page">Contact us</span> <svg aria-hidden="true"
                 class="nhsuk-icon nhsuk-icon__arrow-left"
                 viewbox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
            <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path></svg></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>{% endblock %}
</body>
</html>
