{% extends 'layout.html' %}

{% block pageTitle %}
Upload evidence
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "return-task-list",
            "text": "Go back"
        }) }}

        <form action="v22/return-applicant-identity-select" method="post">

        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
              <h1 class="nhsuk-fieldset__heading">
                Prove identity
              </h1>
            </legend>
          
            <p>
              We have confirmed your identity. Your document(s) have been approved and your application is in progress.
            </p>

        <a href="return-task-list" class="nhsuk-button">
          Return to list
      </a>

        </form>


    </div>
</div>

{% endblock %}