{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h1><span role="text"><span class="nhsuk-caption-xl nhsuk-caption--top">Welcome back <span
              class="nhsuk-u-visually-hidden">-</span></span></span> {% if data['referencenumber'] == 'REF1234A' %}Malia Elba{% else %}Sarah Green{% endif %}</h1>

      <p class="nhsuk-body nhsuk-u-margin-bottom-7">To complete your application you need to:</p>


      <ol class="app-task-list">
        {% if data['referencenumber'] == 'REF1234A' %}

        {% else %}
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span> Prove your identity
            </h2>
              <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="return-applicant-identity-select">
                      Identity details
                    </a>
                  </span>
                  {% if data['applicant-identity'] == 'Finished' %}
                  <strong class="nhsuk-tag nhsuk-tag--green__tag">Finished</strong>
                  {% else %}
                  <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Finished</strong>
                  {% endif %}
                </li>
              </ul>
          </li>
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Prove your eligibility
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="return-applicant-eligibility">
                    Benefit details
                  </a>
                </span>
                {% if data['applicant-eligibility'] == 'Finished' %}
                <strong class="nhsuk-tag nhsuk-tag--green__tag">Finished</strong>
                {% else %}
                <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Finished</strong>
                {% endif %}
              </li>
            </ul>
          </li>
        {% endif %}

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">{% if data['referencenumber'] == 'REF1234A' %}1. {% else %}3. {% endif %}</span> Prove your children’s eligibility
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="return-child-eligibility">
                  Tom Green
                </a>
              </span>
              {% if data['child-eligibility'] == 'Finished' %}
              <strong class="nhsuk-tag nhsuk-tag--green__tag">Finished</strong>
              {% else %}
              <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Finished</strong>
              {% endif %}
            </li>
          </ul>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="return-child-eligibility">
                  Michael Green
                </a>
              </span>
              {% if data['child-eligibility'] == 'Complete' %}
              <strong class="nhsuk-tag app-task-list__tag">Complete</strong>
              {% else %}
              <strong class="nhsuk-tag nhsuk-tag--yellow app-task-list__tag">Waiting on</strong>
              {% endif %}
            </li>
          </ul>


        </li>
      </ol>

    
      {% if (data['applicant-identity']) and (data['applicant-eligibility']) and (data['child-eligibility'])  %}
      <p><a href="confirmation-pending" class="nhsuk-button">Confirm and send</a></p>
      {% elseif (data['applicant-identity']) or (data['applicant-eligibility']) or (data['child-eligibility'])  %}
      <p><a href="confirmation-saved" class="nhsuk-button nhsuk-button--secondary" type="submit">Save and return later</a></p>
      {% endif %}

    </div>

  </div>
{% endblock %}