{% extends 'layout.html' %}

{% block pageTitle %}
Your application could not be completed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application received
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            We need to confirm you are eligible
          </h2>
          <h3 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
                Reference number: <span class="nhsuk-caption-xl nhsuk-caption--bottom nhsuk-u-font-weight-bold" style="color: white;">HDJ2123F</span>
        </div>
      </div>

      <p>We cannot currently confirm if you are eligible to get help to buy food and milk.<p>

      <h2 class="nhsuk-heading-m">What happens next</h2>

      <p>We need to check and review your application and your Universal Credit claim. This could take up to 28 days.</p>

      <p>Once we're able to confirm if you're eligible or not, we'll contact you.</p>

      <p>If you're eligible, we'll:
        <ul>
          <li>tell your more about your payment</li>
          <li>send you your card</li>
          <li>give you payments due to you from today's date onwards</li>
        </ul>

      <p>You should not try to apply again using the online service or by calling us.<p>

      <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30 seconds).</p>
    </div>
  </div>

{% endblock %}
