{% extends 'layout.html' %}

{% block pageTitle %}
Your application could not be completed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Your application could not be completed
          </h1>
          <!-- <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            You’re not entitled to get help to buy food and milk (Healthy Start)
          </h2> -->
          <h3 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
                Reference number: <span class="nhsuk-caption-xl nhsuk-caption--bottom nhsuk-u-font-weight-bold" style="color: white;">HDJ2123F</span>
        </div>
      </div>

      <p>We have been unable to confirm if you are eligible to get help to buy food and milk.<p>

      <h2 class="nhsuk-heading-m">What you need to do</h2>
      <p>You should be eligible if you’re:
      <ul>
         <li>at least 10 weeks pregnant or have at least one child that’s under 4</li>
         <li>and get Universal Credit</li>
        <li>and your family’s take-home pay is £408 or less per month</li>
      </ul>

      <p>To confirm this, you need to send us a copy of your last benefits award notice. The copy can either be a scan, photocopy or photo of the original document.</p>

      <p>Send the copy with your reference number to us either by:</p>
      <ul>
         <li>email to healthy.start@nhsbsa.nhs.uk</li>
        <li>post to NHS Healthy Start Scheme, NHSBSA, Bridge House, 152 Pilgrim Street,
        Newcastle upon Tyne, NE1 6SN</li>
      </ul>

      <h2 class="nhsuk-heading-m">What we'll do</h2>

      <p>We'll check the copy of your benefits award notice and reference number. We'll then contact you to confirm if you're eligible or not.

        <p>If you're eligible, we'll:
          <ul>
            <li>tell your more about your payment</li>
            <li>send you your card</li>
            <li>give you payments due to you from today's date onwards</li>
          </ul>

      <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30 seconds).</p>
    </div>
  </div>

{% endblock %}
