{% extends 'layout.html' %}

{% block pageTitle %}
You are not eligible for help to get money off milk, food and vitamins
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
            <div class="nhsuk-card__content">
                <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                    We cannot continue with your application online
                </h1>
            </div>
        </div>

      <!-- under 16 content with form -->
        <!-- <p>
        If you are under 16 years old and at least 10 weeks pregnant, you can apply for Healthy Start by <a href="#">downloading this application form (PDF, 100KB)</a>.
        </p>

        <p>When you have filled it in you should send it back to us with a good quality copy of either your:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>birth certificate</li>
            <li>passport</li>
            <li>driving license</li>
        </ul>


<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
   <p>This can either be a scan, photocopy or photo of the original document. It will be used to confirm your age and identity.</p>
</div>
       

        <p>You can send the form and the copy of your identification to us by either:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>email to healthy.start@nhsbsa.nhs.uk</li>
            <li>post to NHS Business Services Authority, Bridge House, 152 Pilgrim Street, Newcastle upon Tyne, NE1 6SN</li>
        </ul> -->

    <!-- under 16 content without form -->
        <p>If you are under 16 years old and at least 10 weeks pregnant, you can apply to Healthy Start by either:
          <ul>
            <li>emailing healthy.start@nhsbsa.nhs.uk</li>
            <li>calling 0300 330 7010</li>
            </ul>

        <p>Phone lines are open 8am to 6pm Monday to Friday (except public holidays). <a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges<span class="nhsuk-u-visually-hidden">(opens in a new tab)</span></a>.

        <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30 seconds).</p>


    </div>
</div>

{% endblock %}
