{% extends 'layout.html' %}

{% block pageTitle %}
What benefits do {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} receive?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">
            What benefits do {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} receive?
        </h1>

        <form action="/v1/benefits" method="post">

            <div class="nhsuk-form-group">

                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                  
                      <span class="nhsuk-hint">
                        Select all options that are relevant to {% if data['applyingfor'] == "myself" %}you{% else %}them{% endif %}.
                      </span>
                  
                      <div class="nhsuk-checkboxes">
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="UC" name="benefits" type="checkbox" value="UC">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="UC">
                            Universal Credit
                          </label>
                        </div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="CTC" name="benefits" type="checkbox" value="CTC">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="CTC">
                            Child Tax Credit
                          </label>
                        </div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="JSA" name="benefits" type="checkbox" value="JSA">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="JSA">
                            Jobseeker’s Allowance (JSA)
                          </label>
                        </div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="ESA" name="benefits" type="checkbox" value="ESA">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="ESA">
                            Employment and Support Allowance (ESA)
                          </label>
                        </div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="IS" name="benefits" type="checkbox" value="IS">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="IS">
                            Income Support
                          </label>
                        </div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="PC" name="benefits" type="checkbox" value="PC">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="PC">
                            Pension Credit
                          </label>
                        </div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="WTC" name="benefits" type="checkbox" value="WTC">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="WTC">
                            Working Tax Credit
                          </label>
                        </div>
                  
                        <div class="nhsuk-radios__divider">or</div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input deselect" id="ESA" name="benefits" type="checkbox" value="ESA">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="ESA">
                            No, {% if data['applyingfor'] == "myself" %}I{% else %}they{% endif %} do not get any of these
                          </label>
                        </div>
                  
                  
                      </div>
                    </fieldset>
                  
                  </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}