{% extends 'layout.html' %}

{% block pageTitle %}
Do {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} get any of these benefits?
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">
            Do {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} get any of these benefits?
        </h1>

        <form action="/v1/benefits" method="post">

            <div class="nhsuk-form-group">

                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                  
                      <span class="nhsuk-hint">
                        Select all options that are relevant to {% if data['applyingfor'] == "myself" %}you{% else %}them{% endif %}.
                      </span>
                  
                      <div class="nhsuk-checkboxes">
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="UC" name="benefits" type="checkbox" value="UC">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="UC">
                            Universal Credit
                          </label>
                        </div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="CTC" name="benefits" type="checkbox" value="CTC">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="CTC">
                            Child Tax Credit
                          </label>
                        </div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="JSA" name="benefits" type="checkbox" value="JSA">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="JSA">
                            Jobseeker’s Allowance (JSA)
                          </label>
                        </div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="ESA" name="benefits" type="checkbox" value="ESA">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="ESA">
                            Employment and Support Allowance (ESA)
                          </label>
                        </div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="IS" name="benefits" type="checkbox" value="IS">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="IS">
                            Income Support
                          </label>
                        </div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="PC" name="benefits" type="checkbox" value="PC">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="PC">
                            Pension Credit
                          </label>
                        </div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="WTC" name="benefits" type="checkbox" value="WTC">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="WTC">
                            Working Tax Credit
                          </label>
                        </div>
                  
                        <div class="nhsuk-radios__divider">or</div>
                  
                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input deselect" id="NONE" name="benefits" type="checkbox" value="NONE">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="NONE">
                            No, {% if data['applyingfor'] == "myself" %}I{% else %}they{% endif %} do not get any of these
                          </label>
                        </div>
                  
                  
                      </div>
                    </fieldset>
                  
                  </div>

            {% if data['yrs'] < "18" %}

            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                    {% if data['applyingfor'] == "myself" %}My{% else %}Their{% endif %} parents or guardians claim benefits
                    </span>
                </summary>
                <div class="nhsuk-details__text">

                <p>If one or both of {% if data['applyingfor'] == "myself" %}your{% else %}their{% endif %} parents or guardians claim benefits or {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} get paid Child Tax Credit for {% if data['applyingfor'] == "myself" %}you{% else %}them{% endif %}, {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} could be entitled to get help to buy food and milk (Healthy Start).</p>

                <p>Check with {% if data['applyingfor'] == "myself" %}your{% else %}their{% endif %} parents or guardians if {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} think {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} might be named on their claim.</p>

                </div>
            </details>

          {% endif %}


            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>
        <script>
        var $others = $('input[name="benefits"]').not('#NONE')
        $('#NONE').change(function () {
          if (this.checked) {
            $others.prop('checked', false)
          }
        });
        $others.change(function () {
          if (this.checked) {
            $('#NONE').prop('checked', false)
          }
        })
        </script>
    </div>
</div>

{% endblock %}