{% extends 'layout.html' %}

{% block pageTitle %}
What is {% if data['applyingfor'] == "myself" %}your{% else %}their{% endif %} childs first name?
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">What is {% if data['applyingfor'] == "myself" %}your{% else %}their{% endif %} childs first name?</h1>

        <p>If {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} have more than one child under 4 years old, {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} will be able to tell us about them later.</p>

        <form action="/v1/childs-first-name" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

                <label class="nhsuk-label" for="childsfirstname">Childs first name</label>
                <input class="nhsuk-input nhsuk-input--width-20" id="childsfirstname" name="childsfirstname" type="text">

                </fieldset>
                
            </div>

            <button class="nhsuk-button" type="submit">Continue</button>

        </form>

    </div>
</div>

{% endblock %}