{% extends 'layout.html' %}

{% block pageTitle %}
What is {% if data['applyingfor'] == "myself" %}your{% else %}their{% endif %} national insurance number?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">
            What is {% if data['applyingfor'] == "myself" %}your{% else %}their{% endif %} national insurance number?
        </h1>

        <form action="/v1/national-insurance-number" method="post">
            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="nationalinsurancenumber">
                    National Insurance number
                </label>
                <span class="nhsuk-hint" id="example-with-hint-text-hint">
                    It's on {% if data['applyingfor'] == "myself" %}your{% else %}their{% endif %} National Insurance card, benefit letter, payslip or P60. For example, 'QQ 12 34 56 C'.
                </span>
                <input class="nhsuk-input nhsuk-input--width-20" id="nationalinsurancenumber" name="nationalinsurancenumber" type="text">
            </div>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Why we ask for {% if data['applyingfor'] == "myself" %}your{% else %}their{% endif %} national insurance number
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p>We need this to check {% if data['applyingfor'] == "myself" %}your{% else %}their{% endif %} eligibility.</p>                      
              </div>
            </details>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}