{% extends 'layout.html' %}

{% block pageTitle %}
Is {% if data['applyingfor'] == "myself" %}your{% else %}their{% endif %} family receiving the 4 week 'run-on' payment?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">
            Is {% if data['applyingfor'] == "myself" %}your{% else %}their{% endif %} family receiving the 4 week 'run-on' payment?
        </h1>

        <p>Working Tax Credit run-on is what {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} receive in the 4 weeks immediately after {% if data['applyingfor'] == "myself" %}you{% else %}they{% endif %} have stopped working for 16 hours or more per week (single adults) or 24 hours per week (couples).</p>

        <form action="/v1/working-tax-credits" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

                    <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="yes" name="workingtaxcredits" type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="no" name="workingtaxcredits" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>

            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}