{% extends 'layout.html' %}

{% block pageTitle %}
What is your name?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">
            What is your name?
        </h1>

        <p>Use the name that’s on your official documents, such as passport, driving licence, or any benefit claims.</p>

        <form action="/v10/name" method="post">

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="firstname">
                    First name
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="firstname" name="firstname" type="text" autocomplete="given-name">
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="lastname">
                    Last name
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="lastname" name="lastname" type="text" autocomplete="family-name">
            </div>


                  <details class="nhsuk-details">
                        <summary class="nhsuk-details__summary">
                          <span class="nhsuk-details__summary-text">
                            Why we ask for your name
                          </span>
                        </summary>
                        <div class="nhsuk-details__text">
                          <p>We use your name to confirm your identity and eligibility.</p>                      
                        </div>
                      </details>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}