{% extends 'layout.html' %}

{% block pageTitle %}
Are you pregnant?
{% endblock %}


<!-- Content logic -->
{% if data['firstname-partner'] %}
{% set title = "Are you or" + " " + data['firstname-partner'] | capitalize  + " " + data['lastname-partner'] | capitalize + " " + "pregnant?" %}
{% set radio1 = "Me" %}
{% set radio2 = data['firstname-partner'] | capitalize  + " " + data['lastname-partner'] | capitalize %}
{% set detailsSpan = "If you or" + " " + data['firstname-partner'] | capitalize  + " " + data['lastname-partner'] | capitalize + " " + "are less than 10 weeks pregnant"%}

{% else %}

{% set title = "Are you or pregnant?" %}
{% set radio1 = "Yes" %}
{% set radio2 = "No" %}
{% set detailsSpan = "If you're less than 10 weeks pregnant"%}

{% endif %}




{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <form action="v1-error-and-fraud/are-you-pregnant" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">

                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                    <h1 class="nhsuk-fieldset__heading">
                        {{title}}
                    </h1>
                </legend>
                
                <div class="nhsuk-hint" id="contact-hint">
                    You must have completed your 10th week of pregnancy.
                </div>

                    <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="pregnant-1" name="pregnant" type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="pregnant-2" name="pregnant" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>

            </div>

            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    {{detailsSpan}}
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                    <p>If you are less than 10 weeks pregnant and have children under 4 years old, you can add your pregnancy onto your application when you’ve completed your 10th week of pregnancy by:</p>
                    <ul>
                      <li>emailing <a href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a></li>
                      <li>calling 0300 330 7010 – charges may apply</li>
                    </ul>
                    <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out more about call charges (opens in a new tab)</a>.</p>
                    <p>If you are less than 10 weeks pregnant and have no other children under 4 years old, you’ll need to apply again when you’ve completed your 10th week of pregnancy.</p>
                  </div>
              </details>


            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

<script>
  
    const pregnant = req.session.data['pregnant']
    const radioButton1 = document.getElementById('pregnant-1');
    const radioButton2 = document.getElementById('pregnant-2');
  
    if (pregnant === 'yes') {
      radioButton1.checked = true;
    } else if (pregnant === 'no') {
      radioButton2.checked = true;
    };
  
</script>

{% endblock %}