{% extends 'layout.html' %}

{% block pageTitle %}
Are you pregnant?
{% endblock %}


<!-- Content logic -->
{% if data['partner'] == 'yes' %}
{% set title = "Are you or" + " " + data['firstname-partner'] | capitalize  + " " + data['lastname-partner'] | capitalize + " " + "more than 10 weeks pregnant?" %}
{% else %}
{% set title = "Are you more than 10 weeks pregnant?" %}
{% endif %}


{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <form action="v1-error-and-fraud/are-you-pregnant" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">

                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                    <h1 class="nhsuk-fieldset__heading">
                        {{title}}
                    </h1>
                </legend>
                
                <div class="nhsuk-hint" id="contact-hint">
                    You must have completed your 10th week of pregnancy.
                </div>

                    <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="pregnant-1" name="pregnant" type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="pregnant-2" name="pregnant" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>

            </div>


            <button class="nhsuk-button" type="submit">
                Continue
            </button>

            <div class="nhsuk-u-margin-top-5">
                <a class="nhsuk-link" href="/v1-error-and-fraud/apply/kickouts/confirmation-duplicates">error-page (duplicate)</a>
            </div>

        </form>

    </div>
</div>

<script>
  
    const pregnant = "{{data['pregnant']}}";
    const radioButton1 = document.getElementById('pregnant-1');
    const radioButton2 = document.getElementById('pregnant-2');
  
    if (pregnant == 'yes') {
      radioButton1.checked = true;
    } else if (pregnant == 'no') {
      radioButton2.checked = true;
    };
  
</script>

{% endblock %}