{% extends 'layout.html' %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-u-margin-bottom-5">
            Check your answers
        </h1>

        <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-2">Your details</h2>

        <form action="v1-error-and-fraud/cya-personal-details" method="POST">
            <dl class="nhsuk-summary-list">

                {%if data['firstname']%}
                    <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Full name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        {{ data['firstname'] }} {{ data['lastname'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a href="name#firstname">
                        Change<span class="nhsuk-u-visually-hidden"> name</span>
                        </a>
                    </dd>
                    </div>
                {%endif%}
            
                {%if data['postcode']%}
                    <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Postcode
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        {{ data['postcode'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a href="postcode#postcode">
                        Change<span class="nhsuk-u-visually-hidden"> postcode</span>
                        </a>
                    </dd>
                    </div>
                {%endif%}
            
                <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{ data['dateofbirth'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="date-of-birth#dateofbirthday">
                    Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                    </a>
                </dd>
                </div>

                {% if data['nhs-numb'] %}
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            NHS number
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            {{ data['nhs-numb'] }}
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                            <a href="national-insurance-number#nationalinsurancenumber">
                                Change<span class="nhsuk-u-visually-hidden"> NHS number</span>
                            </a>
                        </dd>
                    </div>
                {% endif %}
            
                <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    National insurance number
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{ data['nationalinsurancenumber'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="national-insurance-number#nationalinsurancenumber">
                    Change<span class="nhsuk-u-visually-hidden"> national insurance number</span>
                    </a>
                </dd>
                </div>        
            </dl>
            <input class="nhsuk-button" type="submit" value="Continue">
        </form>
        
    </div>
</div>

{% endblock %}