{% extends 'layout.html' %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% set partnerName = data['partner-name'] %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-thirds">

        <h1 class="nhsuk-u-margin-top-4">Check your answers before sending your application</h1>


        <!-- partner logic -->

        {% if data['partner'] == 'yes' %}
        <h2>Partner Details</h2>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Name</dt>
                <dd class="nhsuk-summary-list__value">{{data['firstname-partner']}} {{data['lastname-partner']}}</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="partner-name">Change<span class="nhsuk-u-visually-hidden"> name</span></a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Date of birth</dt>
                <dd class="nhsuk-summary-list__value">{{data['dateofbirth-partner']}}</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="partner-date-of-birth">Change<span class="nhsuk-u-visually-hidden"> partner's date of birth</span></a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">National Insurance Number</dt>
                <dd class="nhsuk-summary-list__value">{{data['nationalinsurancenumberpartner']}}</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="partner-national-insurance-number">Change<span class="nhsuk-u-visually-hidden"> Partner national insurance number</span></a>
                </dd>
            </div>

            <div class="nhsuk-u-margin-top-4">
                <a href="#" class="nhsuk-link remove-child" data-index="{{ loop.index }}">
                    Remove partner
                </a><span class="nhsuk-u-visually-hidden"> Remove partner</span>
            </div>
            
        </dl>
        {% endif %}

        <!-- pregnancy logic -->

        {% if data['pregnant'] == 'yes'%}
        <h2>About pregnancy</h2>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Who is pregnant?</dt>
                <dd class="nhsuk-summary-list__value" id="pregnant-name"></dd>  
                <dd class="nhsuk-summary-list__actions">
                    <a href="who-is-pregnant">Change<span class="nhsuk-u-visually-hidden"> Who is pregnant?</span></a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Due date</dt>
                <dd class="nhsuk-summary-list__value">{{data['duedate']}}</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="due-date">Change<span class="nhsuk-u-visually-hidden"> pregnancy due date</span></a>
                </dd>
            </div>
        </dl>
        {% endif %}


        <!-- children logic -->

        {% if data['childrenunderfour'] == "yes" %}
            <h2>About your children under 4 years old</h2>

            <dl class="nhsuk-summary-list">
                {% for item in data['childList'] %}
                <div class="nhsuk-summary-list__row no-bottom-border child-header">
                    <dt class="nhsuk-summary-list__key">
                        <h3 class="nhsuk-heading-xs nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-2">Child {{ loop.index }}</h3>
                    </dt>
                    <dd class="nhsuk-summary-list__value"></dd>
                   
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Name</dt>
                    <dd class="nhsuk-summary-list__value">{{ item.ChildsFirstName }} {{ item.ChildsLastName }}</dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a href="due-date">Change<span class="nhsuk-u-visually-hidden"> Change child's name</span></a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Date of birth</dt>
                    <dd class="nhsuk-summary-list__value">{{ item.ChildsDOB }}</dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a href="due-date">Change<span class="nhsuk-u-visually-hidden"> Change child's date of birth</span></a>
                    </dd>
                </div>

                {% if item.ChildsNhsNumb %}
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">NHS number</dt>
                    <dd class="nhsuk-summary-list__value">{{ item.ChildsNhsNumb }}</dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a href="due-date">Change<span class="nhsuk-u-visually-hidden"> Change child's NHS number</span></a>
                    </dd>
                </div>
                {% endif %}

                <div class="nhsuk-u-margin-top-4">
                    <a href="/v1-error-and-fraud/apply/remove-child?index={{ loop.index -1 }}" class="nhsuk-link remove-child">
                        Remove this child
                    </a><span class="nhsuk-u-visually-hidden"> Remove this child</span>
                </div>

                {% endfor %}
            </dl>
        {% endif %}


        <!-- Contact and delivery details -->

        <h2>Contact and delivery details</h2>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Email</dt>
                <dd class="nhsuk-summary-list__value">{{data['emailaddress']}}</dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="email-address">Change<span class="nhsuk-u-visually-hidden"> email address</span></a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Delivery address</dt>
                {% if data['addressline1']%}
                <dd class="nhsuk-summary-list__value">
                    {{data['addressline1']}}
                    {% if data['addressline2']%}
                    <br>
                    {{data['addressline2']}}
                    {% endif %}
                    <br>
                    {{data['towncity']}}
                    <br>
                    {{data['postcode-address']}}
                </dd>
                {% else %}
                <dd class="nhsuk-summary-list__value">
                    22B Manor Court
                    <br>
                    London Road
                    <br>
                    Birmigham
                    <br>
                    SE23 4L5
                </dd>
                {% endif %}
                <dd class="nhsuk-summary-list__actions">
                    <a href="delivery-address">Change<span class="nhsuk-u-visually-hidden"> delivery address</span></a>
                </dd>
            </div>
        </dl>

        <a href="confirmation-successful" class="nhsuk-button">Send application</a>

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    
        // Get values directly from the template
        const whoIsPregnant = "{{ data['who-is-pregnant'] }}";
        const firstNamePartner = "{{ data['firstname-partner'] }}";
        const lastNamePartner = "{{ data['lastname-partner'] }}";
        const firstName = "{{ data['firstname'] }}";
        const lastName = "{{ data['lastname'] }}";
    
        // Select the element where the name will be displayed
        const pregnantNameElement = document.getElementById('pregnant-name');
    
        // Logic to display partner's name or user's name
        if (whoIsPregnant === 'partner') {
            pregnantNameElement.textContent = `${firstNamePartner} ${lastNamePartner}`;
        } else if (firstName){
            pregnantNameElement.textContent = `${firstName} ${lastName}`;
        }else pregnantNameElement.textContent = 'Me';

        console.log("whoIsPregnant:", whoIsPregnant);
        console.log("firstNamePartner:", firstNamePartner);
        console.log("lastNamePartner:", lastNamePartner);
        console.log("firstName:", firstName);
        console.log("lastName:", lastName);

    });

    </script>
    

{% endblock %}







<!-- 
{% if data['childrenunderfour'] == "yes" %}
            <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-2">About your children under 4 years old</h2>
            <dl class="nhsuk-summary-list">
                {% for item in data['childList'] %}
                <div class="nhsuk-summary-list__row no-bottom-border child-header">
                    <dt class="nhsuk-summary-list__key">
                        <h3 class="nhsuk-heading-xs nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-2">Child {{ loop.index }}</h3>
                    </dt>
                    <dd class="nhsuk-summary-list__value"></dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a href="#" class="nhsuk-u-margin-top-4">Remove<span class="nhsuk-u-visually-hidden"> this child's details</span></a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Child’s first name</dt>
                    <dd class="nhsuk-summary-list__value">{{ item.ChildsFirstName }}</dd>
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Child’s date of birth</dt>
                    <dd class="nhsuk-summary-list__value">{{ item.ChildsDOB }}</dd>
                </div>
                {% endfor %}
            </dl>
{% endif %} -->