{% extends 'layout.html' %}

{% block pageTitle %}
Do you know you NHS number?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <form action="v1-error-and-fraud/children-under-four-nhs" method="post">

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                <h1 class="nhsuk-fieldset__heading">
                  Do you know {{ data['childsfirstname']}} {{data['childslastname']}}'s NHS number?
                </h1>
                <div class="nhsuk-u-margin-top-3">
                  <span class="nhsuk-hint" id="example-with-hint-text-hint">
                    Their NHS number is a 10 digit number that you find on any letter the NHS has sent them. 
                  </span>
                </div>
              </legend>

              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    How to find their NHS number
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <p>You can find it on the NHS app or use our online <a href="#">NHS number finder (opens in a new tab)</a></p>

              
                </div>
              </details>
          
              <div class="nhsuk-radios">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="child-nhs-1" name="child-nhs" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                    Yes, I know their NHS number
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="child-nhs-2" name="child-nhs" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    No, I don't know their NHS number, continue without.
                  </label>
                </div>
          
              </div>
            </fieldset>
          
          </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

<script>
  
  // const childnhs = "{{data['child-nhs']}}";
  // const radioButton1 = document.getElementById('child-nhs-1');
  // const radioButton2 = document.getElementById('child-nhs-2');

  // if (childnhs === 'yes') {
  //   radioButton1.checked = true;
  // } else if (childnhs === 'no') {
  //   radioButton2.checked = true;
  // };

</script>

{% endblock %}