{% extends 'layout.html' %}

{% block pageTitle %}
What is their NHS number?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <form action="v1-error-and-fraud/child-nhs-numb" method="post">

            <div class="nhsuk-form-group">
                <h1 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--xl nhsuk-u-margin-bottom-3" for="nationalinsurancenumber">
                    What is {{ data['childsfirstname']}} {{data['childslastname']}}'s NHS number?
                    </label>
                </h1>
                <span class="nhsuk-hint" id="example-with-hint-text-hint">
                   For example, 485 777 3456.
                </span>
                <input class="nhsuk-input nhsuk-input--width-20" id="child-nhs-numb" name="child-nhs-numb" type="text">
            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}