{% extends 'layout.html' %}

{% block pageTitle %}
Is your mobile number correct?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

    <form action="v1-error-and-fraud/get-your-security-code" method="post">

      

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
            <h1 class="nhsuk-fieldset__heading">
              Is your mobile number correct?
            </h1>
          </legend> 

          <div class="nhsuk-hint" id="contact-hint">
            <p>We need to send you a security code by text message.</p>
          </div>


          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>********338</p>
          </div>

          <div class="nhsuk-radios nhsuk-radios--inline">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="textmessage" name="getyoursecuritycode" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="getyoursecuritycode">
                Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="changed" name="getyoursecuritycode" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="getyoursecuritycode">
                No
              </label>
            </div>
      
          </div>

        </fieldset>
      

      </div>


      <button class="nhsuk-button" type="submit">
        Continue
      </button>

      <div class="nhsuk-u-margin-top-5">
        <a class="nhsuk-link" href="/v1-error-and-fraud/apply/kickouts/pds-not-matching">error-page</a>
      </div>

    </form>

  </div>
</div>

{% endblock %}