{% extends 'layout.html' %}

{% block pageTitle %}
<!-- What is {% if data['applyingfor'] == "myself" %}your{% else %}their{% endif %} address? -->
What is your address?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">
            What is your address?
        </h1>

        <form action="v1-error-and-fraud/new-address" method="post">

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="addressline1">
                    Building and street
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="addressline1" name="addressline1" type="text" autocomplete="address-line1" value="{{ data['addressline1']}}">
            </div>

            <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="addressline2">
                    Address line 2 (optional)
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="addressline2" name="addressline2" type="text" autocomplete="address-line2" value="{{ data['addressline2']}}">
            </div>

            <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="towncity">
                    Town or city
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="towncity" name="towncity" type="text" autocomplete="address-level2" value="{{ data['towncity']}}">
            </div>

            <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="postcode">
                    Postcode
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="postcode-address" name="postcode-address" type="text" autocomplete="postal-code" value="{{ data['postcode-address']}}">
            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}