{% extends 'layout.html' %}

{% block pageTitle %}
What is your NHS number?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <form action="v1-error-and-fraud/nhs-numb" method="post">

            <div class="nhsuk-form-group">
                <h1 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--xl nhsuk-u-margin-bottom-3" for="nationalinsurancenumber">
                    What is your NHS number?
                    </label>
                </h1>
                <span class="nhsuk-hint" id="example-with-hint-text-hint">
                   Your NHS number is a 10 digit number that you find on any letter the NHS has sent you. For example, 485 777 3456.
                </span>
                <input class="nhsuk-input nhsuk-input--width-20" id="nhs-numb" name="nhs-numb" type="text" value="{{ data['nhs-numb'] }}">
            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}