{% extends 'layout.html' %}

{% block pageTitle %}
Do you know you NHS number?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <form action="v1-error-and-fraud/nhs" method="post">

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                <h1 class="nhsuk-fieldset__heading">
                  Do you know your NHS number?
                </h1>
              </legend>
          
              <div class="nhsuk-radios">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="nhs-1" name="nhs" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="nhs-1">
                    Yes, I know my NHS number
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="nhs-2" name="nhs" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="nhs-1">
                    No, continue another way
                  </label>
                </div>
          
              </div>
            </fieldset>
          
          </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {

    const nhs = "{{data['nhs']}}";
    const radioButton1 = document.getElementById('nhs-1');
    const radioButton2 = document.getElementById('nhs-2');
  
    if (nhs === 'yes') {
      radioButton1.checked = true;
    } else if (nhs === 'no') {
      radioButton2.checked = true;
    }
  });
</script>

{% endblock %}


