{% extends 'layout.html' %}

{% block pageTitle %}
What is your partner name?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">
            What is your partner name?
        </h1>

        <form action="v1-error-and-fraud/name-partner" method="post">

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="firstname">
                    First name
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="firstname-partner" name="firstname-partner" type="text" autocomplete="given-name">
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="lastname">
                    Last name
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="lastname-partner" name="lastname-partner" type="text" autocomplete="family-name">
            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}