{% extends 'layout.html' %}

{% block pageTitle %}
Do you live with a partner?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <form action="v1-error-and-fraud/partner" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">

                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                    <h1 class="nhsuk-fieldset__heading">
                        Do you live with a partner?
                    </h1>
                </legend>

                    <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="partner-1" name="partner" type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="partner-2" name="partner" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>

            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

<script>
  
    const partner = "{{data['partner']}}";
    const radioButton1 = document.getElementById('partner-1');
    const radioButton2 = document.getElementById('partner-2');
  
    if (partner === 'yes') {
       radioButton1.checked = true;
    } else if (partner === 'no') {
      radioButton2.checked = true;
    };
  
</script>

{% endblock %}