{% extends 'layout.html' %}

{% block pageTitle %}
You cannot request a new security code for 3 hours – Get help to buy food and milk (Healthy Start) - NHSBSA
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!--{{ backLink({
  href: "javascript:history.go(-1)",
  text: "Back"
}) }}-->

    <form action="v25/cannot-request-code" method="post">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
            <h1 class="nhsuk-fieldset__heading">
              You cannot request a new security code for 3 hours
            </h1>
          </legend> 
      
          
        <p>You’ve exceeded the number of times a security code can be sent.</p>
        <p>You’ll need to wait 3 hours before you can request another code to update your claim online.</p>
        <p>If you need to update your claim within 3 hours, you can <a class="nhsuk-link" href="https://www.healthystart.nhs.uk/contact-us/" target="_blank">contact us by phone or email</a>.</p>


        </fieldset>
      </div>



      <h2 class="nhsuk-heading-m">Give feedback</h2>
      <p><a class="nhsuk-link" href="https://online1.snapsurveys.com/interview/8d5b21b1-9312-43c4-86f8-61d749cb1800" target="_blank">
        What did you think of this service?</a> (takes 2 minutes)</p>



    </form>

  </div>
</div>

{% endblock %}