{% extends 'layout.html' %}

{% block pageTitle %}
Application could not be completed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application unsuccessful 
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            We’ve found an existing Healthy Start claim with these details
          </h2>
          <br>
          <h5 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white; margin-bottom: 0;">Reference number:</h3>  
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;"><strong>A1234ACD</strong></h2>

          <!--<h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">Reference number:  
          <br><strong>AB1CDE2FG</strong></h2> -->
          
      </div>
      </div>

      <p>We’ve checked your application and found an existing Healthy Start claim with these details.</p>

      <p>You can only have one active Healthy Start claim at a time. If you do not have an existing claim, check you’ve entered your details correctly, including your:</p>
      <ul>
        <li>full name</li>
        <li>address</li>
        <li>date of birth</li>
        <li>National Insurance number</li>
      </ul>

      <h2 class="nhsuk-heading-m">Report a change</h2>
      <p>If you already have a Healthy Start card, let us know if your circumstances have changed 
        so we can update your payments. You should tell us:</p>
      <ul>
        <li>about a new pregnancy </li>
        <li>if you’ve just had a baby</li>
        <li>if you need to add or a remove a child from your claim</li> 
      </ul>


      <!-- <h2 class="nhsuk-heading-m">How to contact us</h2> -->

      <p>You can contact us by:</p>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">

        <ul class="nhsuk-list">
          <li><strong>Email: </strong><a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a></li> 
          <!-- <li>We can deal with all queries by email.</li>
          <li>We aim to respond within 2 working days.</li> -->
        </ul>
        
        <ul class="nhsuk-list">
          <li><strong>Telephone: </strong>0300 330 7010</li>
          <li>Phone lines are open Monday to Friday, 8am to 6pm (except public holidays).</li>
        </ul>

        <p>If you need to report your card as lost or stolen, you can call 0300 330 2090 – this phone line is open 24 hours a day, 7 days a week.</li>
        </p>
      

        <p>
          <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">
            Find out more about call charges (opens in a new tab).</a>
        </p>

      </div>

      <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="https://online1.snapsurveys.com/interview/feced57a-91da-474b-82a2-c3307f4e12d8" target="_blank">What did you think of this service?</a> (takes 2 minutes)
        </p>  
    </div>
  </div>

{% endblock %}
