{% extends 'layout.html' %}

{% block pageTitle %}
Application could not be completed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application unsuccessful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            You are not eligible for Healthy Start
          </h2>
        </div>
      </div>

      <p>To be eligible for Healthy Start, you must be more than 10 weeks pregnant or have at least one child under 4 years old.</p>

      <p>If you think you should be eligible for Healthy Start, check you've given us the correct:</p>
      <ul>
        <li>estimated due date if you're more than 10 weeks pregnant</li>
        <li>dates of birth for your children under 4 years old</li>
      </ul>

      <p>If you’re less than 10 weeks pregnant and have no other children under 4, you can apply again after your tenth week of pregnancy.</p>

      <h2 class="nhsuk-heading-m">Any problems</h2>

      <p>If there’s a change in your circumstances or you think there’s been a mistake, you can contact us by:</p>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">

        <ul class="nhsuk-list">
          <li>Telephone: 0300 330 7010</li>
          <li>This phone line is available Monday to Friday, 8am to 6pm (except public holidays).</li>
        </ul>
        
        <p>
          <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges (opens in new tab).</a>
        </p>

        <ul class="nhsuk-list">
          <li>Email: <a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a></li>
          <li>We aim to respond to your email within 2 working days.</li>
        </ul>

      </div>

      <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="https://online1.snapsurveys.com/interview/feced57a-91da-474b-82a2-c3307f4e12d8" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 2 minutes).</p>
    </div>
  </div>

{% endblock %}
