{% extends 'layout.html' %}

{% block pageTitle %}
Application could not be completed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Contact us
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            We cannot continue with your Healthy Start application online
          </h2>
          <br>
          <h5 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white; margin-bottom: 0;">Reference number:</h3>  
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;"><strong>AB1CDE2FG</strong></h2>

          <!--<h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">Reference number:  
          <br><strong>AB1CDE2FG</strong></h2> -->
          
      </div>
      </div>

      <h2 class="nhsuk-heading-m">There is a problem</h2>
      <p class="nhsuk-body">Your details match an existing application.</p>
      <p class="nhsuk-body">Some details you provided have already been used to apply for Healthy Start. </p>
      <p class="nhsuk-body">Check the details you provided are correct or if your partner or someone in your household has applied for Healthy Start.</p>
      <p class="nhsuk-body">If there has been a change in your circumstances or you want to update your details, you can return to the <a class="nhsuk-link" href="#">Which service would you like to use</a> page and select the option you need.</p>

      <h2 class="nhsuk-heading-m">How to contact us</h2>

      <p>You can contact us by:</p>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">

        <ul class="nhsuk-list">
          <li><strong>Email:</strong><a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk"> healthy.start@nhsbsa.nhs.uk</a></li> 
          <li>We can deal with all queries by email.</li>
          <li>We aim to respond within 2 working days.</li>
        </ul>
      
        <ul class="nhsuk-list">
          <li><strong>Telephone:</strong></li>
          <li>To report your card as lost or stolen, call 0300 330 2090 <br> Phone lines are open 24 hours a day, 7 days a week.</li>
        </ul>

        <ul class="nhsuk-list">
          <li>For all other queries, email is the easiest way to contact us. If you cannot email us, 
            you can call 0300 330 7010 <br> Phone lines are open 8am to 6pm, Monday to Friday (excluding public holidays).</li>
        </ul>
      

        <p>
          <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">
            Find out more about call charges (opens in a new tab).</a>
        </p>

      </div>

      <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="https://online1.snapsurveys.com/interview/feced57a-91da-474b-82a2-c3307f4e12d8" target="_blank">What did you think of this service?</a> (takes 2 minutes)
        </p>
    </div>
  </div>

{% endblock %}
