{% extends 'layout.html' %}

{% block pageTitle %}
Application could not be completed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Contact us
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            We cannot continue with your Healthy Start application online
          </h2>
          <br>
          <h5 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white; margin-bottom: 0;">Reference number:</h3>  
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;"><strong>AB1CDE2FG</strong></h2>

          <!--<h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">Reference number:  
          <br><strong>AB1CDE2FG</strong></h2> -->
          
      </div>
      </div>

      <h2 class="nhsuk-heading-m">There is a problem</h2>
      <p class="nhsuk-body">Your details match an existing application.</p>
      <p class="nhsuk-body">Some details you provided have already been used to apply for Healthy Start. </p>
      <p class="nhsuk-body">Check the details you provided are correct or if your partner or someone in your household has applied for Healthy Start.</p>
      <p class="nhsuk-body">If there has been a change in your circumstances or you want to update your details, you can return to the <a class="nhsuk-link" href="#">Which service would you like to use</a> page and select the option you need.</p>

      <h2 class="nhsuk-heading-m">Get help with your application</h2>
      <p class="nhsuk-body">Contact Healthy Start if your details are correct and you are unable to continue with your application.</p>
      <h2 class="nhsuk-heading-m">Phone</h2>
      <p class="nhsuk-body">0300 330 7010 - charges may apply</p>
      <p class="nhsuk-body"><a class="nhsuk-link">Find out about call charges (opens in a new tab)</a></p>
      <h2 class="nhsuk-heading-m">Email</h2>
      <p class="nhsuk-body">healthy.start@nhsbsa.nhs.uk</p>


      <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="https://online1.snapsurveys.com/interview/feced57a-91da-474b-82a2-c3307f4e12d8" target="_blank">What did you think of this service?</a> (takes 2 minutes)
        </p>
    </div>
  </div>

{% endblock %}
