{% extends 'layout.html' %}

{% block pageTitle %}
Application saved
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application saved
          </h1>
          <h3 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            Reference number: <span class="nhsuk-caption-xl nhsuk-caption--bottom nhsuk-u-font-weight-bold" style="color: white;">{% if (data['referencenumber'] == 'REF1234A') %}REF1234A{% else %}ABC1234D{% endif %}</span>
          </h3>
        </div>
      </div>

      {% if data['savedUntil']%}
      <p>Your application will be saved until {{ data['savedUntil'] }}.</p>
      {% else %}
      <p>Your application will be saved until 18 May 2023.</p>
      {% endif %}

      <p>You must send us the evidence we need before this date or your application will expire.</p>

      <h2 class="nhsuk-heading-m">What happens next?</h2>

      <p>You can now safely close this window and return later.</p>

      <p>However, if you would like to continue uploading your evidence, click 'Continue your application'.</p>

      <p><a href="javascript:history.go(-1)" class="nhsuk-button">Continue your application</a></p>


    </div>
  </div>

{% endblock %}