{% extends 'layout.html' %}

{% block pageTitle %}
Upload evidence
{% endblock %}

{% block content %}

{{ backLink({
"href": "javascript:history.go(-1)",
"text": "Go back"
}) }}

<div class="big-blue-box nhsuk-u-padding-5">

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <h2>Uploading the photo</h2>
            <p>If you took the photo on the same device you're using for your application, you can return to
                your application now and upload it.</p>
            <h5>If you used a different device (eg. a smartphone)</h5>
            <p>You'll need to transfer the photo to the device you're using to apply (eg. a laptop).</p>
            <p>You can do this by:</p>
            <p>• emailing it to yourself</p>
            <p>• sending it via Bluetooth ®</p>
            <p>• attaching a cable between the two devices</p>
        </div>
        <div class="nhsuk-grid-column-one-third">
            <h5 class="nhsuk-u-margin-bottom-0 nhsbsa-float-right">How to upload your document</h5>
            <p class="nhsbsa-float-right">Step 5 of 5</p>

            <img class="nhsuk-image__img" src="/images/how-to-upload-document-step-4.jpg"
                alt="Example of upload document">
        </div>
    </div>
    <a href="javascript:history.go(-5)" button
        class="nhsuk-button nhsuk-button--reverse" data-module="nhsuk-button" type="submit">
        Return to your application
    </a>
</div>

{% endblock %}