{% extends 'layout.html' %}

{% block pageTitle %}
Upload evidence
{% endblock %}

{% block content %}

{{ backLink({
"href": "javascript:history.go(-1)",
"text": "Go back"
}) }}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column big-blue-box">
            <main class="nhsuk-main-wrapper" id="maincontent" role="main">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <h2>What you'll need</h2>
                        <p>The best way to get a paper document onto a device, as a digital file, is to take a photo of
                            it.</p>
                        <h5>Find a camera</h5>
                        <p>You can use anything that has a digital camera on it. For example, a mobile phone, tablet or
                            digital
                            camera.</p>
                    </div>
                    <div class="nhsuk-grid-column-one-third">
                        <h5 class="nhsuk-u-margin-bottom-0 nhsbsa-float-right">How to upload your document</h5>
                        <p class="nhsbsa-float-right">Step 1 of 5</p>

                        <img class="nhsuk-image__img" src="/images/how-to-upload-document-step-1.png"
                            alt="Example of upload document">

                    </div>
                </div>
            </main>




            <a href="step-by-step-guide-step-2" class="nhsuk-button">
                Continue
            </a>
  </div>
</div>


{% endblock %}