{% extends 'layout.html' %}

{% block pageTitle %}
Upload evidence
{% endblock %}

{% block content %}

{{ backLink({
"href": "javascript:history.go(-1)",
"text": "Go back"
}) }}

<div class="big-blue-box nhsuk-u-padding-5">

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            <div class="nhsbsa-guidance-steps">
                <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">How to upload your document</h2>
                <p>Step 2 of 5</p>
            </div>
            <div class="nhsbsa-guidance-title">
                <h1 class="nhsuk-heading-l">What you'll need</h1>
            </div>


        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <h3 class="nhsuk-heading-m">Find your document</h3>
            <p>Make sure it's flat. You may need to unfold it.</p>
        </div>
        <div class="nhsuk-grid-column-one-third">
            <img class="nhsuk-image__img nhsuk-u-margin-bottom-6" src="/images/how-to-upload-document-step-2.png"
                alt="Example of upload document">
        </div>
    </div>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <a href="step-by-step-guide-step-3"><button class="nhsuk-button nhsuk-button--reverse"
                    data-module="nhsuk-button">Continue</button></a>
        </div>
    </div>

</div>

{% endblock %}