{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1><span role="text">Before you start</span></h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p>We use NHS and government data sources to find and update your claim.</p>
        
        <!--
        <div class="nhsuk-warning-callout nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-6">
            <h3 class="nhsuk-warning-callout__label">
                <span role="text">
                    <span class="nhsuk-u-visually-hidden">Important: </span>
                    National Insurance number
                </span>
            </h3>
            <p>You need your National Insurance number to update your claim online.</p>
            <p>GOV.UK can help you <a href="https://www.gov.uk/lost-national-insurance-number" target="_blank">find your National Insurance number</a> if you do not remember it.</p>
            <p>If you cannot find your National Insurance number, you’ll need to <a href="https://www.healthystart.nhs.uk/contact-us/" target="_blank">contact us</a> to update your claim.</p>
        </div>
        -->



        <!--  
        <p>We’ll use your National Insurance number to find your claim. We’ll also ask for your:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>estimated due date if you’re adding a new pregnancy</li>
                <li>child’s name and date of birth if you’re adding a new child – these must exactly match their details on your 
                    <a href="https://www.gov.uk/sign-in-universal-credit" target="_blank">Universal Credit account</a></li> 
            </ul>  
        -->  

        


        <h2 class="nhsuk-heading-l">Checking your identity</h2>

        <p>We need to check your identity to keep your claim secure. You’ll need to enter:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>your National Insurance number</li>
            <li>a security code that we’ll send to the mobile phone number you gave us when you applied for Healthy Start</li> 
        </ul>  


        <p>GOV.UK can help you <a href="https://www.gov.uk/lost-national-insurance-number" target="_blank">find your National Insurance number</a> if you do not remember it.</p>
        <p>If you cannot find your National Insurance number, or did not give us your mobile phone number when you first applied, you’ll need to 
            <a href="https://www.healthystart.nhs.uk/contact-us/" target="_blank">contact us</a> to update your claim.</p>



        <h2 class="nhsuk-heading-l">What we’ll ask for</h2>
        <p>When we’ve confirmed your identity, we can update your claim. We’ll ask for:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>your estimated due date if you’re pregnant</li>
            <li>the name and date of birth of any children under 4 you’d like to add</li> 
        </ul>  

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Make sure you enter any children’s details exactly as they appear on your <a href="https://www.gov.uk/sign-in-universal-credit" target="_blank">Universal Credit claim</a>.</p>
          </div>




        <p><a href="apply/what-change"
                class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Continue</a></p>

    </div>

</div>
{% endblock %}