<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout-hub-slim.html' %} <!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %}Terms and conditions - Get help to buy food and milk - NHS{% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
   {% block content %}

   <script>
    var ref = document.referrer;
    if (ref.match("step-by-step-index")){
      document.write('<div class="nhsuk-grid-row"><div class="nhsuk-grid-column-full"><div class="nhsuk-card nhsuk-card--clickable"><div class="nhsuk-card__content"><h3><span class="nhsuk-caption-m nhsuk-caption--top">Part of</span><a class="nhsuk-card__link" href="step-by-step-index">Get help to buy food and milk: step by step</a></h3></div></div></div></div>');
    }
  </script>
  
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Change the page title here -->
      <h1>Get help to buy food and milk (Healthy Start)</h1>
       <nav aria-label="Pages in this guide"
           class="nhsuk-contents-list"
           role="navigation">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="how-to-apply">How it works</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="eligibility">Check if you’re eligible</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="apply-for-healthy-start">Apply for Healthy Start</a>
          </li>
          <!--<li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="what-you-can-buy">What you can buy</a>-->
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="using-your-card">Using your card</a>
          </li>
          <!--<li aria-v25="page"
              class="nhsuk-contents-list__item"><span class="nhsuk-contents-list__v25">How to apply</span></li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="contact-us">Contact us</a>
          </li>-->
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link"
                href="keep-your-details">Keep your details up to date</a>
          </li>
        </ol>
      </nav><!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      
      
      <h2>Keep your details up to date</h2>
      <p>You can update your Healthy Start claim online.</p>
      <p>You should let us know if you need to:</p>
      <ul>
          <li>add a new pregnancy</li>
          <li>add a new baby or child</li>
          <li>replace a lost, damaged or stolen card</li>
          <li>remove a pregnancy or child</li>
          <li>update your personal details, such as your name or address</li>
      </ul>
    
 
        <p><a href="before-you-start-manage"><button class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit">Update my details</button></a></p>




      <h2>What we’ll ask you for</h2>
      <p>If we need to send you a new card, we’ll ask you for your:</p>
      <ul>
        <li>date of birth</li>
        <li>client ID – you can find this on any notifications we’ve sent you</li>
      </ul>
<br>
      <p>To make any other updates to your claim, we’ll ask you for your:</p>
      <ul>
        <li>National Insurance number – if you do not know your National Insurance number, we’ll ask for other details such as your name, address and date of birth</li>
        <li>estimated due date if you’re adding a new pregnancy</li>
        <li>child’s name and date of birth if you’re adding a new baby or child</li>
      </ul>




      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Universal Credit claimants
          </span>
        </h3>
          <p>The details you use to apply for Healthy Start must match the details on your Universal Credit claim.</p>
          <p>Go to your Universal Credit account to check</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>your address details, including your postcode</li>
            <li>all of your children are named on your Universal Credit claim</li>
          </ul>
      </div>




      <nav aria-label="Pagination"
           class="nhsuk-pagination"
           role="navigation">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev"
                href="using-your-card"><span class="nhsuk-pagination__title">Previous</span> 
                <span class="nhsuk-u-visually-hidden">:</span> 
                <span class="nhsuk-pagination__page">Using your card</span> <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-left" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path></svg></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>{% endblock %}
</body>
</html>
