<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout.html' %} {% block pageTitle %} TRANSITION {% endblock %} {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({ "href": "javascript:history.go(-1)", "text": "Go back" }) }}
      <h1 class="nhsuk-fieldset__legend--xl">{% if data['applyingfor'] == "myself" %}You{% else %}They{% endif %} cannot apply if they already receive Healthy Start vouchers</h1>
      <p>Users of the current scheme will be contacted in the future to discuss how to get their prepaid money card.</p>
    </div>
  </div>{% endblock %}
</body>
</html>
