{% extends 'layout.html' %}

{% block pageTitle %}
Enable cookies to continue
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            Enable cookies to continue
        </h1>

        <p>
            Our Get help to buy food and milk (Healthy Start) service puts small files (known as 'cookies') onto your
            device.
        </p>

        <p>
            To be able to use this service online, you need to enable cookies.
        </p>

        <div class="nhsuk-inset-text nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-5">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <h2 class="nhsuk-heading-m">Why we use cookies</h2>
            <p>Cookies help us understand how you use our service and make improvements.</p>
            <p>They allow us to temporarily store the information you enter so that we can process your application.</p>
            <p>Find out <a target="_blank" href="https://www.nhsbsa.nhs.uk/cookies">more about cookies<span
                        class="nhsuk-u-visually-hidden"> (Opens in a new tab)</span></a> and <a target="_blank"
                    href="http://www.allaboutcookies.org/">how to manage them<span class="nhsuk-u-visually-hidden"> (Opens in a new tab)</span></a>.</p>
        </div>

        <p>
            If you've enabled cookies you can <a href="../start">start your application again</a>.
        </p>

    </div>
</div>

{% endblock %}