{% extends 'layout.html' %}

{% block pageTitle %}
What is your child’s first name?
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">What is your child’s name?</h1>

        <p>If you have more than one child under 4 years old, you will be able to tell us about them later.</p>

        <form action="/v13/childs-first-name" method="post">

            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">

                <div class="nhsuk-form-group">

                  <label class="nhsuk-label" for="childsfirstname">Child’s first name</label>
                  <input class="nhsuk-input nhsuk-input--width-20" id="childsfirstname" name="childsfirstname" type="text">

                </div>

                <div class="nhsuk-form-group">

                  <label class="nhsuk-label" for="childslastname">Child’s last name</label>
                  <input class="nhsuk-input nhsuk-input--width-20" id="childsfirstname" name="childslastname" type="text">          
                  
                </div>

                </fieldset>

            <button class="nhsuk-button" type="submit">Continue</button>

        </form>

    </div>
</div>

{% endblock %}