{% extends 'layout.html' %}

{% block pageTitle %}
Before you start
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <form action="account/v1/before-you-start" method="post"> 

        <h1><span role="text">Before you start</span></h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p>To Get help to buy food and milk (Healthy Start) service uses government data sources to check your
            eligibility.</p>
        <p>We use NHS login to access information from your NHS record.</p>
        <h2 class="nhsuk-heading-s">We'll ask you for:</h2>

        <ul>
            <li>personal details (including your National Insurance number)</li>
            <li>pregnancy due date (if you're pregnant)</li>
            <li>children's details (their names and dates of birth)</li>
        </ul>

        <div class="nhsuk-warning-callout nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-6">
            <h3 class="nhsuk-warning-callout__label">
                <span role="text">
                    <span class="nhsuk-u-visually-hidden">Important: </span>
                    Universal Credit claimants
                </span>
            </h3>
            <p>The details you use to apply for Healthy Start must match the details on your Universal Credit claim.</p>
            <p>Go to your <a href="https://www.gov.uk/sign-in-universal-credit" target="_blank">Universal Credit
                    account</a> to check:
            </p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>your address details, including your postcode</li>
                    <li>all of your children are named and verified on your Universal Credit claim</li>
                </ul>   
        </div>

        <h2 class="nhsuk-heading-s">If we need more information about your application, we might ask you to send us copies of documents that prove your:</h2>
        <ul>
            <li>identity (for example, birth certificate, marriage certificate, passport, driving licence or immigration visa)
            </li>
            <li>eligibility (benefit awards notice)</li>
            <li>children's eligibility (birth certificate)</li>
        </ul>
        <p>If we ask to see these, make sure you send copies of valid documents. We cannot accept expired documents.</p>




       <!--<p><a href="apply/where-do-you-live" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Continue</a></p>-->
        <button class="nhslogin-button" type="submit">
            Continue
        </button> 





    </form>
    </div>

</div>
{% endblock %}