{% extends 'layout-account.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}
{% block header %}

<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo"><a class="nhsuk-header__link nhsuk-header__link--service " href="/account/v1/account-dashboard"
        aria-label="NHS homepage">

        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
          <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
          <path class="nhsuk-logo__text" fill="#fff"
            d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
          </path>
        </svg>

        <span class="nhsuk-header__service-name">
          Get help to buy food and milk (Healthy Start) 
        </span>
      </a>
    </div>

    <div class="nhsuk-header__content" id="content-header">
      <div class="nhsuk-header__menu">
        <div class="nhsuk-header__menu">
          <a href="sign-in" class="nhsuk-header__menu-toggle" id="log-out">Sign out</a>
        </div>
      </div>
    </div>

  </div>

</header>

<!-- <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="manage-claim-search">1</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="manage-claim-search-ANITA-BILAL">2</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
          href="manage-claim-search-results-ANITA-BILAL">Anita Bilal</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href=""></a></p>
  </div>
</nav> -->

{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full clear-float">
{{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
      }) }}

<!-- <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="phase-1-option4">Check your details</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Check your details
    </a>
  </p>
</nav> 
-->
<br>


        <h1 class>Application details</h1>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Name</h2>
                <p id="userName">Riley Jones</p>

                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Email address</h2>
                <p id="userDOB">rileyjones1999@gmail.com</p>

            </div>
            <div class="nhsuk-grid-column-one-third">
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Date of birth</h2>
                <p id="userDOB">2 February 1999</p>

                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Mobile number</h2>
                <p id="userMobile">07510318338</p>

            </div>
            <div class="nhsuk-grid-column-one-third">
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Address</h2>
                <p id="userAddress">
                    15 Palm Road,<br> 
                    London, <br>
                    NR33 4GP
                </p>

            </div>
        </div>



<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      View your eligibility details
    </span>
  </summary>
  <div class="nhsuk-details__text">

       
<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Qualifying benefit
    </dt>
    <dd class="nhsuk-summary-list__value">
      Universal Credit
    </dd>
  </div>
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Application submitted
    </dt>
    <dd class="nhsuk-summary-list__value">
      11 April 2025
    </dd>
  </div>
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Application expiry date
    </dt>
    <dd class="nhsuk-summary-list__value">
      11 July 2025
    </dd>
  </div>
  <!-- <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Estimated pregnancy due date
    </dt>
    <dd class="nhsuk-summary-list__value">
      21 December 2025
    </dd>
  </div> -->
</dl>

    
  </div>
</details>



        <hr>
        

        <div class="nhsuk-card">
        <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-s">Pregnancy details
            </h2>
            <!-- <p class="nhsuk-card__description">Card description text goes here</p>
        <svg class="nhsapp-icon nhsapp-icon__chevron-right nhsapp-icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="2em" width="2em" viewBox="0 0 24 24"><path d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"></path></svg> -->




        <table class="nhsuk-table-responsive" role="table">
        <thead class="nhsuk-table__head" role="rowgroup">
            <tr role="row">
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Eligibility</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Estimated due date</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Entitlement</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Status</th>
            </tr>
        </thead>

                <tbody class="nhsuk-table__body">
                    <tr class="nhsuk-table__row" role="row">
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Eligibility </span>Pregnancy</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Estimated due date </span>2 December 2025</td>
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£4.25 each week</td> 
                    <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag">Active</strong></td>
                    </tr>
                </tbody>
        </table> 
        
        </div>
        </div>





        <div class="nhsuk-card">
        <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-s">Children's details
            </h2>


<table class="nhsuk-table-responsive" role="table">
        <thead class="nhsuk-table__head" role="rowgroup">
          <tr role="row">
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Name</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Date of birth</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Entitlement</th>
            <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Status</th>
          </tr>
        </thead>
        </thead>
        <tbody class="nhsuk-table__body">
          <!-- <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Sarah Smith</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>31 October 2024</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£8.50 each week</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag">Active</strong></td>
          </tr> -->
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Robert Smith</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>14 January 2020</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£4.25 each week</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag nhsuk-tag--grey">Inactive</strong></td>
          </tr>
          <tr class="nhsuk-table__row" role="row">
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>John Smith</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>14 January 2020</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Entitlement </span>£4.25 each week</td>
            <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status </span><strong class="nhsuk-tag nhsuk-tag--grey">Inactive</strong></td>
          </tr>
        </tbody>
      </table>


        </div>
        </div>













</div>
</div>
{% endblock %}