{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-u-reading-width">
            <h1>Details about the cookies we use</h1>
            <p class="nhsuk-lede-text">Let us know which cookies we can use. We'll use a cookie to save your settings.</p>
        </div>

        <div class="nhsuk-u-reading-width">
            <h2>Cookies that measure website use</h2>
            <p>These cookies store anonymous information about how you use our website, such as what you click on.</p>
        </div>

        <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details0">
            <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0" aria-expanded="false">
                <span class="nhsuk-details__summary-text">
                List of cookies that measure website use
                </span>
            </summary>
            <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">

                <div class="nhsuk-table-responsive app-table-responsive--cookies">
                    <table class="nhsuk-table" role="table">
                        <caption class="nhsuk-table__caption">Cookie names and purposes</caption>
                        <thead class="nhsuk-table__head">
                        <tr class="nhsuk-table__row" role="row">
                            <th class="nhsuk-table__header" role="columnheader" scope="col">Cookie name</th>
                            <th class="nhsuk-table__header" role="columnheader" scope="col">Purpose</th>
                            <th class="nhsuk-table__header" role="columnheader" scope="col">Expiry</th>
                        </tr>
                        </thead>
                        <tbody class="nhsuk-table__body">
                        <tr class="nhsuk-table__row" role="row">
                            <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_ga</td>
                            <td class="nhsuk-table__cell" role="cell" data-label="Purpose">This cookie registers a unique ID that is used to generate statistical data on how the visitor uses the website.</td>
                            <td class="nhsuk-table__cell" role="cell" data-label="Expiry">2 years</td>
                        </tr>
                        <tr class="nhsuk-table__row" role="row">
                            <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_gid</td>
                            <td class="nhsuk-table__cell" role="cell" data-label="Purpose">This cookie registers a unique ID that is used to generate statistical data on how the visitor uses the website.</td>
                            <td class="nhsuk-table__cell" role="cell" data-label="Expiry">1 day</td>
                        </tr>
                        <tr class="nhsuk-table__row" role="row">
                            <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_gat</td>
                            <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Google Analytics to throttle request rate.</td>
                            <td class="nhsuk-table__cell" role="cell" data-label="Expiry">1 min</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </details>

        <div class="nhsuk-u-reading-width">

            <fieldset class="nhsuk-fieldset" id="cookie-statistics-form" aria-describedby="cookie-statistics">
                <legend id="cookie-statistics" class="nhsuk-u-visually-hidden">
                    Do you want to allow cookies to measure your website use?
                </legend>
                <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="input-statistics-1" name="input-statistics" type="radio" value="on">
                        <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-1">
                        Use cookies to measure my website use
                        </label>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="input-statistics-2" name="input-statistics" type="radio" value="yes" checked="checked">
                        <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-2">
                        Do not use cookies to measure my website use
                        </label>
                    </div>
                </div>
            </fieldset>

            <a href="/cookies/cookie-confirmation" type="submit" class="nhsuk-button nhsuk-u-margin-bottom-0">
                Save my cookie settings
            </a>
        </div>

        <div class="nhsuk-review-date">
            <p class="nhsuk-body-s">Updated: December 2020</p>
        </div>
    </div></div>
{% endblock %}