{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1><span role="text">Get help to buy food and milk <span class="nhsuk-caption-xl nhsuk-caption--bottom"><span class="nhsuk-u-visually-hidden">-</span> (Healthy Start)</span></span></h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p class="nhsuk-caption-l nhsuk-u-margin-bottom-5">
            If you’re at least 10 weeks pregnant or have a child under 4 years old, you could get help to buy milk, fruit and vegetables.
        </p>

        <h2 class="nhsuk-heading-s">If you qualify you get:</h2>

        <ul>
            <li>£4.25 each week of your pregnancy from the 10th week</li>
            <li>£8.50 each week for children from birth to 1 year old</li>
            <li>£4.25 each week for children between 1 and 4 years old</li>
        </ul>

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading">
                In order for you to recieve payment for all of your children, please make sure they have all been added to your Universal Credit claim.
          
              </h3>
              <p class="nhsuk-card__description">Go to your <a href="https://www.gov.uk/sign-in-universal-credit" target="_blank">Universal Credit account</a> to add all of your children to your claim.</p>
            </div>
          </div>

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>In order for you to recieve payment for all of your children, please make sure they have all been added to your Universal Credit claim. <a href="https://www.gov.uk/sign-in-universal-credit" title="Universal Credit Account" target="_blank">Universal Credit Account</a>.</p>
          </div>

          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                In order for you to recieve payment for all of your children, please make sure they have all been added to your Universal Credit claim.
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>You can update your Universal Credit claim here:</p>
              <ul>
                <a href="https://www.gov.uk/sign-in-universal-credit" target="_blank">Universal Credit account</a>
              </ul>
            </div>
          </details>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Make sure you've added all of your children to your Universal Credit claim before applying for Healthy Start.
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>If all of your children are not inlcuded then you won't be paid for them as part of your Healthy start claim.</p>
              <p>You can add them in your<a href="https://www.gov.uk/sign-in-universal-credit" target="_blank"> Universal Credit account.</a></p>
          
            </div>
          </details>

          

        <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
            <span class="nhsuk-u-visually-hidden">Information:</span>
            <p>The money will stop when your child is 4 years old or if you no longer receive benefits.</p>
        </div>

        <p><a href="apply/where-do-you-live" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Start now</a></p>

    </div>

    <!-- <aside class="nhsuk-grid-column-one-third">
        <div class="nhsuk-related-nav">
            <h2 class="nhsuk-related-nav__heading">
                Help for healthcare professionals
            </h2>
            <nav role="navigation" class="nhsuk-related-nav__nav-section">
                <ul class="nhsuk-related-nav__list">


                    <li class="nhsuk-related-nav__item">
                        <a class="nhsuk-related-nav__link" href="help">
                            Common issues
                        </a>
                    </li>



                </ul>
            </nav>
        </div>
    </aside> -->

</div>
{% endblock %}