{% extends 'layout.html' %}

{% block pageTitle %}
You are not eligible for help to get money off milk, food and vitamins
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application unsuccessful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            You must be more than 10 weeks pregnant or have children under 4 to apply for Healthy Start  
          </h2> 
        </div>
      </div>
      
      <p>Based on the information you’ve given us, you:</p>
      <ul>
        <li>are not more than 10 weeks pregnant</li>
        <li>do not have any children under the age of 4</li>
      </ul>
      <p>This means you cannot apply for Healthy Start.</p>



      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span> 
        <p>If you’re less than 10 weeks pregnant, you can apply again in the tenth week of your pregnancy.</p>
        <p>The <a class="nhsuk-link" href="https://www.nhs.uk/pregnancy/finding-out/due-date-calculator/">NHS due date calculator</a> can help you work out your estimated due date and how many weeks pregnant you are.</p>
        </div>




      <h2 class="nhsuk-heading-m">Any problems</h2>
      <p>If you think there’s been a mistake, you can contact us by:</p>
      <ul>    
        <li>using our <a href="https://faq.nhsbsa.nhs.uk/contact-us/">online form</a></li>
        <li>calling 0300 330 7010</li>
      </ul>
      
      <p>Phone lines are open 8am to 6pm, Monday to Friday (except public holidays).</p>
      <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges (opens in a new tab)</a>.</p>
        


      <h2 class="nhsuk-heading-m">Give feedback</h2>
      <p><a class="nhsuk-link" href="https://online1.snapsurveys.com/interview/feced57a-91da-474b-82a2-c3307f4e12d8">
        What did you think of this service?</a> (takes 2 minutes).</p>



    </div>
</div>

{% endblock %}