{% extends 'layout.html' %}

{% block pageTitle %}
You are not eligible for help to get money off milk, food and vitamins
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application unsuccessful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            Check you’re entered your details correctly
          </h2> 
        </div>
      </div>
      
      <p>You must be more than 10 weeks pregnant or have at least one child under 4 years old to apply for Healthy Start.</p>

      <h2 class="nhsuk-heading-m">If you’re pregnant</h2>
      <p>Check you’ve entered your due date correctly. You need to be more than 10 weeks pregnant to apply for Healthy Start.</p>
      <p>The <a class="nhsuk-link" href="https://www.nhs.uk/pregnancy/finding-out/due-date-calculator/" target="_blank">NHS due date calculator (opens in a new tab)</a> can help you work out your estimated due date and how many weeks pregnant you are.</p>




      <h2 class="nhsuk-heading-m">If you have at least one child under 4 years old</h2>
      <p>Go to your <a class="nhsuk-link" href="https://www.gov.uk/sign-in-universal-credit" target="_blank">Universal Credit account (opens in a new tab)</a> to check:</p>
      <ul>
        <li>all of your children under 4 are named and verified on your Universal Credit claim</li>
        <li>how your children’s details are listed - the details you give us need to match exactly with the details on your Universal Credit claim </li>
      </ul>



      <h2 class="nhsuk-heading-m">Any problems</h2>
      <p>If you think there’s been a mistake, you can contact us by:</p>
      <ul>    
        <li>using our <a href="https://faq.nhsbsa.nhs.uk/contact-us/">online form</a></li>
        <li>calling 0300 330 7010</li>
      </ul>
      
      <p>Phone lines are open 8am to 6pm, Monday to Friday (except public holidays).</p>
      <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges (opens in a new tab)</a>.</p>
        

      
      <h2 class="nhsuk-heading-m">Give feedback</h2>
      <p><a class="nhsuk-link" href="https://online1.snapsurveys.com/interview/feced57a-91da-474b-82a2-c3307f4e12d8">
        What did you think of this service?</a> (takes 2 minutes).</p>





    </div>
</div>

{% endblock %}