{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1><span role="text">Get help to buy food and milk <span class="nhsuk-caption-xl nhsuk-caption--bottom"><span class="nhsuk-u-visually-hidden">-</span> (Healthy Start)</span></span></h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p class="nhsuk-caption-l nhsuk-u-margin-bottom-5">
            If you’re at least 10 weeks pregnant or have a child under 4 years old, you could get help to buy milk, fruit and vegetables.
        </p>

        <h2 class="nhsuk-heading-s">If you qualify you get:</h2>

        <ul>
            <li>£4.25 each week of your pregnancy from the 10th week</li>
            <li>£8.50 each week for children from birth to 1 year old</li>
            <li>£4.25 each week for children between 1 and 4 years old</li>
        </ul>

        <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
            <span class="nhsuk-u-visually-hidden">Information:</span>
            <p>The money will stop when your child is 4 years old or if you no longer receive benefits.</p>
        </div>

        <p><a href="apply/national-insurance-number" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Start now</a></p>

    </div>

    <!-- <aside class="nhsuk-grid-column-one-third">
        <div class="nhsuk-related-nav">
            <h2 class="nhsuk-related-nav__heading">
                Help for healthcare professionals
            </h2>
            <nav role="navigation" class="nhsuk-related-nav__nav-section">
                <ul class="nhsuk-related-nav__list">


                    <li class="nhsuk-related-nav__item">
                        <a class="nhsuk-related-nav__link" href="help">
                            Common issues
                        </a>
                    </li>



                </ul>
            </nav>
        </div>
    </aside> -->

</div>
{% endblock %}