<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>




<body>
  {% extends 'layout.html' %} {% block pageTitle %} Pregnancy details you have told us about {% endblock %} {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({ "href": "javascript:history.go(-1)", "text": "Go back" }) }}
      <h1 class="nhsuk-fieldset__legend--xl">Check your answers</h1>
      {% if (data['firstname'] == 'Malia') and (data['lastname'] == 'Elba') %}
        <p>To make sure you’re paid correctly, check you’ve entered pregnancy details exactly 
        </p>  
      {% endif %}
      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-0">Your details</h2>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['nationalinsurancenumberupdate'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden">National Insurance number</span></a> 
              </a>
              </dd>
        </div>





        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
              {{ data['dateofbirth'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
              </a>
            </dd>
        </div>

      </dl>
 
          <!--<button class="nhsuk-button"
          type="submit">Continue
          </button>-->
           
          <p><a href="/v25/apply/get-your-security-code" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
            Continue</a></p>



    </div>  
  </div>
</body>







</html>
{% endblock %}
