{% extends 'layout.html' %}

{% block pageTitle %}
Upload evidence
{% endblock %}

{% block content %}

{{ backLink({
"href": "javascript:history.go(-1)",
"text": "Go back"
}) }}

<div class="big-blue-box nhsuk-u-padding-5">

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            <div class="nhsbsa-guidance-steps">
                <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">How to upload your document</h2>
                <p>Step 5 of 5</p>
            </div>
            <div class="nhsbsa-guidance-title">
                <h1 class="nhsuk-heading-l">Uploading the photo</h1>
            </div>


        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <p class="nhsuk-body-l">If you took the photo on the same device you're using for your application, you can
                return to your application now and upload it.</p>
            <h3 class="nhsuk-heading-m">If you used a different device (eg. a smartphone)</h3>
        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
            <p>You'll need to transfer the photo to the device you're using to apply (eg. a laptop).</p>
            <p>You can do this by:</p>
            <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-bottom-6">
                <li>emailing it to yourself</li>
                <li>sending it via Bluetooth&reg;</li>
                <li>attaching a cable between the two devices</li>
            </ul>
        </div>
        <div class="nhsuk-grid-column-one-half">
            <img class="nhsuk-image__img nhsuk-u-margin-bottom-6" src="/images/how-to-upload-document-step-5.svg"
                alt="Example of upload document">
        </div>
    </div>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <a href="javascript:history.go(-5)"><button class="nhsuk-button nhsuk-button--reverse"
                    data-module="nhsuk-button">Return to your application</button></a>
        </div>
    </div>
</div>

{% endblock %}