{% extends 'layout-cookies.html' %}

{% block pageTitle %}
Sorry, the service is unavailable
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            Sorry, the service is unavailable
        </h1>

        <p>
            You will be able to use the service later.
        </p>

        <p>
            Email us at <a href="mailto:nhsbsa.applyforhealthystart@nhsbsa.nhs.uk">nhsbsa.applyforhealthystart@nhsbsa.nhs.uk</a> if you need to speak to somebody about your application. We aim to respond within 2 working days.
        </p>

    </div>
</div>

{% endblock %}