{% extends 'layout.html' %}

{% block pageTitle %}
Contact us
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!--<div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Contact us
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            You need to call us to report your card as lost, damaged or stolen
          </h2>
        </div>
      </div>-->


      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: left; color: white;">
            Contact us
          </h1>
          <h2 class="nhsuk-caption-l nhsuk-u-font-weight-normal" style="text-align: left; color: white;">
            You need to call us to report your card as lost, damaged or stolen
          </h2>
        </div>
      </div>





      <p>Call 0118 338 5810 to report your card as lost, damaged or stolen.</p>

      <p>You’ll need your date of birth and your client ID which you can find on any notifications we’ve sent you.</p>

      <p>This is an automated phone line that’s available 24 hours a day, 7 days a week.</p>

      <p><a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">
        Find out more about call charges (opens in a new tab).</a>
      </p>
  

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If you’re Deaf or have a hearing loss
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Our automated phone line is not accessible if you’re Deaf or have a hearing loss or tinnitus.</p>
          <p>You can contact us by calling 0300 330 7010 and using the:</p>
          
          <ul>
            <li><a class="nhsuk-link" href="https://www.relayuk.bt.com/relay-uk-services/relay-uk-app.html" target="_blank">Relay app (opens in a new tab)</a></li>
            <li><a class="nhsuk-link" href="https://www.relayuk.bt.com/how-to-use-relay-uk/use-relay-uk-with-textphone.html" target="_blank">Relay textphone service (opens in a new tab)</a></li>
          </ul>


          <p>This phone line is open Monday to Friday, 8am to 6pm (excluding public holidays).</p>
          
        </div>
        </details>
    

        <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a class="nhsuk-link" href="#" target="_blank">
          What did you think of this service?</a> (takes 2 minutes).</p>

      </div>
  </div>

{% endblock %}
