{% extends 'layout.html' %}

{% block pageTitle %}
Your information is incorrect
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!--<div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application unsuccessful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            Check you’ve entered your details correctly
          </h2>
        </div>
      </div>-->
      

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: left; color: white;">
            Your information is incorrect
          </h1>
          <h2 class="nhsuk-caption-l nhsuk-u-font-weight-normal" style="text-align: left; color: white;">
            We cannot continue with your application
          </h2>
        </div>
      </div>



      <p>You need to update your NHS record details for us to continue with your Healthy Start application.</p> 

      <h2 class="nhsuk-heading-m">How to update your details</h2>

      <p>If your name, address, date of birth or NHS number are incorrect or out of date, contact your GP surgery. Ask them to update your details. This will update them in your NHS record.</p>
      <p>You can apply for Healthy Start again when your details are up to date.</p>
      




      <h2 class="nhsuk-heading-m">Give feedback</h2>
      <p><a class="nhsuk-link" href="https://online1.snapsurveys.com/interview/feced57a-91da-474b-82a2-c3307f4e12d8">
        What did you think of this service?</a> (takes 2 minutes).</p>





    </div>
  </div>

{% endblock %}