{% extends 'layout.html' %}

{% block pageTitle %}
No consent - Get help to buy food and milk (Healthy Start) - NHSBSA
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!--<div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application unsuccessful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            Check you’ve entered your details correctly
          </h2>
        </div>
      </div>-->
      

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: left; color: white;">
            You cannot continue without sharing your information
          </h1>
          
        </div>
      </div>



      <p>Healthy Start needs your NHS login information to verify your identity. </p>
      




      <h2 class="nhsuk-heading-m">Give feedback</h2>
      <p><a class="nhsuk-link" href="https://online1.snapsurveys.com/interview/feced57a-91da-474b-82a2-c3307f4e12d8">
        What did you think of this service?</a> (takes 2 minutes).</p>





    </div>
  </div>

{% endblock %}