{% extends 'layout.html' %}

{% block pageTitle %}
You cannot apply for Healthy Start
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">You cannot apply for Healthy Start</h1>
        <p class="nhsuk-body-l">This is because you do not live in England, Wales or Northern Ireland.</p>

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <!-- <h2 class="nhsuk-heading-m">If you live in Scotland</h2> -->
            <!-- <p>You can get help from <a href="">Best Start Foods (opens in a new tab)</a> instead.</p> -->
            <p>If you live in Scotland, you may be able to get help from <a href="https://www.mygov.scot/best-start-grant-best-start-foods">Best Start Foods</a> instead.</p>
        </div>


          <h2 class="nhsuk-heading-m">Give feedback</h2>
          <p><a href="https://online1.snapsurveys.com/Interview/feced57a-91da-474b-82a2-c3307f4e12d8" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"></span></a> (takes 2 minutes).</p>


    </div>
</div>

{% endblock %}