{% extends 'layout.html' %}

{% block pageTitle %}
Sorry, there is a problem with the service - Get help to buy food and milk (Healthy Start) - NHSBSA
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">Sorry, there is a problem with the service</h1>
        <p>Try again later.</p>
        <p>If you need to speak to somebody about your application, you can contact us by:</p>

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>

            
              <p>Telephone: 0300 330 7010</p>
              <p>This phoneline is available Monday to Friday, 8am to 6pm (except public holidays).</p>
            
            
            <p>
              <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out more about call charges (opens in a new tab)</a>.
            </p>

            <ul class="nhsuk-list">
              <li>Email: <a class="nhsuk-link" href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a></li>
              <li>We aim to respond to your email within 2 working days.</li>
            </ul>

        </div>


    </div>
</div>

{% endblock %}