{% extends 'layout.html' %}

{% block pageTitle %}
Which service would you like to use?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

    <form action="v26-apply-journey/which-service" method="post">

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
            <h1 class="nhsuk-fieldset__heading">
              Which service would you like to use?
            </h1>
          </legend> 
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="new-application" name="whichservice" type="radio" value="new-application">
              <label class="nhsuk-label nhsuk-radios__label" for="new-application">
                Apply for Healthy Start
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="card-issue" name="whichservice" type="radio" value="card-issue">
              <label class="nhsuk-label nhsuk-radios__label" for="card-issue">
                Replace a lost, damaged or stolen card
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="update-my-details" name="whichservice" type="radio" value="update-my-details">
              <label class="nhsuk-label nhsuk-radios__label" for="update-my-details">
                Update my details
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                For example you need to add a new pregnancy or child, or update your personal details.
              </div>
            </div>

          </div>
        </fieldset>
      </div>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If your payments have stopped
          </span>
        </summary>

        <div class="nhsuk-details__text">
          <p> Your payments may stop if your income or benefits have changed.</p> 
          <h4 class="nhsuk-heading-xs">If you get Universal Credit</h4>
          <p>Your payments will stop if your monthly take-home pay is more than £408.</p>
          <p>If you become entitled to Healthy Start again in the next 16 weeks, we’ll contact you. You do not need to do anything.</p>
          
          <!--<h4 class="nhsuk-heading-xs">If you get Child Tax Credit</h4>
          <p>Your payments will stop if your annual household income is more than £16,190.</p>

          <h4 class="nhsuk-heading-xs">If you think there’s been a mistake</h4>
          <p>If your income or benefits have not changed and you think you should still get Healthy Start payments, 
            you should <a class="nhsuk-link" href="https://www.healthystart.nhs.uk/contact-us/" target="_blank">contact us</a>.</p>-->
        </div>

      </details>

      <p><a href="before-you-start" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Continue</a></p>
 
    </form>

  </div>
</div>

{% endblock %}