<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
   <title></title>
</head>

<body>
   {% extends 'layout.html' %}
   <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Get help to buy food and milk{% endblock %}
   <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %} {% endblock %}
   <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
   {% block content %}
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <!-- Change the page title here -->
         <h1>Healthy Start online journey<span class="nhsuk-caption-xl nhsuk-caption--bottom">The prototypes</span>
         </h1>
         <!-- Add your content here -->
         <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
         <p class="nhsuk-body-l">The Healthy Start scheme helps eligible applicants with the cost of buying food and milk.
            These are the prototypes of the Healthy Start ‘Apply’ and 'Existing Claims' journeys. The aim of the prototypes is to make it as easy as possible for people to apply online and find out if they can get Healthy Start payments.
         </p>
         <p class="nhsuk-body-l"><!-- deleted original text: The 'Apply' service allows applicants to apply for the service. --></p>

         <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
                  Live Apply Application
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>This journey shows the current online application as closely as possible.</p>
               <p class="nhsuk-u-margin-bottom-0"><a href="current/start"><button class="nhsuk-button"
                        type="submit">View the journey</button></a></p>
               <p>To make a successful application, use the following details:</p>
               <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">
                  <li>Name: Riley Jones</li>
                  <li>1st Line of Address: 49 Park Terrace, Suffolk</li>
                  <li>Postcode: NR33 4GT</li>
                  <li>Date of birth: 02/02/1999 (Enter 01/01/2000 for no match kickout)</li>
                  <li>National Insurance number: CD 65 43 21 B</li>
                  <li>Pregnant: No</li>
                  <li>Children under 4: Yes</li>
                  <li>Children between 1 & 4: No</li>
               </ul>
               <div class="nhsuk-review-date nhsuk-u-margin-top-0">
                  <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0">Last Updated: 7 Auguest 2024</p>
               </div>

            </div>
         </details>

         <hr>

         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">APPLY Journey v28</span>
            </summary>
            <div class="nhsuk-details__text">
            <div class="nhsuk-width-container">
               <h2 class="nhsuk-heading-l">Apply Journey</h2>
                  <div class="nhsuk-hint" id="prototype-hint">
                  <span><strong class="nhsuk-tag">Public beta</strong></span>
                  <!--<span><strong class="nhsuk-tag">Sprint XX</strong></span>-->
                  <span><strong class="nhsuk-tag">Prototype #28</strong></span>
                  </div>
               <p>
                  <a class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4" data-module="nhsuk-button" data-prevent-double-click="true" id="submit-button" href="v28/start" draggable="false" role="button">
                     Start the prototype
                  </a>
               </p>

               <hr>


               <h3 class="nhsuk-heading-m">Before you start</h3>
               <p>To make a successful application, use the following details:</p>
               <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">
                  <li>Name: Riley Jones</li>
                  <li>1st Line of Address: 49 Park Terrace, Suffolk</li>
                  <li>Postcode: NR33 4GT</li>
                  <li>Date of birth: 02/02/1999 (Enter 01/01/2000 for no match kickout)</li>
                  <li>National Insurance number: CD 65 43 21 B</li>
                  <li>Pregnant: No</li>
                  <li>Children under 4: Yes</li>
                  <li>Children between 1 & 4: No</li>
               </ul>

               <hr>

               <h3 class="nhsuk-heading-m">What was updated:</h3>
               <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Prototype updated to match live environment as of 6 March 2026</li>
               </ul>

               <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0">
                  Last Updated: 6 March 2026</p>
            </div>
         </details>

         <hr>

          <!--ECJ 25-->

          <details class="nhsuk-details nhsuk-expander">
             <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Existing Claims Journey (ECJ) - v25</span>
             </summary>
             <div class="nhsuk-details__text">
             <div class="nhsuk-width-container">
                <h2 class="nhsuk-heading-l">Existing Claims Journey Prototype</h2>
                   <div class="nhsuk-hint" id="prototype-hint">
                      Existing claims sigh-posting journey is designed with the intention of preventing users from creating duplicate claims
                      and providing simpler journey. <a href="https://miro.com/app/board/uXjVNMpKiqo=/?share_link_id=191952731783" target="_blank" class="nhsuk-link">View the 'Existing Claims' user journey on Miro (opens in a new tab.)</a>
                      <br><br>This prototype link below starts from the How to Apply screen.</div>
                   <span><strong class="nhsuk-tag">Public beta</strong></span>
                   <span><strong class="nhsuk-tag">Sprint 97 to 102</strong></span>
                   <span><strong class="nhsuk-tag">Prototype #25</strong></span>

                <p>
                   <a class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4" data-module="nhsuk-button" data-prevent-double-click="true" id="submit-button" href="v25/how-to-apply" draggable="false" role="button">
                      Start the prototype
                   </a>
                </p>

                <hr>


                <h3 class="nhsuk-heading-m">Before you start</h3>
                <p class="nhsuk-body">You'll need the following details of personas to see intended end/kickout screen in the 'Existing Claims Journey' prototype.</p>


                       <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                         <span class="nhsuk-u-visually-hidden">Information: </span>
                         <h3 class="nhsuk-heading-s">Scenario 1: Attempting to add a child already on the claim</h3>
                            <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">
                               <li>Any National Insurance number (NINO) works</li>
                               <li>Child's name: Charlie Smith</li>
                               <li>DOB: 8 Febrary 2022</li>
                            </ul>
                       </div>

                       <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                         <span class="nhsuk-u-visually-hidden">Information: </span>
                         <h3 class="nhsuk-heading-s">Scenario 2: Attempting to add a pregnancy already on the claim</h3>
                            <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">
                               <li>Any National Insurance number (NINO) works</li>
                               <li>Name: Susan Jones</li>
                               <li>Postcode: NR33 4GP</li>
                            </ul>
                       </div>

                       <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                         <span class="nhsuk-u-visually-hidden">Information: </span>
                         <h3 class="nhsuk-heading-s">Scenario 3: Successfully adding a pregnancy</h3>
                            <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">
                               <li>(No spedific information needed)</li>
                            </ul>
                       </div>



                       <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                         <span class="nhsuk-u-visually-hidden">Information: </span>
                         <h3 class="nhsuk-heading-s">Scenario 4: Successfully adding a child</h3>
                            <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">
                               <li>Any National Insurance number (NINO) works</li>
                               <li>Child's name: Riley Jones</li>
                               <li>DOB: (any day) October (any year)</li>
                            </ul>
                       </div>


                       <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                         <span class="nhsuk-u-visually-hidden">Information: </span>
                         <h3 class="nhsuk-heading-s">Scenario 5: No contact details on claim</h3>
                            <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">
                               <li>Any National Insurance number (NINO) works</li>
                               <li>Name: Matthew Glass</li>
                               <li>Postcode: NR33 4GP</li>
                            </ul>
                       </div>




                       <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                         <span class="nhsuk-u-visually-hidden">Information: </span>
                         <h3 class="nhsuk-heading-s">Scenario 6: No claim found</h3>
                            <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">
                               <li>Any National Insurance number (NINO) works</li>
                               <li>Name: Sophia Bilal</li>
                               <li>Postcode: NR33 4GP</li>
                            </ul>
                       </div>



                       <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
                         <span class="nhsuk-u-visually-hidden">Information: </span>
                         <h3 class="nhsuk-heading-s">Scenario 7: Duplicate claim/more than one claim found</h3>
                            <ul class="nhsuk-body-s nhsuk-list nhsuk-list--bullet">
                               <li>Any National Insurance number (NINO) works</li>
                               <li>Name: Helen Miller</li>
                               <li>Postcode: NR33 4GP</li>
                            </ul>
                       </div>

                <hr>

                <h3 class="nhsuk-heading-m">What was updated:</h3>
                <ul class="nhsuk-list nhsuk-list--bullet">
                   <li>New How to Apply screen (Homepage)</li>
                   <li>New 'Update my details' button in Keep your details up to date</li>
                   <li>New kickout/end screens</li>
                   <li>Updating your claim: adding a new pregnancy & a baby/child</li>
                   <li>Customer Varification functionality</li>
                </ul>

                <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0">
                   Last Updated: 16 April 2024</p>
             </div>
             </div>
          </details>

          <hr>

          <p><a href="archive">View archive</a> of previous prototype versions and history</p>




         <!-- End of content -->
      </div>
   </div>
   {% endblock %}
</body>

</html>
