{% extends 'layout.html' %}

{% block pageTitle %}
Confirm your details - Get help to buy food and milk (Healthy Start) - NHSBSA
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        
        <h1 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--xl nhsuk-u-margin-bottom-3">
                   Confirm your details
                    </label>
                </h1>
                <span class="nhsuk-hint" id="example-with-hint-text-hint">
                  These are the details we have from your NHS record. <br>
                  If any of these details are not correct, contact your GP surgery.
                </span>

        <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-2">About you</h2>

       
            <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Full name
                </dt>
                <!--<dd class="nhsuk-summary-list__value">
                    {{ data['firstname'] }} {{ data['lastname'] }}
                </dd>-->
                <dd class="nhsuk-summary-list__value">
                    Riley Jones
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <span class="nhsuk-u-visually-hidden"> name</span>
                </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Address
                </dt>
               <!-- <dd class="nhsuk-summary-list__value">
                    {{ data['addressline1'] }},<br>
                    {% if data['addressline2'] %}{{ data['addressline2'] }},<br>{% endif %}
                    {{ data['towncity'] }},<br>
                    {{ data['postcode'] }}
                </dd>-->
                <dd class="nhsuk-summary-list__value">
                    15 Palm Road, <br>
                    London, <br>
                    NR33 4GP
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <span class="nhsuk-u-visually-hidden"> address</span>
                </dd>
                </div>
            
                <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Date of birth
                </dt>
                <!--<dd class="nhsuk-summary-list__value">
                    {{ data['dateofbirth'] }}
                </dd>-->
                <dd class="nhsuk-summary-list__value">
                    2 February 1999
                </dd>
                
                <dd class="nhsuk-summary-list__actions">
                    <span class="nhsuk-u-visually-hidden"> date of birth</span>
                    
                </dd>
                </div>
            
                <!--<div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    National insurance number
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{ data['nationalinsurancenumber'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <span class="nhsuk-u-visually-hidden"> national insurance number</span>
                    
                </dd>
                </div>-->

                <!-- {% if data['benefits'] %}
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Benefits
                        </dt>
                        <dd class="nhsuk-summary-list__value">

                            {% if data['benefits'] == "UC" %}
                            Universal Credit<br>
                            {% elseif data['benefits'] == "CTC" %}
                            Child Tax Credit<br>
                            {% elseif data['benefits'] == "JSA" %}
                            Jobseeker's Allowance (JSA)<br>
                            {% elseif data['benefits'] == "ESA" %}
                            Employment and Support Allowance (ESA)<br>
                            {% elseif data['benefits'] == "IS" %}
                            Income Support<br>
                            {% elseif data['benefits'] == "PC" %}
                            Pension Credit<br>
                            {% elseif data['benefits'] == "WTC" %}
                            Working Tax Credit<br>
                            {% else %}
                            
                            {% endif %}
                        </dd>

                        <dd class="nhsuk-summary-list__actions">

                            <a href="benefits">
                                Change<span class="nhsuk-u-visually-hidden"> you get benefits</span>
                            </a>

                        </dd>

                    </div>
                {% endif %} -->
                        
            </dl>
            
        <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>You can also check your <a href="https://yellowcard.mhra.gov.uk/" title="External website">NHS login account setting</a>.</p>
        </div>

            <form action="account/v1/apply/confirm-your-details" method="post">
            <div class="nhsuk-form-group">
      
                <fieldset class="nhsuk-fieldset">
        
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                    <h2 class="nhsuk-fieldset__heading">
                      Is this information correct?
                    </h2>
                </legend>
                
        
                    <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="information-yes" name="information" type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="information-yes">
                                Yes
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="information-no" name="information" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="information-no">
                                No
                            </label>
                        </div>
                    </div>
        
         
                </fieldset>
        
              </div>

              <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>
        
    </div>
</div>

{% endblock %}