{% extends 'layout.html' %}

{% block pageTitle %}
We’re considering your application
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application unsuccessful
          </h1>
        </div>
      </div>

      <p>Your application may have been unsuccessful because you:</p>
      <ul>
          <li>don’t qualify based on the benefits you get and your family income</li>
          <li>entered something incorrectly</li>
      </ul>

      <p>If you think you should qualify, make sure you enter the same details you used when you applied for any benefits.</p>

      <!-- <h2 class="nhsuk-heading-m">You may still be entitled to Healthy Start</h2>
      <p>If you are under 18 years old and at least 10 weeks pregnant, you can apply for Healthy Start by <a>downloading this application form (PDF, ___KB)</a>.</p>
      <p>When you have filled it in you should send it back to us with a good quality copy of either your:
        <ul>
        <li>birth certificate</li>
        <li>passport</li>
        <li>driving licence</li>
        </ul>

        <p>This can either be a scan, photocopy or photo of the original document. It will be used to confirm your age and identity.</p>

        <p>You can send the form and the copy of your identification to us by either:</p>
        <ul>
        <li>email to healthy.start@nhsbsa.nhs.uk</li>
        <li>post to NHS Business Services Authority, Bridge House, 152 Pilgrim Street, Newcastle upon Tyne, NE1 6SN</li>
        </ul> -->

        <h2 class="nhsuk-heading-m">Check your details</h2>
        <p>If you think a mistake has been made, you should check the details you have registered with either:</p>
        <ul>
        <li><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/tax-credits-enquiries">HMRC for tax credits (opens in a new tab)</a></li>
        <li><a href="https://www.gov.uk/universal-credit/contact-universal-credit">DWP for Universal Credit (opens in a new tab)</a></li>
        </ul>

      <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30 seconds).</p>
    </div>
  </div>

{% endblock %}
