{% extends 'layout.html' %}

{% block pageTitle %}
Do you live in England, Wales or Northern Ireland?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-heading-xl">You cannot apply for Healthy Start yet</h1>
        <p>This is because you must be at least 10 weeks pregnant to be eligible.</p>

    </div>
</div>

{% endblock %}