{% extends 'layout.html' %}

{% block pageTitle %}
You are not eligible for help to get money off milk, food and vitamins
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-fieldset__legend--xl">
            You are not eligible for Healthy Start
        </h1>

        {% if (data['universalcredit'] == "no") or (data['childtaxcredits'] == "no") or (data['JSA'] == "contribution") or (data['ESA'] == "contribution") or (data['pensioncredit'] == "no") or (data['workingtaxcredits'] == "no") %}
        <p>
            You are not eligible because:
        </p>
        {% endif %}

        {% if (data['ESA'] == "income") and (data['pregnant'] == "no") %}
        <p>
            You are not eligible because:
        </p>
        {% endif %}        

        <ul>
            {% if (data['universalcredit'] == "no") %}
            <li>your take-home pay for your last Universal Credit period was more than £408</li>
            {% endif %}
            {% if (data['childtaxcredits'] == "no") %}
            <li>your household income is more than £16, 190 per year</li>
            {% endif %}
            {% if (data['JSA'] == "contribution") %}
            <li>you get Contribution-based Jobseeker’s Allowance</li>
            {% endif %}
            {% if (data['ESA'] == "contribution") %}
            <li>you get Contribution-based Employment and Support Allowance</li>
            {% endif %}
            {% if (data['ESA'] == "income") and (data['pregnant'] == "no") %}
            <li>you get Income-related Employment and Support Allowance and are not pregnant</li>
            {% endif %}
            {% if (data['pensioncredit'] == "no") %}
            <li>you do not get the 'child addition' payment with your Pension Credit award</li>
            {% endif %}
            {% if (data['workingtaxcredits'] == "no") %}
            <li>you get Working Tax Credit as well as Child Tax Credit</li>
            {% endif %}
            {% if (data['workingtaxcredit'] == "yes") %}
            <p>You are not eligible because:</p>
            <li>you get Working Tax Credit as well as Child Tax Credit</li>
            {% endif %}
        </ul>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                If you’re not a British citizen but your child is
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>You might be eligible for NHS Healthy Start depending on your immigration status.</p>
              <p>You can get Healthy Start if all the following are true:</p>
              <ul>
                <li>You have at least 1 British child under 4 years old – <a href="">check if your child is a British citizen (opens in a new tab)</a> if you're not sure.</li>
                <li>Your family earns £408 or less per month after tax.</li>
                <li>you cannot claim <a href="">‘public funds’ (opens in a new tab)</a> (for example, benefits) – either because of your immigration status or because you do not have an immigration status.</li>
              </ul>
              <p>Your biometric residence permit (BRP) or your <a href="">online immigration status (opens in a new tab)</a> will say if you cannot claim public funds. You might also have a letter from the Home Office about it.</p>
              <p>To apply for NHS Healthy Start, ask for an application form via email. Only use this email address if you think you cannot claim public funds because of your immigration status.</p> 
              <p><a href="mailto:healthystartclaim@dhsc.gov.uk">healthystartclaim@dhsc.gov.uk</a></p>
            </div>
          </details>

    </div>
</div>

{% endblock %}