{% extends 'layout.html' %}

{% block pageTitle %}
Application could not be completed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Request Completed
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            We have updated your record
          </h2>
        </div>
      </div>

      <h2 class="nhsuk-heading-m">What happens next?</h2>
      <p>You will receive a confirmation shortly.</p>


      <p>Phone lines are open Monday to Friday, 8am to 6pm (except public holidays).</p>
      
      <p>
        <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">
          Find out more about call charges (opens in new tab).</a>
      </p>
  

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            If you’re Deaf or have a hearing loss
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Our automated phone line is not accessible 
            if you’re Deaf or have a hearing loss or tinnitus.</strong></p>
          <p>
            You can call us on 0300 330 7010
          </p>
          <p>
            This phone line is open Monday to Friday, 8am to 6pm (excluding public holidays), 
            and is compatible with assistive listening devices like personal hearing loops.
          </p>
        </div>
        </details>
    
      </div>
  </div>

{% endblock %}
