{% extends 'layout.html' %}

{% block pageTitle %}
Error
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">
            Enable cookies to continue
        </h1>

        <p>
            Our Get help to buy food and milk (Healthy Start) service puts small files (known as 'cookies') onto your device.
        </p>

        <p>
            To be able to use this service online, you need to enable cookies.
        </p>

        <p>Find out <a href="http://www.allaboutcookies.org/" target="_blank">how to manage cookies<span class="nhsuk-u-visually-hidden"> (Opens in a new tab)</span></a></p>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Why we use cookies
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>Cookies help us understand how you use our service and make improvements.</p>
              <p>They allow us to temporarily store the information you enter so that we can process your application.</p>
              <p><a target="_blank" title="Find out more about cookies" href="https://www.nhsbsa.nhs.uk/cookies">Find out more about cookies<span class="nhsuk-u-visually-hidden"> (Opens in a new tab)</span></a></p>
            </div>
          </details>

        <p>
            If you've enabled cookies you can:
        </p>

        <p>
            <a href="../start">Apply to get help to buy food and milk (Healthy Start)</a>
        </p>

    </div>
</div>

{% endblock %}