{% extends 'layout.html' %}

{% block pageTitle %}
Application not successful
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application not successful
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            You’re not
              entitled to get help to buy food and milk (Healthy Start)
          </h2>
        </div>
      </div>

      <p>We cannot find you in our records. You may have entered something wrong.</p>
      <p>If you’re on a qualifying benefit make sure you enter the same details you registered with the benefits agencies (DWP or HMRC).</p>
      <h2 class="nhsuk-heading-m">Any problems</h2>
      <p>If you think a mistake has been made, contact the benefits
        agency (DWP or HMRC) and check the details you have registered.</p>
      <h2 class="nhsuk-heading-m">Give feedback</h2>
      <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this
              service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30
          seconds).</p>
    </div>
  </div>

{% endblock %}