{% extends 'layout.html' %}

{% block pageTitle %}
We’re considering your application
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            We've received your application
          </h1>
          <h3 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            Reference number: <span class="nhsuk-caption-xl nhsuk-caption--bottom nhsuk-u-font-weight-bold" style="color: white;">HDJ2-123F</span>
          </h3>
        </div>
      </div>

      {% if (data['lastname'] == "Green") %}
        <p>We have received your application along with your evidence</p>
      {% elseif (data['lastname'] == "Blue") %}
        <p>We have received your application along with your evidence</p>
      {% else %}
        <p>We have received your application</p>
      {% endif %}
       <p>If you’re currently receiving paper vouchers for Healthy Start, these will now stop. You can still use your Healthy Start vouchers until their expiry date. You can find the expiry date printed on your vouchers.</p>

      <h2 class="nhsuk-heading-m">What happens next?</h2>
      {% if (data['lastname'] == "Green") %}
        <p>The evidence you have provided will be checked and your will be notified via ((email/text)) of any updates to your application.</p>
        <p>You should receive notifications within the next 5 days.</p>
      {% elseif (data['lastname'] == "Blue") %}
        <p>The evidence you have provided will be checked and your will be notified via ((email/text)) of any updates to your application.</p>
        <p>You should receive notifications within the next 5 days.</p>
      {% else %}
        <p>You must now send us evidence. You can send this by post or email.</p>
      {% endif %}

      <h2 class="nhsuk-heading-m">Give feedback</h2>
        <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30 seconds).</p>
    </div>
  </div>

{% endblock %}