{% extends 'layout.html' %}

{% block pageTitle %}
Evidence type
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <form action="v14/evidence-type" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">

                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                    <h1 class="nhsuk-fieldset__heading">
                        Upload evidence
                    </h1>
                </legend>

                <p>You need to provide evidence to support your claim.</p>

                <h2 class="nhsuk-heading-m">Select one document to upload</h2>

                    <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="birth-cert" name="evidence" type="radio" value="Birth certificate">
                            <label class="nhsuk-label nhsuk-radios__label" for="birth-cert">
                                Your birth certificate (full or short version)
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="passport" name="evidence" type="radio" value="Passport">
                            <label class="nhsuk-label nhsuk-radios__label" for="passport">
                               Your passport
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="no" name="evidence" type="radio" value="Driving license">
                            <label class="nhsuk-label nhsuk-radios__label" for="no">
                              Your driving license (full or provisional)
                            </label>
                        </div>
                    </div>
                </fieldset>

            </div>

            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                    Why do we ask for evidence
                    </span>
                </summary>
                <div class="nhsuk-details__text">
                    <p>We use this to check your age</p>
                </div>
            </details>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}