{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}


        <h1><span role="text">Before you start</span></h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p>We use NHS and government data sources to find and update your Healthy Start claim.</p>
        <p>You can use this service to:</p>

        <ul>
            <li>add a new pregnancy</li>
            <li>tell us you’ve given birth</li>
            <li>tell us you’ve become responsible for an older child under 4</li>
        </ul>

        <p>You cannot use this service to view or change any other details of your Healthy Start claim.</p>

        <div class="nhsuk-warning-callout nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-6">
            <h3 class="nhsuk-warning-callout__label">
                <span role="text">
                    <span class="nhsuk-u-visually-hidden">Important: </span>
                    Important
                </span>
            </h3>
            <p>If you're adding a new child under 4 years old, make sure you enter their details exactly as they appear on your benefit award notice.</p>
            <p>If you get Universal Credit, all of your children must be named and verified on your <a href="https://www.gov.uk/sign-in-universal-credit" target="_blank">Universal Credit claim (opens in a new tab) 
                     </a>before you can add them to your claim.
            </p>
                
        </div>

        <h2 class="nhsuk-heading-l">What you’ll need</h2>
        <p>To keep your personal information secure, we’ll ask you to enter:</p>
        <ul>
            <li>a 6 digit security code - we’ll send this by text message to the mobile number you gave us when you applied for Healthy Start</li>
            <li>your National Insurance number</li>
        </ul>


        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                If you cannot enter this information
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>If you cannot find your National Insurance number or you do not have a mobile number linked to your Healthy Start account, you’ll need to <a href="https://www.healthystart.nhs.uk/contact-us/" target="_blank">contact us</a> to update your claim.</p>
              <p>GOV.UK can help you <a href="https://www.gov.uk/find-national-insurance-number" target="_blank">find your National Insurance number (opens in a new tab)</a> if you do not remember it.</p>
            </div>
          </details>


          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
          
            <p>Your session will time out if you are inactive for 30 minutes. This is to keep your information secure.</p>
          </div>




        <p><a href="apply/what-update-ni"
                class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Start now</a></p>

    </div>

</div>
{% endblock %}