{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1><span role="text">Before you start <span class="nhsuk-caption-xl nhsuk-caption--bottom"><span class="nhsuk-u-visually-hidden">-</span> (Healthy Start)</span></span></h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p>We will ask for information on:</p>
        <ul>
            <li>your personal details</li>
            <li>your pregnancy</li>
            <li>your children</li>
        </ul>
        
        <p>We may ask you for information about:</p>
        <ul>
            <li>your benefits</li>
        </ul>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                If you are receiving Universal Credit
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>Healthy Start uses data from Universal Credit when matching against your childs details.</p>
                <p>We ask that you check all your children are added to your Universal Credit claim as this will support your Healthy Start application</p>
            </div>
        </details>

        <p>The Healthy Start online application uses government data to check your eligibility. For any reason we are not able to match your details you may be asked to provide evidence to support your application, the documents we may require are:</p>
        <ul>
            <li>birth certificate (long or short version)</li>
            <li>benefits award notice</li>
            <li>children’s birth certificate (long or short version)</li>
        </ul>
        
        <p><a href="start" class="nhsuk-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">Continue</a></p>

    </div>

</div>
{% endblock %}