{% extends 'layout.html' %}

{% block pageTitle %}
More information needed
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-card" style="background: #4B6271; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Application in progress
          </h1>
          <h2 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            We need more information from you
          </h2>
          <h3 class="nhsuk-card__heading nhsuk-u-font-weight-normal" style="text-align: center; color: white;">
            Reference number: <span class="nhsuk-caption-xl nhsuk-caption--bottom nhsuk-u-font-weight-bold" style="color: white;">{% if (data['firstname'] == 'Malia') and (data['lastname'] == 'Elba')  %}REF1234A{% else %}ABC1234D{% endif %}</span>
          </h3>
        </div>
      </div>

      {% if (data['firstname'] == 'Malia') and (data['lastname'] == 'Elba')  %}
        <p>We have been unable to confirm your children's eligibility on your Universal Credit claim.</p>
      {% else %}
        <p></p>
      {% endif %}

      <h2 class="nhsuk-heading-m">What you need to do next</h2>
      <p>To continue with your application, send us:</p>

      

      {% if (data['firstname'] == 'Malia') and (data['lastname'] == 'Elba') %}
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>proof of your children's eligibility (birth certificate)</li>
        </ul>
      {% else %}
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>proof of your identity (birth / marriage certificate, valid passport, valid driving licence or immigration visa)</li>
          <li>proof of your eligibility (benefit awards notice)</li>
          <li>proof of your children's eligibility (birth certificate)</li>
        </ul>
      {% endif %}

      <h2 class="nhsuk-heading-m">How do I provide these?</h2>

      <p>We have sent you a notification on how to provide these documents.</p>

      <p>You can email copies of your documents to <a href="mailto:healthy.start@nhsbsa.nhs.uk?subject=We need more information from you (Ref: ABC1234D)">healthy.start@nhsbsa.nhs.uk</a>. Make sure to include your reference number (ABC1234D) in your email.</p>
      <p>You can post copies of your documents to:</p>
      <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <span class="nhsuk-u-visually-hidden">Information:</span>
      <p>NHS Healthy Start Scheme (ABC1234D),<br>NHSBSA,<br>Bridge House,<br>152 Pilgrim Street,<br>Newcastle upon Tyne,<br>NE1 6SN</p>
      </div>
      <p>Once we get your evidence, we’ll let you know the outcome of your application within 10 working days.</p>
      <p>If your application is successful, we will backdate your payment to the date you applied.</p>

     <h2 class="nhsuk-heading-m">Give feedback</h2>
      <p><a href="https://wh1.snapsurveys.com/s.asp?k=159241192074" target="_blank">What did you think of this service?<span class="nhsuk-u-visually-hidden"> (opens in a new window)</span></a> (takes 30 seconds).</p>
    </div>
  </div>

{% endblock %}