{% extends 'layout.html' %}

{% block pageTitle %}
What is your email address?
{% endblock %}

{% block content %}
<style>
.nhsuk-checkboxes__input + .nhsuk-checkboxes__label::after {
    left: 8px;
    top: 9px;
}
</style>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <form action="v20/email-address" method="post">

        <div class="nhsuk-form-group">
            <h1 class="nhsuk-label-wrapper">
                <label class="nhsuk-label nhsuk-label--xl nhsuk-u-margin-bottom-3" for="emailaddress">
                What is your email address? {% if data['onlineaccount'] === 'yes' %}{% else %}(optional){% endif %}
                </label>
            </h1>

            <p class="nhsuk-hint">You must use an email address only used by you. If you use a shared email address, it could put your personal information at risk.</p>

            <input class="nhsuk-input nhsuk-input--width-20" id="emailaddress" name="emailaddress" type="text" autocomplete="email">
        </div>

            <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                    Why we ask for your email address
                    </span>
                </summary>
                <div class="nhsuk-details__text">
                    {% if data['onlineaccount'] === 'yes' %}
                        <p>We use this to create your online account. Without an email address, we can't create an online account. We also use it to send notifications about your application and payments.</p>
                    {% else %}
                        <p>We use this to send notifications about your application and payments.</p>
                    {% endif %}
                </div>
            </details>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}